# 1) To set up your own data cleaning pipeline

In [1]:
#Load the datasets
def read_dataset(name): #when only one dataset is provided as input
    import pandas as pd
    if name == "gpsa":
        df = pd.read_csv('../datasets/googleplaystore.csv', sep=',', encoding ='ISO-8859-1')
    elif name == "gpsu":
        df = pd.read_csv('../datasets/googleplaystore_reviews.csv', sep=',',encoding = 'ISO-8859-1')  
    elif name == "titanic":
        df = pd.read_csv('../datasets/titanic/titanic_train.csv', sep=',', encoding ='ISO-8859-1')
    elif name == "house":
        df = pd.read_csv('../datasets/house/house_train.csv', sep=',', encoding ='ISO-8859-1')
    else: 
        raise ValueError('Invalid dataset name')               
    return df

In [2]:
read_dataset("titanic")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## - Loading your data

In [3]:
import learn2clean.loading.reader as rd 
import learn2clean.normalization.normalizer as nl 
import pandas as pd

# executing profiling function for one dataset as input
rd.profile_summary(read_dataset('titanic'), plot=False)

Profiling datasets
      Attribute     Type  Num. Missing Values  Num. Unique Values           Sknewness  Kurtosis
0   PassengerId    int64                  0.0               891.0                   0      -1.2
1      Survived    int64                  0.0                 2.0            0.477717  -1.77179
2        Pclass    int64                  0.0                 3.0           -0.629486  -1.27957
3           Age  float64                177.0                89.0  0.3882898514698658  0.168637
4         SibSp    int64                  0.0                 7.0             3.68913   17.7735
5         Parch    int64                  0.0                 7.0             2.74449   9.71661
6          Fare  float64                  0.0               248.0             4.77925   33.2043
7          Name   object                  0.0               891.0                 N/A       N/A
8           Sex   object                  0.0                 2.0                 N/A       N/A
9        Ticket   object                  0.0               681.0                 N/A       N/A
10        Cabin   object                687.0               148.0                 N/A       N/A
11     Embarked   object                  2.0                 4.0                 N/A       N/A

In [4]:

read_dataset('titanic')['Survived'].head() # the target variable is categorical (bool)

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [5]:

# no encoding on the target variable
d_not_enc = rd.Reader(sep=',',verbose=True, encoding=False) 

# when you have two datasets as inputs: train and test datasets
titanic  = ["../datasets/titanic/titanic_train.csv", "../datasets/titanic/test.csv"]
titanic_not_encoded = d_not_enc.train_test_split(titanic, 'Survived')
titanic_not_encoded['train'].head()

Reading csv : titanic_train.csv ...
Reading data ...
CPU time: 2.596506118774414 seconds
Profiling datasets
      Attribute     Type  Num. Missing Values  Num. Unique Values           Sknewness  Kurtosis
0   PassengerId  float64                  0.0               891.0                   0      -1.2
1      Survived  float64                  0.0                 2.0            0.477717  -1.77179
2        Pclass  float64                  0.0                 3.0           -0.629486  -1.27957
3           Age  float64                177.0                89.0  0.3882898514698658  0.168637
4         SibSp  float64                  0.0                 7.0             3.68913   17.7735
5         Parch  float64                  0.0                 7.0             2.74449   9.71661
6          Fare  float64                  0.0               248.0             4.77925   33.2043
7          Name   object                  0.0               891.0                 N/A       N/A
8           Sex   object                  0.0                 2.0                 N/A       N/A
9        Ticket   object                  0.0               681.0                 N/A       N/A
10        Cabin   object                687.0               148.0                 N/A       N/A
11     Embarked   object                  2.0                 4.0                 N/A       N/A

Reading csv : test.csv ...
Reading data ...
CPU time: 0.032224178314208984 seconds
Profiling datasets
      Attribute     Type  Num. Missing Values  Num. Unique Values            Sknewness   Kurtosis
0   PassengerId  float64                  0.0               418.0                    0   -1.20001
1        Pclass  float64                  0.0                 3.0            -0.532252    -1.3805
2           Age  float64                 86.0                80.0  0.45529229694892764  0.0645088
3         SibSp  float64                  0.0                 7.0              4.15336    26.1685
4         Parch  float64                  0.0                 8.0              4.63774    31.0237
5          Fare  float64                  1.0               170.0   3.6739366758439074    17.6931
6          Name   object                  0.0               418.0                  N/A        N/A
7           Sex   object                  0.0                 2.0                  N/A        N/A
8        Ticket   object                  0.0               363.0                  N/A        N/A
9         Cabin   object                327.0                77.0                  N/A        N/A
10     Embarked   object                  0.0                 3.0                  N/A        N/A

> Number of common features : 11

gathering and crunching for train and test datasets ...
reindexing for train and test datasets ...

> Number of categorical features in the training set: 5
> Number of numerical features in the training set: 6
> Number of training samples : 891
> Number of test samples : 418

> Top sparse features (% missing values on train set):
Cabin       77.1
Age         19.9
Embarked     0.2
dtype: float64

> Task : classification
0.0    549
1.0    342
Name: Survived, dtype: int64

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0.0,1.0,3.0,male,1.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",0.0,2.0,1.0,female,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0.0,3.0,3.0,female,0.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0.0,4.0,1.0,female,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0.0,5.0,3.0,male,0.0,373450

In [6]:

# otherwise for only one dataset as input, 
# train_test_split function will split the input dataset into train/test dataset
titanic_train_only  = ["../datasets/titanic/titanic_train.csv"]
titanic_train_only_not_encoded = d_not_enc.train_test_split(titanic_train_only, 'Survived')
titanic_train_only_not_encoded['train'].head()

Reading csv : titanic_train.csv ...
Reading data ...
CPU time: 0.04419302940368652 seconds
Profiling datasets
      Attribute     Type  Num. Missing Values  Num. Unique Values           Sknewness  Kurtosis
0   PassengerId  float64                  0.0               891.0                   0      -1.2
1      Survived  float64                  0.0                 2.0            0.477717  -1.77179
2        Pclass  float64                  0.0                 3.0           -0.629486  -1.27957
3           Age  float64                177.0                89.0  0.3882898514698658  0.168637
4         SibSp  float64                  0.0                 7.0             3.68913   17.7735
5         Parch  float64                  0.0                 7.0             2.74449   9.71661
6          Fare  float64                  0.0               248.0             4.77925   33.2043
7          Name   object                  0.0               891.0                 N/A       N/A
8           Sex   object                  0.0                 2.0                 N/A       N/A
9        Ticket   object                  0.0               681.0                 N/A       N/A
10        Cabin   object                687.0               148.0                 N/A       N/A
11     Embarked   object                  2.0                 4.0                 N/A       N/A

> Number of categorical features in the training set: 5
> Number of numerical features in the training set: 7
> Number of data samples : 891

> Top sparse features (% missing values on dataset set):
Cabin       77.0
Age         19.1
Embarked     0.3
dtype: float64

> Task : classification
0.0    383
1.0    213
Name: Survived, dtype: int64

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
860,861.0,0.0,3.0,"Hansen, Mr. Claus Peter",male,41.0,2.0,0.0,350026,14.1083,NaN,S
468,469.0,0.0,3.0,"Scanlan, Mr. James",male,NaN,0.0,0.0,36209,7.7250,NaN,Q
474,475.0,0.0,3.0,"Strandberg, Miss. Ida Sofia",female,22.0,0.0,0.0,7553,9.8375,NaN,S
182,183.0,0.0,3.0,"Asplund, Master. Clarence Gustaf Hugo",male,9.0,4.0,2.0,347077,31.3875,NaN,S
643,644.0,1.0,3.0,"Foo, Mr. Choong",male,NaN,0.0,0.0,1601,56.4958,NaN,S

## - Normalize your data

In [7]:
# >> Examples of normalization
# The choice for the normalizer : 'ZS', 'MM','DS' or 'Log10'
#    Available strategies=
#       - 'ZS' z-score normalization
#       - 'MM' MinMax scaling
#       - 'DS' decimal scaling
#       - 'Log10 log10 scaling

import learn2clean.normalization.normalizer as nl 

# MM normalization with exclude = None, all numeric variables will be normalized
n1= nl.Normalizer(titanic_not_encoded.copy(),strategy='MM',exclude=None, verbose =False)
print('"Fare" original variable\n',titanic_not_encoded['train']['Fare'].head())
print('"Fare" normalized variable\n', n1.transform()['train']['Fare'].head())

"Fare" original variable
 0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64
>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.03120589256286621 seconds

"Fare" normalized variable
 0    0.014151
1    0.139136
2    0.015469
3    0.103644
4    0.015713
Name: Fare, dtype: float64

In [9]:

#ZS normalization
n3= nl.Normalizer(titanic_not_encoded.copy(),strategy='ZS',exclude=None, verbose = False)
print('ZS normalized variables\n',n3.transform()['train'].head())

#DS scaling
n4= nl.Normalizer(titanic_not_encoded.copy(),strategy='DS',exclude=None, verbose = False)
print('DS normalized variables\n',n4.transform()['train'].head())

#Log10 scaling
n5= nl.Normalizer(titanic_not_encoded.copy(),strategy='Log10',exclude=None, verbose = False)
#print('Log10 normalized variables\n',n5.transform()['train'].head())
print('Log10 normalized variables none excluded in train dataset\n',n5.transform()['train']['Fare'].head())
print('Log10 normalized variables none excluded in test dataset\n',n5.transform()['test']['Fare'].head())

#Log10 scaling  excluding target variable 'Fare'
n6= nl.Normalizer(titanic_not_encoded.copy(),strategy='Log10',exclude='Fare',verbose = False)

print("Log10 normalized variables 'Fare' excluded in train dataset \n",n6.transform()['train']['Fare'].head())
print("Log10 normalized variables 'Fare' excluded  in test dataset \n",n6.transform()['test']['Fare'].head())

n7= nl.Normalizer(titanic_not_encoded.copy(),strategy='Log10',exclude='Fare', verbose = False)
print('Log10 normalized variables none excluded\n', n5.transform()['train']['Fare'].head())
print("Log10 normalized variables 'Pclass' excluded\n")
n7.transform()['train']['Pclass'].head()
# here Pclass is not excluded from normalization!

>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.03693270683288574 seconds

ZS normalized variables
         Age      Fare     Parch  PassengerId    Pclass     SibSp Cabin  \
0 -0.530005 -0.502163 -0.473408    -1.729137  0.826913  0.432550   NaN
1  0.571430  0.786404 -0.473408    -1.725251 -1.565228  0.432550   C85
2 -0.254646 -0.488580 -0.473408    -1.721365  0.826913 -0.474279   NaN
3  0.364911  0.420494 -0.473408    -1.717480 -1.565228  0.432550  C123
4  0.364911 -0.486064 -0.473408    -1.713594  0.826913 -0.474279   NaN

  Embarked                                                 Name     Sex  \
0        S                              Braund, Mr. Owen Harris    male
1        C  Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female
2        S                               Heikkinen, Miss. Laina  female
3        S         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4        S                             Allen, Mr. William Henry    male

             Ticket
0         A/5 21171
1          PC 17599
2  STON/O2. 3101282
3            113803
4            373450
>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.03208112716674805 seconds

DS normalized variables
         Age      Fare         Parch   PassengerId        Pclass         SibSp  \
0  0.305556  0.103943  1.000000e-07  1.000000e-07  9.999999e-01  7.777778e-01
1  0.740741  0.869598  1.000000e-07  1.086957e-03  1.000000e-07  7.777778e-01
2  0.444444  0.222222  1.000000e-07  2.173913e-03  9.999999e-01  1.000000e-07
3  0.685185  0.817049  1.000000e-07  3.260870e-03  1.000000e-07  7.777778e-01
4  0.685185  0.227696  1.000000e-07  4.347826e-03  9.999999e-01  1.000000e-07

  Cabin Embarked                                                 Name     Sex  \
0   NaN        S                              Braund, Mr. Owen Harris    male
1   C85        C  Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female
2   NaN        S                               Heikkinen, Miss. Laina  female
3  C123        S         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4   NaN        S                             Allen, Mr. William Henry    male

             Ticket
0         A/5 21171
1          PC 17599
2  STON/O2. 3101282
3            113803
4            373450
>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.022478818893432617 seconds

Log10 normalized variables none excluded in train dataset
 0    4.0
1    4.0
2    4.0
3    4.0
4    4.0
Name: Fare, dtype: float64
>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.024877071380615234 seconds

Log10 normalized variables none excluded in test dataset
 0    2.0
1    2.0
2    2.0
3    2.0
4    2.0
Name: Fare, dtype: float64
>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.025292158126831055 seconds

Log10 normalized variables LotArea excluded in train dataset
 0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64
>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.022368192672729492 seconds

Log10 normalized variables LotArea excluded  in test dataset
 0     7.8292
1     7.0000
2     9.6875
3     8.6625
4    12.2875
Name: Fare, dtype: float64
>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.026147127151489258 seconds

Log10 normalized variables none excluded
 0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: Fare, dtype: float64
Log10 normalized variables SalePrice excluded

>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.02881932258605957 seconds

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: Pclass, dtype: float64

In [10]:
# To prevent that and avoid normalization for more than one numeric variables, 
# please change the data type into 'object' data type right after loading 
# and before normalization and learn2clean pipeline

titanic  = ["../datasets/titanic/titanic_train.csv", "../datasets/titanic/test.csv"]
titanic_not_encoded = d_not_enc.train_test_split(titanic, 'Survived')

titanic_not_encoded['train']['Pclass'] = titanic_not_encoded['train']['Pclass'].astype('object')
titanic_not_encoded['train']['PassengerId'] = titanic_not_encoded['train']['PassengerId'].astype('object')
titanic_not_encoded['train']['SibSp'] = titanic_not_encoded['train']['SibSp'].astype('object')
titanic_not_encoded['train']['Parch'] = titanic_not_encoded['train']['Parch'].astype('object')

titanic_not_encoded['test']['Pclass'] = titanic_not_encoded['test']['Pclass'].astype('object')
titanic_not_encoded['test']['PassengerId'] = titanic_not_encoded['test']['PassengerId'].astype('object')
titanic_not_encoded['test']['SibSp'] = titanic_not_encoded['test']['SibSp'].astype('object')
titanic_not_encoded['test']['Parch'] = titanic_not_encoded['test']['Parch'].astype('object')

normalized_titanic = nl.Normalizer(titanic_not_encoded.copy(),strategy='DS',exclude='Age', verbose = False).transform()
normalized_titanic['train'].head()

Reading csv : titanic_train.csv ...
Reading data ...
CPU time: 0.03417491912841797 seconds
Profiling datasets
      Attribute     Type  Num. Missing Values  Num. Unique Values           Sknewness  Kurtosis
0   PassengerId  float64                  0.0               891.0                   0      -1.2
1      Survived  float64                  0.0                 2.0            0.477717  -1.77179
2        Pclass  float64                  0.0                 3.0           -0.629486  -1.27957
3           Age  float64                177.0                89.0  0.3882898514698658  0.168637
4         SibSp  float64                  0.0                 7.0             3.68913   17.7735
5         Parch  float64                  0.0                 7.0             2.74449   9.71661
6          Fare  float64                  0.0               248.0             4.77925   33.2043
7          Name   object                  0.0               891.0                 N/A       N/A
8           Sex   object                  0.0                 2.0                 N/A       N/A
9        Ticket   object                  0.0               681.0                 N/A       N/A
10        Cabin   object                687.0               148.0                 N/A       N/A
11     Embarked   object                  2.0                 4.0                 N/A       N/A

Reading csv : test.csv ...
Reading data ...
CPU time: 0.029849767684936523 seconds
Profiling datasets
      Attribute     Type  Num. Missing Values  Num. Unique Values            Sknewness   Kurtosis
0   PassengerId  float64                  0.0               418.0                    0   -1.20001
1        Pclass  float64                  0.0                 3.0            -0.532252    -1.3805
2           Age  float64                 86.0                80.0  0.45529229694892764  0.0645088
3         SibSp  float64                  0.0                 7.0              4.15336    26.1685
4         Parch  float64                  0.0                 8.0              4.63774    31.0237
5          Fare  float64                  1.0               170.0   3.6739366758439074    17.6931
6          Name   object                  0.0               418.0                  N/A        N/A
7           Sex   object                  0.0                 2.0                  N/A        N/A
8        Ticket   object                  0.0               363.0                  N/A        N/A
9         Cabin   object                327.0                77.0                  N/A        N/A
10     Embarked   object                  0.0                 3.0                  N/A        N/A

> Number of common features : 11

gathering and crunching for train and test datasets ...
reindexing for train and test datasets ...

> Number of categorical features in the training set: 5
> Number of numerical features in the training set: 6
> Number of training samples : 891
> Number of test samples : 418

> Top sparse features (% missing values on train set):
Cabin       77.1
Age         19.9
Embarked     0.2
dtype: float64

> Task : classification
0.0    549
1.0    342
Name: Survived, dtype: int64

>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.03432297706604004 seconds

,Age,Fare,Cabin,Embarked,Name,Parch,PassengerId,Pclass,Sex,SibSp,Ticket
0,22.0,0.103943,NaN,S,"Braund, Mr. Owen Harris",0,1,3,male,1,A/5 21171
1,38.0,0.869598,C85,C,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",0,2,1,female,1,PC 17599
2,26.0,0.222222,NaN,S,"Heikkinen, Miss. Laina",0,3,3,female,0,STON/O2. 3101282
3,35.0,0.817049,C123,S,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,113803
4,35.0,0.227696,NaN,S,"Allen, Mr. William Henry",0,5,3,male,0,373450

## - Replace missing values

In [12]:
#>> Examples for missing value imputation
# Available strategies:
#            - 'EM': only for numerical variables; imputation based on
#                expectation maximization
#            - 'MICE': only for numerical variables  missing at random (MAR);
#                Multivariate Imputation by Chained Equations
#            - 'KNN', only for numerical variables; k-nearest neighbor
#                imputation (k=4) which weights samples using the mean squared
#                difference on features for which two rows both have observed
#                data
#            - 'RAND', 'MF': both for numerical and categorical variables;
#                replace missing values by randomly selected value in the 
#                variable domain or by the most frequent value in the variable
#                domain respectively
#            - 'MEAN', 'MEDIAN': only for numerical variables; replace missing
#                values by mean or median of the numerical variable respectvely
#            - or 'DROP' remove the row with at least one missing value

import learn2clean.imputation.imputer as imp

# replace missing values by the most frequent ones in the training and testing datasets

print('Number of missing values',normalized_titanic['train'].isnull().sum().sum()) 
imp1 = imp.Imputer(normalized_titanic.copy(),strategy='MF', verbose=True).transform()
imp2 = imp.Imputer(normalized_titanic.copy(),strategy='RAND', verbose=True).transform()
imp3 = imp.Imputer(normalized_titanic.copy(),strategy='DROP', verbose=True).transform()
imp4 = imp.Imputer(normalized_titanic.copy(),strategy='MEAN', verbose=True).transform() # for Age only numerical variable with missing values
imp5 = imp.Imputer(normalized_titanic.copy(),strategy='KNN', verbose=True).transform()
imp6 = imp.Imputer(normalized_titanic.copy(),strategy='MEDIAN', verbose=True).transform() # for Age only numerical variable with missing values
imp6 = imp.Imputer(normalized_titanic.copy(),strategy='EM', verbose=True).transform()
imp6 = imp.Imputer(normalized_titanic.copy(),strategy='MICE', verbose=True).transform()

Number of missing values 866
>>Imputation
* For train dataset
Before imputation:
Total 866 missing values in ['Age', 'Cabin', 'Embarked']
- 177 numerical missing values in ['Age']
- 689 non-numerical missing values in ['Cabin', 'Embarked']
Most frequent value for  Age is: 24.0
Most frequent value for  Fare is: 0.4444444444444444
Most frequent value for  Cabin is: C23 C25 C27
Most frequent value for  Embarked is: S
Most frequent value for  Name is: Bjornstrom-Steffansson, Mr. Mauritz Hakan
Most frequent value for  Parch is: 0.0
Most frequent value for  PassengerId is: 891.0
Most frequent value for  Pclass is: 3.0
Most frequent value for  Sex is: male
Most frequent value for  SibSp is: 0.0
Most frequent value for  Ticket is: 347082
After imputation:
Total 0 missing values
- 0 numerical missing values
- 0 non-numerical missing values
* For test dataset
Before imputation:
Total 414 missing values in ['Age', 'Fare', 'Cabin']
- 87 numerical missing values in ['Age', 'Fare']
- 327 non-numerical missing values in ['Cabin']
Most frequent value for  Age is: 24.0
Most frequent value for  Fare is: 0.6330980722637733
Most frequent value for  Cabin is: B57 B59 B63 B66
Most frequent value for  Embarked is: S
Most frequent value for  Name is: Lundstrom, Mr. Thure Edvin
Most frequent value for  Parch is: 0.0
Most frequent value for  PassengerId is: 1023.0
Most frequent value for  Pclass is: 3.0
Most frequent value for  Sex is: male
Most frequent value for  SibSp is: 0.0
Most frequent value for  Ticket is: PC 17608
After imputation:
Total 0 missing values
- 0 numerical missing values
- 0 non-numerical missing values
Imputation done -- CPU time: 0.11125493049621582 seconds

>>Imputation
* For train dataset
Before imputation:
Total 866 missing values in ['Age', 'Cabin', 'Embarked']
- 177 numerical missing values in ['Age']
- 689 non-numerical missing values in ['Cabin', 'Embarked']
After imputation:
Total 0 missing values
- 0 numerical missing values
- 0 non-numerical missing values
* For test dataset
Before imputation:
Total 414 missing values in ['Age', 'Fare', 'Cabin']
- 87 numerical missing values in ['Age', 'Fare']
- 327 non-numerical missing values in ['Cabin']
After imputation:
Total 0 missing values
- 0 numerical missing values
- 0 non-numerical missing values
Imputation done -- CPU time: 0.07637977600097656 seconds

>>Imputation
* For train dataset
Before imputation:
Total 866 missing values in ['Age', 'Cabin', 'Embarked']
- 177 numerical missing values in ['Age']
- 689 non-numerical missing values in ['Cabin', 'Embarked']
Dataset size reduced from 891 to 183
After imputation:
Total 0 missing values
- 0 numerical missing values
- 0 non-numerical missing values
* For test dataset
Before imputation:
Total 414 missing values in ['Age', 'Fare', 'Cabin']
- 87 numerical missing values in ['Age', 'Fare']
- 327 non-numerical missing values in ['Cabin']
Dataset size reduced from 418 to 87
After imputation:
Total 0 missing values
- 0 numerical missing values
- 0 non-numerical missing values
Imputation done -- CPU time: 0.06551194190979004 seconds

>>Imputation
* For train dataset
Before imputation:
Total 866 missing values in ['Age', 'Cabin', 'Embarked']
- 177 numerical missing values in ['Age']
- 689 non-numerical missing values in ['Cabin', 'Embarked']
After imputation:
Total 689 missing values
- 0 numerical missing values
- 689 non-numerical missing values
* For test dataset
Before imputation:
Total 414 missing values in ['Age', 'Fare', 'Cabin']
- 87 numerical missing values in ['Age', 'Fare']
- 327 non-numerical missing values in ['Cabin']
After imputation:
Total 327 missing values
- 0 numerical missing values
- 327 non-numerical missing values
Imputation done -- CPU time: 0.08994817733764648 seconds

>>Imputation
* For train dataset
Before imputation:
Total 866 missing values in ['Age', 'Cabin', 'Embarked']
- 177 numerical missing values in ['Age']
- 689 non-numerical missing values in ['Cabin', 'Embarked']

Using TensorFlow backend.
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")

After imputation:
Total 689 missing values
- 0 numerical missing values
- 689 non-numerical missing values
* For test dataset
Before imputation:
Total 414 missing values in ['Age', 'Fare', 'Cabin']
- 87 numerical missing values in ['Age', 'Fare']
- 327 non-numerical missing values in ['Cabin']
After imputation:
Total 327 missing values
- 0 numerical missing values
- 327 non-numerical missing values
Imputation done -- CPU time: 2.363224983215332 seconds

>>Imputation
* For train dataset
Before imputation:
Total 866 missing values in ['Age', 'Cabin', 'Embarked']
- 177 numerical missing values in ['Age']
- 689 non-numerical missing values in ['Cabin', 'Embarked']
After imputation:
Total 689 missing values
- 0 numerical missing values
- 689 non-numerical missing values
* For test dataset
Before imputation:
Total 414 missing values in ['Age', 'Fare', 'Cabin']
- 87 numerical missing values in ['Age', 'Fare']
- 327 non-numerical missing values in ['Cabin']
After imputation:
Total 327 missing values
- 0 numerical missing values
- 327 non-numerical missing values
Imputation done -- CPU time: 0.07814908027648926 seconds

>>Imputation
* For train dataset
Before imputation:
Total 866 missing values in ['Age', 'Cabin', 'Embarked']
- 177 numerical missing values in ['Age']
- 689 non-numerical missing values in ['Cabin', 'Embarked']
After imputation:
Total 689 missing values
- 0 numerical missing values
- 689 non-numerical missing values
* For test dataset
Before imputation:
Total 414 missing values in ['Age', 'Fare', 'Cabin']
- 87 numerical missing values in ['Age', 'Fare']
- 327 non-numerical missing values in ['Cabin']
After imputation:
Total 327 missing values
- 0 numerical missing values
- 327 non-numerical missing values
Imputation done -- CPU time: 0.19629192352294922 seconds

>>Imputation
* For train dataset
Before imputation:
Total 866 missing values in ['Age', 'Cabin', 'Embarked']
- 177 numerical missing values in ['Age']
- 689 non-numerical missing values in ['Cabin', 'Embarked']
After imputation:
Total 689 missing values
- 0 numerical missing values
- 689 non-numerical missing values
* For test dataset
Before imputation:
Total 414 missing values in ['Age', 'Fare', 'Cabin']
- 87 numerical missing values in ['Age', 'Fare']
- 327 non-numerical missing values in ['Cabin']
After imputation:
Total 327 missing values
- 0 numerical missing values
- 327 non-numerical missing values
Imputation done -- CPU time: 0.08721804618835449 seconds

## - Detect outliers and remove them

In [13]:
# >> Examples for outlier detection and removal
# Available strategies =
#            'ZS': detects outliers using the robust Zscore as a function
#            of median and median absolute deviation (MAD)
#            'IQR': detects outliers using Q1 and Q3 +/- 1.5*InterQuartile Range
#            'LOF': detects outliers using Local Outlier Factor

                
import learn2clean.outlier_detection.outlier_detector as out

#to remove rows having 30% and more ZSB-based outling values among the numerical variables
out1=out.Outlier_detector(titanic_not_encoded.copy(), strategy='ZSB', threshold = .3, verbose=True)
out1.transform()

#to remove rows having at least one IQR-based outlying value using threshold '-1'
out2=out.Outlier_detector(titanic_not_encoded.copy(), strategy='IQR', threshold = -1, verbose=False)
out2.transform()

#to remove rows having 40% and more ZSB-based outling values among the numerical variables; 
# since LOF requires non missing values, rows with NaN are also removed
out3=out.Outlier_detector(titanic_not_encoded.copy(), strategy='LOF', threshold = .4, verbose=False)
out3.transform()

>>Outlier detection and removal:
* For train dataset
232 outlying rows have been removed:
with indexes: [1, 3, 6, 13, 23, 25, 27, 31, 34, 35, 43, 50, 52, 54, 55, 59, 61, 62, 71, 72, 74, 83, 86, 88, 92, 96, 97, 102, 110, 118, 119, 120, 124, 137, 139, 145, 147, 151, 155, 159, 164, 166, 169, 170, 174, 180, 182, 183, 185, 195, 201, 209, 215, 218, 224, 230, 233, 245, 248, 256, 257, 258, 261, 262, 266, 268, 269, 270, 275, 290, 291, 297, 298, 299, 305, 306, 307, 309, 310, 311, 318, 319, 324, 325, 329, 332, 334, 336, 337, 339, 341, 351, 356, 366, 369, 370, 373, 375, 377, 380, 383, 385, 386, 390, 393, 412, 416, 434, 435, 436, 438, 445, 449, 453, 457, 462, 475, 480, 484, 486, 492, 493, 496, 498, 504, 505, 509, 513, 515, 520, 523, 527, 537, 539, 540, 541, 542, 544, 549, 550, 556, 557, 558, 571, 577, 581, 583, 585, 587, 591, 596, 599, 602, 607, 608, 609, 610, 615, 618, 621, 625, 627, 632, 638, 641, 643, 645, 647, 655, 659, 660, 665, 669, 670, 671, 678, 679, 681, 683, 684, 685, 686, 689, 690, 692, 698, 700, 708, 710, 712, 716, 720, 724, 730, 736, 737, 741, 742, 745, 748, 754, 759, 763, 765, 766, 779, 781, 789, 792, 793, 802, 809, 813, 817, 820, 824, 826, 827, 829, 835, 838, 842, 846, 848, 849, 850, 853, 856, 863, 867, 871, 879]

Outliers:
      Age        Cabin Embarked      Fare  \
1    38.0          C85        C   71.2833
3    35.0         C123        S   53.1000
6    54.0          E46        S   51.8625
13   39.0          NaN        S   31.2750
23   28.0           A6        S   35.5000
25   38.0          NaN        S   31.3875
27   19.0  C23 C25 C27        S  263.0000
31    NaN          B78        C  146.5208
34   28.0          NaN        C   82.1708
35   42.0          NaN        S   52.0000
43    3.0          NaN        C   41.5792
50    7.0          NaN        S   39.6875
52   49.0          D33        C   76.7292
54   65.0          B30        C   61.9792
55    NaN          C52        S   35.5000
59   11.0          NaN        S   46.9000
61   38.0          B28      NaN   80.0000
62   45.0          C83        S   83.4750
71   16.0          NaN        S   46.9000
72   21.0          NaN        S   73.5000
74   32.0          NaN        S   56.4958
83   28.0          NaN        S   47.1000
86   16.0          NaN        S   34.3750
88   23.0  C23 C25 C27        S  263.0000
92   46.0          E31        S   61.1750
96   71.0           A5        C   34.6542
97   23.0      D10 D12        C   63.3583
102  21.0          D26        S   77.2875
110  47.0         C110        S   52.0000
118  24.0      B58 B60        C  247.5208
..    ...          ...      ...       ...
763  36.0      B96 B98        S  120.0000
765  51.0          D11        S   77.9583
766   NaN          NaN        C   39.6000
779  43.0           B3        S  211.3375
781  17.0          B20        S   57.0000
789  46.0      B82 B84        C   79.2000
792   NaN          NaN        S   69.5500
793   NaN          NaN        C   30.6958
802  11.0      B96 B98        S  120.0000
809  33.0           E8        S   53.1000
813   6.0          NaN        S   31.2750
817  31.0          NaN        C   37.0042
820  52.0          B69        S   93.5000
824   2.0          NaN        S   39.6875
826   NaN          NaN        S   56.4958
827   1.0          NaN        C   37.0042
829  62.0          B28      NaN   80.0000
835  39.0          E49        C   83.1583
838  32.0          NaN        S   56.4958
842  30.0          NaN        C   31.0000
846   NaN          NaN        S   69.5500
848  28.0          NaN        S   33.0000
849   NaN          C92        C   89.1042
850   4.0          NaN        S   31.2750
853  16.0          D28        S   39.4000
856  45.0          NaN        S  164.8667
863   NaN          NaN        S   69.5500
867  31.0          A24        S   50.4958
871  47.0          D35        S   52.5542
879  56.0          C50        C   83.1583

                                                          Name Parch  \
1          Cumings, Mrs. John Bradley (Florence Briggs Thayer)     0
3                 Futrelle, Mrs. Jacques Heath (Lily May Peel)     0
6                                      McCarthy, Mr. Timothy J     0
13                                 Andersson, Mr. Anders Johan     5
23                                Sloper, Mr. William Thompson     0
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)     5
27                              Fortune, Mr. Charles Alexander     2
31              Spencer, Mrs. William Augustus (Marie Eugenie)     0
34                                     Meyer, Mr. Edgar Joseph     0
35                              Holverson, Mr. Alexander Oskar     0
43                    Laroche, Miss. Simonne Marie Anne Andree     2
50                                  Panula, Master. Juha Niilo     1
52                    Harper, Mrs. Henry Sleeper (Myna Haxtun)     0
54                              Ostby, Mr. Engelhart Cornelius     1
55                                           Woolner, Mr. Hugh     0
59                          Goodwin, Master. William Frederick     2
61                                         Icard, Miss. Amelie     0
62                                 Harris, Mr. Henry Birkhardt     0
71                                  Goodwin, Miss. Lillian Amy     2
72                                        Hood, Mr. Ambrose Jr     0
74                                               Bing, Mr. Lee     0
83                                     Carrau, Mr. Francisco M     0
86                                      Ford, Mr. William Neal     3
88                                  Fortune, Miss. Mabel Helen     2
92                                 Chaffee, Mr. Herbert Fuller     0
96                                   Goldschmidt, Mr. George B     0
97                             Greenfield, Mr. William Bertram     1
102                                  White, Mr. Richard Frasar     1
110                             Porter, Mr. Walter Chamberlain     0
118                                   Baxter, Mr. Quigg Edmond     1
..                                                         ...   ...
763                  Carter, Mrs. William Ernest (Lucile Polk)     2
765                       Hogeboom, Mrs. John C (Anna Andrews)     0
766                                  Brewe, Dr. Arthur Jackson     0
779      Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)     1
781                  Dick, Mrs. Albert Adrian (Vera Gillespie)     0
789                                   Guggenheim, Mr. Benjamin     0
792                                    Sage, Miss. Stella Anna     2
793                                   Hoyt, Mr. William Fisher     0
802                        Carter, Master. William Thornton II     2
809             Chambers, Mrs. Norman Campbell (Bertha Griggs)     0
813                         Andersson, Miss. Ebba Iris Alfrida     2
817                                         Mallet, Mr. Albert     1
820         Hays, Mrs. Charles Melville (Clara Jennings Gregg)     1
824                               Panula, Master. Urho Abraham     1
826                                               Lam, Mr. Len     0
827                                      Mallet, Master. Andre     2
829                  Stone, Mrs. George Nelson (Martha Evelyn)     0
835                                Compton, Miss. Sara Rebecca     1
838                                            Chip, Mr. Chang     0
842                                    Serepeca, Miss. Augusta     0
846                                   Sage, Mr. Douglas Bullen     2
848                                          Harper, Rev. John     1
849               Goldenberg, Mrs. Samuel L (Edwiga Grabowska)     0
850                    Andersson, Master. Sigvard Harald Elias     2
853                                  Lines, Miss. Mary Conover     1
856                 Wick, Mrs. George Dennick (Mary Hitchcock)     1
863                          Sage, Miss. Dorothy Edith "Dolly"     2
867                       Roebling, Mr. Washington Augustus II     0
871           Beckwith, Mrs. Richard Leonard (Sallie Monypeny)     1
879              Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)     1

    PassengerId Pclass     Sex SibSp           Ticket
1             2      1  female     1         PC 17599
3             4      1  female     1           113803
6             7      1    male     0            17463
13           14      3    male     1           347082
23           24      1    male     0           113788
25           26      3  female     1           347077
27           28      1    male     3            19950
31           32      1  female     1         PC 17569
34           35      1    male     1         PC 17604
35           36      1    male     1           113789
43           44      2  female     1    SC/Paris 2123
50           51      3    male     4          3101295
52           53      1  female     1         PC 17572
54           55      1    male     0           113509
55           56      1    male     0            19947
59           60      3    male     5          CA 2144
61           62      1  female     0           113572
62           63      1    male     1            36973
71           72      3  female     5          CA 2144
72           73      2    male     0     S.O.C. 14879
74           75      3    male     0             1601
83           84      1    male     0           113059
86           87      3    male     1       W./C. 6608
88           89      1  female     3            19950
92           93      1    male     1      W.E.P. 5734
96           97      1    male     0         PC 17754
97           98      1    male     0         PC 17759
102         103      1    male     0            35281
110         111      1    male     0           110465
118         119      1    male     0         PC 17558
..          ...    ...     ...   ...              ...
763         764      1  female     1           113760
765         766      1  female     1            13502
766         767      1    male     0           112379
779         780      1  female     0            24160
781         782      1  female     1            17474
789         790      1    male     0         PC 17593
792         793      3  female     8         CA. 2343
793         794      1    male     0         PC 17600
802         803      1    male     1           113760
809         810      1  female     1           113806
813         814      3  female     4           347082
817         818      2    male     1  S.C./PARIS 2079
820         821      1  female     1            12749
824         825      3    male     4          3101295
826         827      3    male     0             1601
827         828      2    male     0  S.C./PARIS 2079
829         830      1  female     0           113572
835         836      1  female     1         PC 17756
838         839      3    male     0             1601
842         843      1  female     0           113798
846         847      3    male     8         CA. 2343
848         849      2    male     0           248727
849         850      1  female     1            17453
850         851      3    male     4           347082
853         854      1  female     0         PC 17592
856         857      1  female     1            36928
863         864      3  female     8         CA. 2343
867         868      1    male     0         PC 17590
871         872      1  female     1            11751
879         880      1  female     0            11767

[232 rows x 11 columns]

* For test dataset

0 outlying rows have been removed:
Outlier detection and removal done -- CPU time: 0.04443717002868652 seconds


>>Outlier detection and removal:
* For train dataset
891 outlying rows have been removed
* For test dataset
418 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.030585050582885742 seconds


>>Outlier detection and removal:
* For train dataset
LOF requires no missing values, so missing valueshave been removed using DROP.
40 outlying rows have been removed
* For test dataset
LOF requires no missing values, so missing valueshave been removed using DROP.
40 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.020792007446289062 seconds

/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)

{'train':       Age      Fare            Cabin Embarked  \
 1    38.0   71.2833              C85        C
 6    54.0   51.8625              E46        S
 10    4.0   16.7000               G6        S
 11   58.0   26.5500             C103        S
 21   34.0   13.0000              D56        S
 23   28.0   35.5000               A6        S
 27   19.0  263.0000      C23 C25 C27        S
 52   49.0   76.7292              D33        C
 54   65.0   61.9792              B30        C
 62   45.0   83.4750              C83        S
 75   25.0    7.6500            F G73        S
 88   23.0  263.0000      C23 C25 C27        S
 92   46.0   61.1750              E31        S
 96   71.0   34.6542               A5        C
 97   23.0   63.3583          D10 D12        C
 110  47.0   52.0000             C110        S
 118  24.0  247.5208          B58 B60        C
 136  19.0   26.2833              D47        S
 137  37.0   53.1000             C123        S
 139  24.0   79.2000              B86        C
 151  22.0   66.6000               C2        S
 170  61.0   33.5000              B19        S
 177  50.0   28.7125              C49        C
 183   1.0   39.0000               F4        S
 194  44.0   27.7208               B4        C
 195  58.0  146.5208              B80        C
 205   2.0   10.4625               G6        S
 209  40.0   31.0000              A31        C
 215  31.0  113.2750              D36        C
 218  32.0   76.2917              D15        C
 ..    ...       ...              ...      ...
 715  19.0    7.6500            F G73        S
 717  27.0   10.5000             E101        S
 724  27.0   53.1000               E8        S
 730  29.0  211.3375               B5        S
 737  35.0  512.3292             B101        C
 741  36.0   78.8500              C46        S
 742  21.0  262.3750  B57 B59 B63 B66        C
 745  70.0   71.0000              B22        S
 748  19.0   53.1000              D30        S
 751   6.0   12.4750             E121        S
 759  33.0   86.5000              B77        S
 763  36.0  120.0000          B96 B98        S
 772  57.0   10.5000              E77        S
 781  17.0   57.0000              B20        S
 782  29.0   30.0000               D6        S
 789  46.0   79.2000          B82 B84        C
 796  49.0   25.9292              D17        S
 802  11.0  120.0000          B96 B98        S
 806  39.0    0.0000              A36        S
 809  33.0   53.1000               E8        S
 820  52.0   93.5000              B69        S
 835  39.0   83.1583              E49        C
 853  16.0   39.4000              D28        S
 857  51.0   26.5500              E17        S
 867  31.0   50.4958              A24        S
 871  47.0   52.5542              D35        S
 872  33.0    5.0000      B51 B53 B55        S
 879  56.0   83.1583              C50        C
 887  19.0   30.0000              B42        S
 889  26.0   30.0000             C148        C

                                                          Name Parch  \
 1         Cumings, Mrs. John Bradley (Florence Briggs Thayer)     0
 6                                     McCarthy, Mr. Timothy J     0
 10                            Sandstrom, Miss. Marguerite Rut     1
 11                                   Bonnell, Miss. Elizabeth     0
 21                                      Beesley, Mr. Lawrence     0
 23                               Sloper, Mr. William Thompson     0
 27                             Fortune, Mr. Charles Alexander     2
 52                   Harper, Mrs. Henry Sleeper (Myna Haxtun)     0
 54                             Ostby, Mr. Engelhart Cornelius     1
 62                                Harris, Mr. Henry Birkhardt     0
 75                                    Moen, Mr. Sigurd Hansen     0
 88                                 Fortune, Miss. Mabel Helen     2
 92                                Chaffee, Mr. Herbert Fuller     0
 96                                  Goldschmidt, Mr. George B     0
 97                            Greenfield, Mr. William Bertram     1
 110                            Porter, Mr. Walter Chamberlain     0
 118                                  Baxter, Mr. Quigg Edmond     1
 136                              Newsom, Miss. Helen Monypeny     2
 137                               Futrelle, Mr. Jacques Heath     0
 139                                        Giglio, Mr. Victor     0
 151                         Pears, Mrs. Thomas (Edith Wearne)     0
 170                                 Van der hoef, Mr. Wyckoff     0
 177                                Isham, Miss. Ann Elizabeth     0
 183                                 Becker, Master. Richard F     1
 194                 Brown, Mrs. James Joseph (Margaret Tobin)     0
 195                                      Lurette, Miss. Elise     0
 205                                Strom, Miss. Telma Matilda     1
 209                                          Blank, Mr. Henry     0
 215                                   Newell, Miss. Madeleine     0
 218                                     Bazzani, Miss. Albina     0
 ..                                                        ...   ...
 715                Soholt, Mr. Peter Andreas Lauritz Andersen     0
 717                       Troutt, Miss. Edwina Celia "Winnie"     0
 724                             Chambers, Mr. Norman Campbell     0
 730                             Allen, Miss. Elisabeth Walton     0
 737                                    Lesurer, Mr. Gustave J     0
 741                             Cavendish, Mr. Tyrell William     0
 742                     Ryerson, Miss. Susan Parker "Suzette"     2
 745                              Crosby, Capt. Edward Gifford     1
 748                                 Marvin, Mr. Daniel Warner     0
 751                                       Moor, Master. Meier     1
 759  Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)     0
 763                 Carter, Mrs. William Ernest (Lucile Polk)     2
 772                                         Mack, Mrs. (Mary)     0
 781                 Dick, Mrs. Albert Adrian (Vera Gillespie)     0
 782                                    Long, Mr. Milton Clyde     0
 789                                  Guggenheim, Mr. Benjamin     0
 796                               Leader, Dr. Alice (Farnham)     0
 802                       Carter, Master. William Thornton II     2
 806                                    Andrews, Mr. Thomas Jr     0
 809            Chambers, Mrs. Norman Campbell (Bertha Griggs)     0
 820        Hays, Mrs. Charles Melville (Clara Jennings Gregg)     1
 835                               Compton, Miss. Sara Rebecca     1
 853                                 Lines, Miss. Mary Conover     1
 857                                    Daly, Mr. Peter Denis      0
 867                      Roebling, Mr. Washington Augustus II     0
 871          Beckwith, Mrs. Richard Leonard (Sallie Monypeny)     1
 872                                  Carlsson, Mr. Frans Olof     0
 879             Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)     1
 887                              Graham, Miss. Margaret Edith     0
 889                                     Behr, Mr. Karl Howell     0

     PassengerId Pclass     Sex SibSp       Ticket
 1             2      1  female     1     PC 17599
 6             7      1    male     0        17463
 10           11      3  female     1      PP 9549
 11           12      1  female     0       113783
 21           22      2    male     0       248698
 23           24      1    male     0       113788
 27           28      1    male     3        19950
 52           53      1  female     1     PC 17572
 54           55      1    male     0       113509
 62           63      1    male     1        36973
 75           76      3    male     0       348123
 88           89      1  female     3        19950
 92           93      1    male     1  W.E.P. 5734
 96           97      1    male     0     PC 17754
 97           98      1    male     0     PC 17759
 110         111      1    male     0       110465
 118         119      1    male     0     PC 17558
 136         137      1  female     0        11752
 137         138      1    male     1       113803
 139         140      1    male     0     PC 17593
 151         152      1  female     1       113776
 170         171      1    male     0       111240
 177         178      1  female     0     PC 17595
 183         184      2    male     2       230136
 194         195      1  female     0     PC 17610
 195         196      1  female     0     PC 17569
 205         206      3  female     0       347054
 209         210      1    male     0       112277
 215         216      1  female     1        35273
 218         219      1  female     0        11813
 ..          ...    ...     ...   ...          ...
 715         716      3    male     0       348124
 717         718      2  female     0        34218
 724         725      1    male     1       113806
 730         731      1  female     0        24160
 737         738      1    male     0     PC 17755
 741         742      1    male     1        19877
 742         743      1  female     2     PC 17608
 745         746      1    male     1    WE/P 5735
 748         749      1    male     1       113773
 751         752      3    male     0       392096
 759         760      1  female     0       110152
 763         764      1  female     1       113760
 772         773      2  female     0  S.O./P.P. 3
 781         782      1  female     1        17474
 782         783      1    male     0       113501
 789         790      1    male     0     PC 17593
 796         797      1  female     0        17465
 802         803      1    male     1       113760
 806         807      1    male     0       112050
 809         810      1  female     1       113806
 820         821      1  female     1        12749
 835         836      1  female     1     PC 17756
 853         854      1  female     0     PC 17592
 857         858      1    male     0       113055
 867         868      1    male     0     PC 17590
 871         872      1  female     1        11751
 872         873      1    male     0          695
 879         880      1  female     0        11767
 887         888      1  female     0       112053
 889         890      1    male     0       111369

 [143 rows x 11 columns],
 'test':       Age      Fare            Cabin Embarked  \
 34   30.0   57.7500              C78        C
 68   31.0   28.5375              C53        C
 69   60.0  263.0000      C23 C25 C27        S
 73   28.5   27.7208              D43        C
 74   35.0  211.5000             C130        C
 75   32.5  211.5000             C132        C
 77   55.0   25.7000             C101        S
 81   67.0  221.7792          C55 C57        S
 96   76.0   78.8500              C46        S
 114  63.0  221.7792          C55 C57        S
 117   1.0   16.7000               G6        S
 131  53.0   28.5000              C51        C
 142  61.0  262.3750  B57 B59 B63 B66        C
 156  29.0  221.7792              C97        S
 177  54.0   55.4417             C116        C
 178  36.0   39.0000               F4        S
 181  37.0   83.1583              E52        C
 182  18.0   53.1000              D30        S
 196   6.0  134.5000              E34        C
 202  47.0  227.5250          C62 C64        C
 208  33.0   27.7208              A11        C
 215  42.0   42.5000              B11        S
 222  22.0   10.5000              F33        S
 234  39.0   71.2833              C85        C
 236  64.0   75.2500              D37        C
 239  48.0  106.4250              C86        C
 242  45.0  134.5000              E34        C
 270  46.0   75.2417               C6        C
 305  64.0   26.5500              B26        S
 306  30.0  151.5500          C22 C26        S
 308  55.0   93.5000              B69        S
 314  55.0  135.6333              C32        C
 316  57.0  146.5208              B78        C
 322  26.0   13.0000               F2        S
 326  12.0   39.0000               F4        S
 335  30.0   26.0000             C106        S
 343  58.0  512.3292      B51 B53 B55        C
 350  45.0   63.3583          D10 D12        C
 355  50.0   26.0000              E60        S
 356  59.0   51.4792             C101        S
 372  49.0    0.0000      B52 B54 B56        S
 378  55.0   50.0000              C39        S
 391  51.0   39.4000              D28        S
 395  18.0   60.0000              C31        S
 400  30.0  164.8667               C7        S
 411  37.0   90.0000              C78        Q
 414  39.0  108.9000             C105        C

                                                                 Name Parch  \
 34                                          Mock, Mr. Philipp Edmund     0
 68                                   Tucker, Mr. Gilbert Milligan Jr     0
 69                               Fortune, Mrs. Mark (Mary McDougald)     4
 73                                   Ovies y Rodriguez, Mr. Servando     0
 74                                              Geiger, Miss. Amalie     0
 75                                                Keeping, Mr. Edwin     0
 77              Cornell, Mrs. Robert Clifford (Malvina Helen Lamson)     0
 81                                                Straus, Mr. Isidor     0
 96            Cavendish, Mrs. Tyrell William (Julia Florence Siegel)     0
 114                           Straus, Mrs. Isidor (Rosalie Ida Blun)     0
 117                                  Sandstrom, Miss. Beatrice Irene     1
 131                                        Gracie, Col. Archibald IV     0
 142                                       Ryerson, Mr. Arthur Larned     3
 156                                                Bird, Miss. Ellen     0
 177                                  Stengel, Mr. Charles Emil Henry     0
 178                 Becker, Mrs. Allen Oliver (Nellie E Baumgardner)     3
 181                                 Compton, Mr. Alexander Taylor Jr     1
 182   Marvin, Mrs. Daniel Warner (Mary Graham Carmichael Farquarson)     0
 196                                  Spedden, Master. Robert Douglas     2
 202                                           Astor, Col. John Jacob     0
 208                                    Rosenbaum, Miss. Edith Louise     0
 215                                            Head, Mr. Christopher     0
 222                                       Cook, Mrs. (Selena Rogers)     0
 234                                        Cumings, Mr. John Bradley     0
 236                                         Warren, Mr. Frank Manley     0
 239                      Douglas, Mrs. Walter Donald (Mahala Dutton)     0
 242                                     Spedden, Mr. Frederic Oakley     1
 270                                     McCaffry, Mr. Thomas Francis     0
 305       Crosby, Mrs. Edward Gifford (Catherine Elizabeth Halstead)     1
 306                             Allison, Mr. Hudson Joshua Creighton     2
 308                                       Hays, Mr. Charles Melville     1
 314                            White, Mrs. John Stuart (Ella Holmes)     0
 316                                    Spencer, Mr. William Augustus     0
 322                                               Nesson, Mr. Israel     0
 326                                     Becker, Miss. Ruth Elizabeth     1
 335                                         Maguire, Mr. John Edward     0
 343  Cardeza, Mrs. James Warburton Martinez (Charlotte Wardle Drake)     1
 350                     Greenfield, Mrs. Leo David (Blanche Strouse)     1
 355                                         Julian, Mr. Henry Forbes     0
 356                   Brown, Mrs. John Murray (Caroline Lane Lamson)     0
 372                                          Ismay, Mr. Joseph Bruce     0
 378                                      Hipkins, Mr. William Edward     0
 391                   Lines, Mrs. Ernest H (Elizabeth Lindsey James)     1
 395                   Smith, Mrs. Lucien Philip (Mary Eloise Hughes)     0
 400                                          Bonnell, Miss. Caroline     0
 411                  Minahan, Mrs. William Edward (Lillian E Thorpe)     0
 414                                     Oliva y Ocana, Dona. Fermina     0

     PassengerId Pclass     Sex SibSp       Ticket
 34          926      1    male     1        13236
 68          960      1    male     0         2543
 69          961      1  female     1        19950
 73          965      1    male     0     PC 17562
 74          966      1  female     0       113503
 75          967      1    male     0       113503
 77          969      1  female     2        11770
 81          973      1    male     1     PC 17483
 96          988      1  female     1        19877
 114        1006      1  female     1     PC 17483
 117        1009      3  female     1      PP 9549
 131        1023      1    male     0       113780
 142        1034      1    male     1     PC 17608
 156        1048      1  female     0     PC 17483
 177        1069      1    male     1        11778
 178        1070      2  female     0       230136
 181        1073      1    male     1     PC 17756
 182        1074      1  female     1       113773
 196        1088      1    male     0        16966
 202        1094      1    male     1     PC 17757
 208        1100      1  female     0     PC 17613
 215        1107      1    male     0       113038
 222        1114      2  female     0  W./C. 14266
 234        1126      1    male     1     PC 17599
 236        1128      1    male     1       110813
 239        1131      1  female     1     PC 17761
 242        1134      1    male     1        16966
 270        1162      1    male     0        13050
 305        1197      1  female     1       112901
 306        1198      1    male     1       113781
 308        1200      1    male     1        12749
 314        1206      1  female     0     PC 17760
 316        1208      1    male     1     PC 17569
 322        1214      2    male     0       244368
 326        1218      2  female     2       230136
 335        1227      1    male     0       110469
 343        1235      1  female     0     PC 17755
 350        1242      1  female     0     PC 17759
 355        1247      1    male     0       113044
 356        1248      1  female     2        11769
 372        1264      1    male     0       112058
 378        1270      1    male     0          680
 391        1283      1  female     0     PC 17592
 395        1287      1  female     1        13695
 400        1292      1  female     0        36928
 411        1303      1  female     1        19928
 414        1306      1  female     0     PC 17758  ,
 'target': 0      0.0
 1      1.0
 2      1.0
 3      1.0
 4      0.0
 5      0.0
 6      0.0
 7      0.0
 8      1.0
 9      1.0
 10     1.0
 11     1.0
 12     0.0
 13     0.0
 14     0.0
 15     1.0
 16     0.0
 17     1.0
 18     0.0
 19     1.0
 20     0.0
 21     1.0
 22     1.0
 23     1.0
 24     0.0
 25     1.0
 26     0.0
 27     0.0
 28     1.0
 29     0.0
       ...
 861    0.0
 862    1.0
 863    0.0
 864    0.0
 865    1.0
 866    1.0
 867    0.0
 868    0.0
 869    1.0
 870    0.0
 871    1.0
 872    0.0
 873    0.0
 874    1.0
 875    1.0
 876    0.0
 877    0.0
 878    0.0
 879    1.0
 880    1.0
 881    0.0
 882    0.0
 883    0.0
 884    0.0
 885    0.0
 886    0.0
 887    1.0
 888    0.0
 889    1.0
 890    0.0
 Name: Survived, Length: 891, dtype: float64,
 'target_test': Series([], Name: Survived, dtype: float64)}

## - Detect duplicates and remove them

In [14]:
# >> Examples for duplicate detection and removal
# titanic has no exact duplicate anyway
# Available strategies =
#        'ED':  exact duplicate detection/removal or
#        'AD':  for aproximate duplicate records detection and removal
#        based on Jaccard similarity 

# import the Duplicate_detector class
import learn2clean.duplicate_detection.duplicate_detector as dup

#Remove exact duplicates with 'ED' strategy of the Duplicate_detector class

dup.Duplicate_detector(titanic_not_encoded.copy(), strategy='ED', verbose=False).transform()

#Remove approximate duplicates with thresholding Jaccard similarity 
# using 'AD'strategy of the Duplicate_detector class
dup.Duplicate_detector(titanic_not_encoded.copy(), strategy='AD', threshold = .3, verbose=False).transform()

>>Duplicate detection and removal:
* For train dataset
Metric is not considered for 'ED'.
To detect duplicates, rows with missing values are removed using DROP
Total number of rows: 891
Number of duplicated rows: 0
After deduplication: Number of rows: 891
* For test dataset
Metric is not considered for 'ED'.
To detect duplicates, rows with missing values are removed using DROP
Total number of rows: 418
Number of duplicated rows: 0
After deduplication: Number of rows: 418
Deduplication done -- CPU time: 0.028828859329223633 seconds


>>Duplicate detection and removal:
* For train dataset
Metric is not considered for 'ED'.
Number of duplicate rows removed: 0
* For test dataset
Metric is not considered for 'ED'.
Number of duplicate rows removed: 0
Deduplication done -- CPU time: 0.13759875297546387 seconds

{'train':       Age        Cabin Embarked      Fare  \
 0    22.0          NaN        S    7.2500
 1    38.0          C85        C   71.2833
 2    26.0          NaN        S    7.9250
 3    35.0         C123        S   53.1000
 4    35.0          NaN        S    8.0500
 5     NaN          NaN        Q    8.4583
 6    54.0          E46        S   51.8625
 7     2.0          NaN        S   21.0750
 8    27.0          NaN        S   11.1333
 9    14.0          NaN        C   30.0708
 10    4.0           G6        S   16.7000
 11   58.0         C103        S   26.5500
 12   20.0          NaN        S    8.0500
 13   39.0          NaN        S   31.2750
 14   14.0          NaN        S    7.8542
 15   55.0          NaN        S   16.0000
 16    2.0          NaN        Q   29.1250
 17    NaN          NaN        S   13.0000
 18   31.0          NaN        S   18.0000
 19    NaN          NaN        C    7.2250
 20   35.0          NaN        S   26.0000
 21   34.0          D56        S   13.0000
 22   15.0          NaN        Q    8.0292
 23   28.0           A6        S   35.5000
 24    8.0          NaN        S   21.0750
 25   38.0          NaN        S   31.3875
 26    NaN          NaN        C    7.2250
 27   19.0  C23 C25 C27        S  263.0000
 28    NaN          NaN        Q    7.8792
 29    NaN          NaN        S    7.8958
 ..    ...          ...      ...       ...
 861  21.0          NaN        S   11.5000
 862  48.0          D17        S   25.9292
 863   NaN          NaN        S   69.5500
 864  24.0          NaN        S   13.0000
 865  42.0          NaN        S   13.0000
 866  27.0          NaN        C   13.8583
 867  31.0          A24        S   50.4958
 868   NaN          NaN        S    9.5000
 869   4.0          NaN        S   11.1333
 870  26.0          NaN        S    7.8958
 871  47.0          D35        S   52.5542
 872  33.0  B51 B53 B55        S    5.0000
 873  47.0          NaN        S    9.0000
 874  28.0          NaN        C   24.0000
 875  15.0          NaN        C    7.2250
 876  20.0          NaN        S    9.8458
 877  19.0          NaN        S    7.8958
 878   NaN          NaN        S    7.8958
 879  56.0          C50        C   83.1583
 880  25.0          NaN        S   26.0000
 881  33.0          NaN        S    7.8958
 882  22.0          NaN        S   10.5167
 883  28.0          NaN        S   10.5000
 884  25.0          NaN        S    7.0500
 885  39.0          NaN        Q   29.1250
 886  27.0          NaN        S   13.0000
 887  19.0          B42        S   30.0000
 888   NaN          NaN        S   23.4500
 889  26.0         C148        C   30.0000
 890  32.0          NaN        Q    7.7500

                                                           Name Parch  \
 0                                      Braund, Mr. Owen Harris     0
 1          Cumings, Mrs. John Bradley (Florence Briggs Thayer)     0
 2                                       Heikkinen, Miss. Laina     0
 3                 Futrelle, Mrs. Jacques Heath (Lily May Peel)     0
 4                                     Allen, Mr. William Henry     0
 5                                             Moran, Mr. James     0
 6                                      McCarthy, Mr. Timothy J     0
 7                               Palsson, Master. Gosta Leonard     1
 8            Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)     2
 9                          Nasser, Mrs. Nicholas (Adele Achem)     0
 10                             Sandstrom, Miss. Marguerite Rut     1
 11                                    Bonnell, Miss. Elizabeth     0
 12                              Saundercock, Mr. William Henry     0
 13                                 Andersson, Mr. Anders Johan     5
 14                        Vestrom, Miss. Hulda Amanda Adolfina     0
 15                            Hewlett, Mrs. (Mary D Kingcome)      0
 16                                        Rice, Master. Eugene     1
 17                                Williams, Mr. Charles Eugene     0
 18     Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)     0
 19                                     Masselmani, Mrs. Fatima     0
 20                                        Fynney, Mr. Joseph J     0
 21                                       Beesley, Mr. Lawrence     0
 22                                 McGowan, Miss. Anna "Annie"     0
 23                                Sloper, Mr. William Thompson     0
 24                               Palsson, Miss. Torborg Danira     1
 25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)     5
 26                                     Emir, Mr. Farred Chehab     0
 27                              Fortune, Mr. Charles Alexander     2
 28                               O'Dwyer, Miss. Ellen "Nellie"     0
 29                                         Todoroff, Mr. Lalio     0
 ..                                                         ...   ...
 861                                Giles, Mr. Frederick Edward     0
 862        Swift, Mrs. Frederick Joel (Margaret Welles Barron)     0
 863                          Sage, Miss. Dorothy Edith "Dolly"     2
 864                                     Gill, Mr. John William     0
 865                                   Bystrom, Mrs. (Karolina)     0
 866                               Duran y More, Miss. Asuncion     0
 867                       Roebling, Mr. Washington Augustus II     0
 868                                van Melkebeke, Mr. Philemon     0
 869                            Johnson, Master. Harold Theodor     1
 870                                          Balkic, Mr. Cerin     0
 871           Beckwith, Mrs. Richard Leonard (Sallie Monypeny)     1
 872                                   Carlsson, Mr. Frans Olof     0
 873                                Vander Cruyssen, Mr. Victor     0
 874                      Abelson, Mrs. Samuel (Hannah Wizosky)     0
 875                           Najib, Miss. Adele Kiamie "Jane"     0
 876                              Gustafsson, Mr. Alfred Ossian     0
 877                                       Petroff, Mr. Nedelio     0
 878                                         Laleff, Mr. Kristo     0
 879              Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)     1
 880               Shelley, Mrs. William (Imanita Parrish Hall)     1
 881                                         Markun, Mr. Johann     0
 882                               Dahlberg, Miss. Gerda Ulrika     0
 883                              Banfield, Mr. Frederick James     0
 884                                     Sutehall, Mr. Henry Jr     0
 885                       Rice, Mrs. William (Margaret Norton)     5
 886                                      Montvila, Rev. Juozas     0
 887                               Graham, Miss. Margaret Edith     0
 888                   Johnston, Miss. Catherine Helen "Carrie"     2
 889                                      Behr, Mr. Karl Howell     0
 890                                        Dooley, Mr. Patrick     0

     PassengerId Pclass     Sex SibSp            Ticket
 0             1      3    male     1         A/5 21171
 1             2      1  female     1          PC 17599
 2             3      3  female     0  STON/O2. 3101282
 3             4      1  female     1            113803
 4             5      3    male     0            373450
 5             6      3    male     0            330877
 6             7      1    male     0             17463
 7             8      3    male     3            349909
 8             9      3  female     0            347742
 9            10      2  female     1            237736
 10           11      3  female     1           PP 9549
 11           12      1  female     0            113783
 12           13      3    male     0         A/5. 2151
 13           14      3    male     1            347082
 14           15      3  female     0            350406
 15           16      2  female     0            248706
 16           17      3    male     4            382652
 17           18      2    male     0            244373
 18           19      3  female     1            345763
 19           20      3  female     0              2649
 20           21      2    male     0            239865
 21           22      2    male     0            248698
 22           23      3  female     0            330923
 23           24      1    male     0            113788
 24           25      3  female     3            349909
 25           26      3  female     1            347077
 26           27      3    male     0              2631
 27           28      1    male     3             19950
 28           29      3  female     0            330959
 29           30      3    male     0            349216
 ..          ...    ...     ...   ...               ...
 861         862      2    male     1             28134
 862         863      1  female     0             17466
 863         864      3  female     8          CA. 2343
 864         865      2    male     0            233866
 865         866      2  female     0            236852
 866         867      2  female     1     SC/PARIS 2149
 867         868      1    male     0          PC 17590
 868         869      3    male     0            345777
 869         870      3    male     1            347742
 870         871      3    male     0            349248
 871         872      1  female     1             11751
 872         873      1    male     0               695
 873         874      3    male     0            345765
 874         875      2  female     1         P/PP 3381
 875         876      3  female     0              2667
 876         877      3    male     0              7534
 877         878      3    male     0            349212
 878         879      3    male     0            349217
 879         880      1  female     0             11767
 880         881      2  female     0            230433
 881         882      3    male     0            349257
 882         883      3  female     0              7552
 883         884      2    male     0  C.A./SOTON 34068
 884         885      3    male     0   SOTON/OQ 392076
 885         886      3  female     0            382652
 886         887      2    male     0            211536
 887         888      1  female     0            112053
 888         889      3  female     1        W./C. 6607
 889         890      1    male     0            111369
 890         891      3    male     0            370376

 [891 rows x 11 columns],
 'test':       Age            Cabin Embarked      Fare  \
 0    34.5              NaN        Q    7.8292
 1    47.0              NaN        S    7.0000
 2    62.0              NaN        Q    9.6875
 3    27.0              NaN        S    8.6625
 4    22.0              NaN        S   12.2875
 5    14.0              NaN        S    9.2250
 6    30.0              NaN        Q    7.6292
 7    26.0              NaN        S   29.0000
 8    18.0              NaN        C    7.2292
 9    21.0              NaN        S   24.1500
 10    NaN              NaN        S    7.8958
 11   46.0              NaN        S   26.0000
 12   23.0              B45        S   82.2667
 13   63.0              NaN        S   26.0000
 14   47.0              E31        S   61.1750
 15   24.0              NaN        C   27.7208
 16   35.0              NaN        Q   12.3500
 17   21.0              NaN        C    7.2250
 18   27.0              NaN        S    7.9250
 19   45.0              NaN        C    7.2250
 20   55.0              NaN        C   59.4000
 21    9.0              NaN        S    3.1708
 22    NaN              NaN        S   31.6833
 23   21.0              NaN        C   61.3792
 24   48.0  B57 B59 B63 B66        C  262.3750
 25   50.0              NaN        S   14.5000
 26   22.0              B36        C   61.9792
 27   22.5              NaN        C    7.2250
 28   41.0              A21        S   30.5000
 29    NaN              NaN        C   21.6792
 ..    ...              ...      ...       ...
 388  21.0              NaN        Q    7.7500
 389   6.0              NaN        S   21.0750
 390  23.0              B24        S   93.5000
 391  51.0              D28        S   39.4000
 392  13.0              NaN        S   20.2500
 393  47.0              NaN        S   10.5000
 394  29.0              NaN        S   22.0250
 395  18.0              C31        S   60.0000
 396  24.0              NaN        Q    7.2500
 397  48.0              B41        C   79.2000
 398  22.0              NaN        S    7.7750
 399  31.0              NaN        Q    7.7333
 400  30.0               C7        S  164.8667
 401  38.0              NaN        S   21.0000
 402  22.0              NaN        C   59.4000
 403  17.0              NaN        S   47.1000
 404  43.0              D40        C   27.7208
 405  20.0              D38        C   13.8625
 406  23.0              NaN        S   10.5000
 407  50.0              C80        C  211.5000
 408   NaN              NaN        Q    7.7208
 409   3.0              NaN        S   13.7750
 410   NaN              NaN        Q    7.7500
 411  37.0              C78        Q   90.0000
 412  28.0              NaN        S    7.7750
 413   NaN              NaN        S    8.0500
 414  39.0             C105        C  108.9000
 415  38.5              NaN        S    7.2500
 416   NaN              NaN        S    8.0500
 417   NaN              NaN        C   22.3583

                                                                 Name Parch  \
 0                                                   Kelly, Mr. James     0
 1                                   Wilkes, Mrs. James (Ellen Needs)     0
 2                                          Myles, Mr. Thomas Francis     0
 3                                                   Wirz, Mr. Albert     0
 4                       Hirvonen, Mrs. Alexander (Helga E Lindqvist)     1
 5                                         Svensson, Mr. Johan Cervin     0
 6                                               Connolly, Miss. Kate     0
 7                                       Caldwell, Mr. Albert Francis     1
 8                          Abrahim, Mrs. Joseph (Sophie Halaut Easu)     0
 9                                            Davies, Mr. John Samuel     0
 10                                                  Ilieff, Mr. Ylio     0
 11                                        Jones, Mr. Charles Cresson     0
 12                     Snyder, Mrs. John Pillsbury (Nelle Stevenson)     0
 13                                              Howard, Mr. Benjamin     0
 14           Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)     0
 15                     del Carlo, Mrs. Sebastiano (Argenia Genovesi)     0
 16                                                 Keane, Mr. Daniel     0
 17                                                 Assaf, Mr. Gerios     0
 18                                      Ilmakangas, Miss. Ida Livija     0
 19                             Assaf Khalil, Mrs. Mariana (Miriam")"     0
 20                                            Rothschild, Mr. Martin     0
 21                                         Olsen, Master. Artur Karl     1
 22                              Flegenheim, Mrs. Alfred (Antoinette)     0
 23                                   Williams, Mr. Richard Norris II     1
 24                   Ryerson, Mrs. Arthur Larned (Emily Maria Borie)     3
 25                                           Robins, Mr. Alexander A     0
 26                                      Ostby, Miss. Helene Ragnhild     1
 27                                                 Daher, Mr. Shedid     0
 28                                           Brady, Mr. John Bertram     0
 29                                                 Samaan, Mr. Elias     0
 ..                                                               ...   ...
 388                                             Canavan, Mr. Patrick     0
 389                                      Palsson, Master. Paul Folke     1
 390                                       Payne, Mr. Vivian Ponsonby     0
 391                   Lines, Mrs. Ernest H (Elizabeth Lindsey James)     1
 392                                    Abbott, Master. Eugene Joseph     2
 393                                             Gilbert, Mr. William     0
 394                                         Kink-Heilmann, Mr. Anton     1
 395                   Smith, Mrs. Lucien Philip (Mary Eloise Hughes)     0
 396                                             Colbert, Mr. Patrick     0
 397  Frolicher-Stehli, Mrs. Maxmillian (Margaretha Emerentia Stehli)     1
 398                                   Larsson-Rondberg, Mr. Edvard A     0
 399                                         Conlon, Mr. Thomas Henry     0
 400                                          Bonnell, Miss. Caroline     0
 401                                                  Gale, Mr. Harry     0
 402                                   Gibson, Miss. Dorothy Winifred     1
 403                                           Carrau, Mr. Jose Pedro     0
 404                                     Frauenthal, Mr. Isaac Gerald     0
 405                     Nourney, Mr. Alfred (Baron von Drachstedt")"     0
 406                                        Ware, Mr. William Jeffery     0
 407                                       Widener, Mr. George Dunton     1
 408                                  Riordan, Miss. Johanna Hannah""     0
 409                                        Peacock, Miss. Treasteall     1
 410                                           Naughton, Miss. Hannah     0
 411                  Minahan, Mrs. William Edward (Lillian E Thorpe)     0
 412                                   Henriksson, Miss. Jenny Lovisa     0
 413                                               Spector, Mr. Woolf     0
 414                                     Oliva y Ocana, Dona. Fermina     0
 415                                     Saether, Mr. Simon Sivertsen     0
 416                                              Ware, Mr. Frederick     0
 417                                         Peter, Master. Michael J     1

     PassengerId Pclass     Sex SibSp              Ticket
 0           892      3    male     0              330911
 1           893      3  female     1              363272
 2           894      2    male     0              240276
 3           895      3    male     0              315154
 4           896      3  female     1             3101298
 5           897      3    male     0                7538
 6           898      3  female     0              330972
 7           899      2    male     1              248738
 8           900      3  female     0                2657
 9           901      3    male     2           A/4 48871
 10          902      3    male     0              349220
 11          903      1    male     0                 694
 12          904      1  female     1               21228
 13          905      2    male     1               24065
 14          906      1  female     1         W.E.P. 5734
 15          907      2  female     1       SC/PARIS 2167
 16          908      2    male     0              233734
 17          909      3    male     0                2692
 18          910      3  female     1    STON/O2. 3101270
 19          911      3  female     0                2696
 20          912      1    male     1            PC 17603
 21          913      3    male     0             C 17368
 22          914      1  female     0            PC 17598
 23          915      1    male     0            PC 17597
 24          916      1  female     1            PC 17608
 25          917      3    male     1           A/5. 3337
 26          918      1  female     0              113509
 27          919      3    male     0                2698
 28          920      1    male     0              113054
 29          921      3    male     2                2662

## - Detect inconsistencies

In [4]:
# >> Examples for inconsistency detection 
# Available consistency checking strategies :
#            - 'CC': checks whether the data satisfy the constraints
#                specified in a 'file_name'_constraint.tdda stored in 'save' directory
#            - 'PC': checks whether the data satisfy the patterns
#                specified in 'file_name'_patterns.txt stored in 'save' directory

import learn2clean.loading.reader as rd 
d_not_enc = rd.Reader(sep=',',verbose=False, encoding=False)                 
titanic  = ["../datasets/titanic/titanic_train.csv", "../datasets/titanic/test.csv"]
titanic_not_encoded = d_not_enc.train_test_split(titanic, 'Survived')
                
# import the Consistency_checker class
import learn2clean.consistency_checking.consistency_checker as cc

# discover the constraints from the input (train) dataset and store them in a file entitled 'titanic_discovered'_constraint.tdda in the 'save' directory
#cc.constraint_discovery(read_dataset('titanic'), file_name='titanic_discovered')

# discover the patterns from the input (train) dataset and store them in a file entitled 'titanic_discovered'_patterns.txt in the 'save' directory
#cc.pattern_discovery(read_dataset('titanic'), file_name='titanic_discovered')

# detect pattern violations with respect to a given file of patterns entitled 'titanic_example'__constraint.tdda" stored in the 'save' directory

cc.Consistency_checker(titanic_not_encoded, strategy='CC', file_name='titanic_example',verbose=True).transform()

# detect pattern violations with respect to a given file of patterns entitled 'titanic_example'_patterns.txt" stored in the 'save' directory

cc.Consistency_checker(titanic_not_encoded, strategy='PC', file_name='titanic_example',verbose=True).transform()

>>Consistency checking
* For train dataset
Constraints from the file: titanic_example_constraints.tdda
Constraints passing: 51

Constraints failing: 5

FIELDS:

Survived: 5 failures  0 passes  type ✗  min ✗  max ✗  sign ✗  max_nulls ✗

Age: 0 failures  4 passes  type ✓  min ✓  max ✓  sign ✓

Cabin: 0 failures  3 passes  type ✓  min_length ✓  max_length ✓

Embarked: 0 failures  4 passes  type ✓  min_length ✓  max_length ✓  allowed_values ✓

Fare: 0 failures  5 passes  type ✓  min ✓  max ✓  sign ✓  max_nulls ✓

Name: 0 failures  5 passes  type ✓  min_length ✓  max_length ✓  max_nulls ✓  no_duplicates ✓

Parch: 0 failures  5 passes  type ✓  min ✓  max ✓  sign ✓  max_nulls ✓

PassengerId: 0 failures  6 passes  type ✓  min ✓  max ✓  sign ✓  max_nulls ✓  no_duplicates ✓

Pclass: 0 failures  5 passes  type ✓  min ✓  max ✓  sign ✓  max_nulls ✓

Sex: 0 failures  5 passes  type ✓  min_length ✓  max_length ✓  max_nulls ✓  allowed_values ✓

SibSp: 0 failures  5 passes  type ✓  min ✓  max ✓  sign ✓  max_nulls ✓

Ticket: 0 failures  4 passes  type ✓  min_length ✓  max_length ✓  max_nulls ✓

SUMMARY:

Constraints passing: 51
Constraints failing: 5
          field  failures  passes   type    min min_length    max max_length  \
0      Survived         5       0  False  False        NaN  False        NaN
1           Age         0       4   True   True        NaN   True        NaN
2         Cabin         0       3   True    NaN       True    NaN       True
3      Embarked         0       4   True    NaN       True    NaN       True
4          Fare         0       5   True   True        NaN   True        NaN
5          Name         0       5   True    NaN       True    NaN       True
6         Parch         0       5   True   True        NaN   True        NaN
7   PassengerId         0       6   True   True        NaN   True        NaN
8        Pclass         0       5   True   True        NaN   True        NaN
9           Sex         0       5   True    NaN       True    NaN       True
10        SibSp         0       5   True   True        NaN   True        NaN
11       Ticket         0       4   True    NaN       True    NaN       True

     sign max_nulls no_duplicates allowed_values
0   False     False           NaN            NaN
1    True       NaN           NaN            NaN
2     NaN       NaN           NaN            NaN
3     NaN       NaN           NaN           True
4    True      True           NaN            NaN
5     NaN      True          True            NaN
6    True      True           NaN            NaN
7    True      True          True            NaN
8    True      True           NaN            NaN
9     NaN      True           NaN           True
10   True      True           NaN            NaN
11    NaN      True           NaN            NaN
Row index with constraint failure:

[]
* For test dataset
Constraints from the file: titanic_example_constraints.tdda
Constraints passing: 47

Constraints failing: 9

FIELDS:

Survived: 5 failures  0 passes  type ✗  min ✗  max ✗  sign ✗  max_nulls ✗

Age: 1 failure  3 passes  type ✓  min ✗  max ✓  sign ✓

Cabin: 0 failures  3 passes  type ✓  min_length ✓  max_length ✓

Embarked: 0 failures  4 passes  type ✓  min_length ✓  max_length ✓  allowed_values ✓

Fare: 1 failure  4 passes  type ✓  min ✓  max ✓  sign ✓  max_nulls ✗

Name: 0 failures  5 passes  type ✓  min_length ✓  max_length ✓  max_nulls ✓  no_duplicates ✓

Parch: 1 failure  4 passes  type ✓  min ✓  max ✗  sign ✓  max_nulls ✓

PassengerId: 1 failure  5 passes  type ✓  min ✓  max ✗  sign ✓  max_nulls ✓  no_duplicates ✓

Pclass: 0 failures  5 passes  type ✓  min ✓  max ✓  sign ✓  max_nulls ✓

Sex: 0 failures  5 passes  type ✓  min_length ✓  max_length ✓  max_nulls ✓  allowed_values ✓

SibSp: 0 failures  5 passes  type ✓  min ✓  max ✓  sign ✓  max_nulls ✓

Ticket: 0 failures  4 passes  type ✓  min_length ✓  max_length ✓  max_nulls ✓

SUMMARY:

Constraints passing: 47
Constraints failing: 9
          field  failures  passes   type    min min_length    max max_length  \
0      Survived         5       0  False  False        NaN  False        NaN
1           Age         1       3   True  False        NaN   True        NaN
2         Cabin         0       3   True    NaN       True    NaN       True
3      Embarked         0       4   True    NaN       True    NaN       True
4          Fare         1       4   True   True        NaN   True        NaN
5          Name         0       5   True    NaN       True    NaN       True
6         Parch         1       4   True   True        NaN  False        NaN
7   PassengerId         1       5   True   True        NaN  False        NaN
8        Pclass         0       5   True   True        NaN   True        NaN
9           Sex         0       5   True    NaN       True    NaN       True
10        SibSp         0       5   True   True        NaN   True        NaN
11       Ticket         0       4   True    NaN       True    NaN       True

     sign max_nulls no_duplicates allowed_values
0   False     False           NaN            NaN
1    True       NaN           NaN            NaN
2     NaN       NaN           NaN            NaN
3     NaN       NaN           NaN           True
4    True     False           NaN            NaN
5     NaN      True          True            NaN
6    True      True           NaN            NaN
7    True      True          True            NaN
8    True      True           NaN            NaN
9     NaN      True           NaN           True
10   True      True           NaN            NaN
11    NaN      True           NaN            NaN
Row index with constraint failure:

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417]
Consistency checking done -- CPU time: 0.07398724555969238 seconds
>>Consistency checking
* For train dataset
No violation on variable Sex for pattern# 1 as '^[a-z]{4,6}$'
Number of pattern violations on variable' Embarked 'for pattern# 2 as '^[Z|S]$' : 247
Indexes of rows to be removed: [1, 5, 9, 16, 19, 22, 26, 28, 30, 31, 32, 34, 36, 39, 42, 43, 44, 46, 47, 48, 52, 54, 57, 60, 64, 65, 73, 82, 96, 97, 109, 111, 114, 116, 118, 122, 125, 126, 128, 130, 135, 139, 140, 143, 155, 156, 171, 174, 177, 181, 186, 188, 194, 195, 196, 198, 203, 207, 208, 209, 214, 215, 218, 240, 241, 244, 245, 255, 256, 258, 260, 264, 273, 274, 278, 280, 285, 289, 291, 292, 295, 296, 299, 300, 301, 303, 306, 307, 308, 309, 310, 311, 319, 322, 325, 329, 330, 337, 352, 354, 358, 359, 361, 362, 364, 366, 367, 368, 369, 370, 373, 375, 377, 378, 380, 381, 388, 389, 393, 411, 412, 420, 421, 428, 448, 452, 453, 455, 459, 468, 469, 473, 484, 487, 493, 495, 496, 501, 502, 505, 510, 513, 517, 522, 523, 524, 525, 531, 532, 533, 537, 539, 544, 547, 550, 552, 553, 556, 557, 560, 568, 573, 578, 581, 583, 584, 587, 591, 593, 598, 599, 604, 608, 612, 613, 620, 622, 626, 629, 632, 641, 644, 645, 647, 653, 654, 657, 659, 661, 679, 680, 681, 685, 691, 693, 697, 698, 700, 702, 703, 709, 710, 716, 718, 727, 731, 737, 742, 749, 762, 766, 767, 768, 773, 776, 778, 780, 787, 789, 790, 793, 798, 803, 817, 825, 827, 828, 830, 832, 835, 839, 842, 843, 847, 849, 852, 858, 859, 866, 874, 875, 879, 885, 889, 890]
* For test dataset
No violation on variable Sex for pattern# 1 as '^[a-z]{4,6}$'
Number of pattern violations on variable' Embarked 'for pattern# 2 as '^[Z|S]$' : 148
Indexes of rows to be removed: [0, 2, 6, 8, 15, 16, 17, 19, 20, 23, 24, 26, 27, 29, 34, 35, 40, 46, 47, 48, 51, 54, 55, 59, 63, 64, 66, 68, 70, 73, 74, 75, 79, 80, 84, 85, 86, 88, 94, 100, 102, 104, 106, 107, 110, 111, 112, 113, 115, 116, 118, 121, 122, 124, 127, 131, 133, 136, 142, 150, 151, 160, 161, 166, 168, 171, 173, 177, 179, 181, 183, 184, 193, 196, 200, 202, 205, 206, 208, 216, 218, 220, 224, 225, 227, 233, 234, 236, 237, 239, 240, 242, 249, 252, 256, 264, 270, 271, 272, 273, 274, 282, 283, 288, 291, 292, 296, 297, 301, 304, 311, 313, 314, 315, 316, 321, 327, 331, 332, 333, 337, 339, 343, 347, 350, 358, 361, 364, 366, 368, 369, 371, 375, 380, 381, 388, 396, 397, 399, 402, 404, 405, 407, 408, 410, 411, 414, 417]
Consistency checking done -- CPU time: 0.03586006164550781 seconds

{'train':            Cabin Embarked  \
 0            NaN        S
 2            NaN        S
 3           C123        S
 4            NaN        S
 6            E46        S
 7            NaN        S
 8            NaN        S
 10            G6        S
 11          C103        S
 12           NaN        S
 13           NaN        S
 14           NaN        S
 15           NaN        S
 17           NaN        S
 18           NaN        S
 20           NaN        S
 21           D56        S
 23            A6        S
 24           NaN        S
 25           NaN        S
 27   C23 C25 C27        S
 29           NaN        S
 33           NaN        S
 35           NaN        S
 37           NaN        S
 38           NaN        S
 40           NaN        S
 41           NaN        S
 45           NaN        S
 49           NaN        S
 ..           ...      ...
 851          NaN        S
 853          D28        S
 854          NaN        S
 855          NaN        S
 856          NaN        S
 857          E17        S
 860          NaN        S
 861          NaN        S
 862          D17        S
 863          NaN        S
 864          NaN        S
 865          NaN        S
 867          A24        S
 868          NaN        S
 869          NaN        S
 870          NaN        S
 871          D35        S
 872  B51 B53 B55        S
 873          NaN        S
 876          NaN        S
 877          NaN        S
 878          NaN        S
 880          NaN        S
 881          NaN        S
 882          NaN        S
 883          NaN        S
 884          NaN        S
 886          NaN        S
 887          B42        S
 888          NaN        S

                                                           Name     Sex  \
 0                                      Braund, Mr. Owen Harris    male
 2                                       Heikkinen, Miss. Laina  female
 3                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
 4                                     Allen, Mr. William Henry    male
 6                                      McCarthy, Mr. Timothy J    male
 7                               Palsson, Master. Gosta Leonard    male
 8            Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female
 10                             Sandstrom, Miss. Marguerite Rut  female
 11                                    Bonnell, Miss. Elizabeth  female
 12                              Saundercock, Mr. William Henry    male
 13                                 Andersson, Mr. Anders Johan    male
 14                        Vestrom, Miss. Hulda Amanda Adolfina  female
 15                            Hewlett, Mrs. (Mary D Kingcome)   female
 17                                Williams, Mr. Charles Eugene    male
 18     Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)  female
 20                                        Fynney, Mr. Joseph J    male
 21                                       Beesley, Mr. Lawrence    male
 23                                Sloper, Mr. William Thompson    male
 24                               Palsson, Miss. Torborg Danira  female
 25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)  female
 27                              Fortune, Mr. Charles Alexander    male
 29                                         Todoroff, Mr. Lalio    male
 33                                       Wheadon, Mr. Edward H    male
 35                              Holverson, Mr. Alexander Oskar    male
 37                                    Cann, Mr. Ernest Charles    male
 38                          Vander Planke, Miss. Augusta Maria  female
 40              Ahlin, Mrs. Johan (Johanna Persdotter Larsson)  female
 41    Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)  female
 45                                    Rogers, Mr. William John    male
 49               Arnold-Franchi, Mrs. Josef (Josefine Franchi)  female
 ..                                                         ...     ...
 851                                        Svensson, Mr. Johan    male
 853                                  Lines, Miss. Mary Conover  female
 854              Carter, Mrs. Ernest Courtenay (Lilian Hughes)  female
 855                                 Aks, Mrs. Sam (Leah Rosen)  female
 856                 Wick, Mrs. George Dennick (Mary Hitchcock)  female
 857                                     Daly, Mr. Peter Denis     male
 860                                    Hansen, Mr. Claus Peter    male
 861                                Giles, Mr. Frederick Edward    male
 862        Swift, Mrs. Frederick Joel (Margaret Welles Barron)  female
 863                          Sage, Miss. Dorothy Edith "Dolly"  female
 864                                     Gill, Mr. John William    male
 865                                   Bystrom, Mrs. (Karolina)  female
 867                       Roebling, Mr. Washington Augustus II    male
 868                                van Melkebeke, Mr. Philemon    male
 869                            Johnson, Master. Harold Theodor    male
 870                                          Balkic, Mr. Cerin    male
 871           Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female
 872                                   Carlsson, Mr. Frans Olof    male
 873                                Vander Cruyssen, Mr. Victor    male
 876                              Gustafsson, Mr. Alfred Ossian    male
 877                                       Petroff, Mr. Nedelio    male
 878                                         Laleff, Mr. Kristo    male
 880               Shelley, Mrs. William (Imanita Parrish Hall)  female
 881                                         Markun, Mr. Johann    male
 882                               Dahlberg, Miss. Gerda Ulrika  female
 883                              Banfield, Mr. Frederick James    male
 884                                     Sutehall, Mr. Henry Jr    male
 886                                      Montvila, Rev. Juozas    male
 887                               Graham, Miss. Margaret Edith  female
 888                   Johnston, Miss. Catherine Helen "Carrie"  female

                Ticket
 0           A/5 21171
 2    STON/O2. 3101282
 3              113803
 4              373450
 6               17463
 7              349909
 8              347742
 10            PP 9549
 11             113783
 12          A/5. 2151
 13             347082
 14             350406
 15             248706
 17             244373
 18             345763
 20             239865
 21             248698
 23             113788
 24             349909
 25             347077
 27              19950
 29             349216
 33         C.A. 24579
 35             113789
 37         A./5. 2152
 38             345764
 40               7546
 41              11668
 45    S.C./A.4. 23567
 49             349237
 ..                ...
 851            347060
 853          PC 17592
 854            244252
 855            392091
 856             36928
 857            113055
 860            350026
 861             28134
 862             17466
 863          CA. 2343
 864            233866
 865            236852
 867          PC 17590
 868            345777
 869            347742
 870            349248
 871             11751
 872               695
 873            345765
 876              7534
 877            349212
 878            349217
 880            230433
 881            349257
 882              7552
 883  C.A./SOTON 34068
 884   SOTON/OQ 392076
 886            211536
 887            112053
 888        W./C. 6607

 [646 rows x 5 columns], 'test':            Cabin Embarked  \
 1            NaN        S
 3            NaN        S
 4            NaN        S
 5            NaN        S
 7            NaN        S
 9            NaN        S
 10           NaN        S
 11           NaN        S
 12           B45        S
 13           NaN        S
 14           E31        S
 18           NaN        S
 21           NaN        S
 22           NaN        S
 25           NaN        S
 28           A21        S
 30           NaN        S
 31           NaN        S
 32           NaN        S
 33           NaN        S
 36           NaN        S
 37           NaN        S
 38           NaN        S
 39           NaN        S
 41           D34        S
 42           NaN        S
 43           NaN        S
 44           D19        S
 45           NaN        S
 49           NaN        S
 ..           ...      ...
 372  B52 B54 B56        S
 373          NaN        S
 374          A34        S
 376          NaN        S
 377          NaN        S
 378          C39        S
 379          NaN        S
 382          NaN        S
 383          NaN        S
 384          NaN        S
 385          NaN        S
 386          NaN        S
 387          NaN        S
 389          NaN        S
 390          B24        S
 391          D28        S
 392          NaN        S
 393          NaN        S
 394          NaN        S
 395          C31        S
 398          NaN        S
 400           C7        S
 401          NaN        S
 403          NaN        S
 406          NaN        S
 409          NaN        S
 412          NaN        S
 413          NaN        S
 415          NaN        S
 416          NaN        S

                                                         Name     Sex  \
 1                           Wilkes, Mrs. James (Ellen Needs)  female
 3                                           Wirz, Mr. Albert    male
 4               Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female
 5                                 Svensson, Mr. Johan Cervin    male
 7                               Caldwell, Mr. Albert Francis    male
 9                                    Davies, Mr. John Samuel    male
 10                                          Ilieff, Mr. Ylio    male
 11                                Jones, Mr. Charles Cresson    male
 12             Snyder, Mrs. John Pillsbury (Nelle Stevenson)  female
 13                                      Howard, Mr. Benjamin    male
 14   Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)  female
 18                              Ilmakangas, Miss. Ida Livija  female
 21                                 Olsen, Master. Artur Karl    male
 22                      Flegenheim, Mrs. Alfred (Antoinette)  female
 25                                   Robins, Mr. Alexander A    male
 28                                   Brady, Mr. John Bertram    male
 30                              Louch, Mr. Charles Alexander    male
 31                             Jefferys, Mr. Clifford Thomas    male
 32                  Dean, Mrs. Bertram (Eva Georgetta Light)  female
 33         Johnston, Mrs. Andrew G (Elizabeth Lily" Watson)"  female
 36                                       Roth, Miss. Sarah A  female
 37                                        Cacic, Miss. Manda  female
 38                                           Sap, Mr. Julius    male
 39                                             Hee, Mr. Ling    male
 41                               Franklin, Mr. Thomas Parham    male
 42                                     Goldsmith, Mr. Nathan    male
 43                     Corbett, Mrs. Walter H (Irene Colvin)  female
 44          Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)  female
 45                           Peltomaki, Mr. Nikolai Johannes    male
 49            Coutts, Mrs. William (Winnie Minnie" Treanor)"  female
 ..                                                       ...     ...
 372                                  Ismay, Mr. Joseph Bruce    male
 373                                   Harbeck, Mr. William H    male
 374                    Dodge, Mrs. Washington (Ruth Vidaver)  female
 376                                        Kink, Miss. Maria  female
 377                             Cotterill, Mr. Henry Harry""    male
 378                              Hipkins, Mr. William Edward    male
 379                              Asplund, Master. Carl Edgar    male
 382                               Risien, Mrs. Samuel (Emma)  female
 383                      McNamee, Mrs. Neal (Eileen O'Leary)  female
 384                           Wheeler, Mr. Edwin Frederick""    male
 385                                       Herman, Miss. Kate  female
 386                           Aronsson, Mr. Ernst Axel Algot    male
 387                                          Ashby, Mr. John    male
 389                              Palsson, Master. Paul Folke    male
 390                               Payne, Mr. Vivian Ponsonby    male
 391           Lines, Mrs. Ernest H (Elizabeth Lindsey James)  female
 392                            Abbott, Master. Eugene Joseph    male
 393                                     Gilbert, Mr. William    male
 394                                 Kink-Heilmann, Mr. Anton    male
 395           Smith, Mrs. Lucien Philip (Mary Eloise Hughes)  female
 398                           Larsson-Rondberg, Mr. Edvard A    male
 400                                  Bonnell, Miss. Caroline  female
 401                                          Gale, Mr. Harry    male
 403                                   Carrau, Mr. Jose Pedro    male
 406                                Ware, Mr. William Jeffery    male
 409                                Peacock, Miss. Treasteall  female
 412                           Henriksson, Miss. Jenny Lovisa  female
 413                                       Spector, Mr. Woolf    male
 415                             Saether, Mr. Simon Sivertsen    male
 416                                      Ware, Mr. Frederick    male

                  Ticket
 1                363272
 3                315154
 4               3101298
 5                  7538
 7                248738
 9             A/4 48871
 10               349220
 11                  694
 12                21228
 13                24065
 14          W.E.P. 5734
 18     STON/O2. 3101270
 21              C 17368
 22             PC 17598
 25            A/5. 3337
 28               113054
 30           SC/AH 3085
 31           C.A. 31029
 32            C.A. 2315
 33           W./C. 6607
 36               342712
 37               315087
 38               345768
 39                 1601
 41               113778
 42   SOTON/O.Q. 3101263
 43               237249
 44                11753
 45    STON/O 2. 3101291
 49           C.A. 37671
 ..                  ...
 372              112058
 373              248746
 374               33638
 376              315152
 377               29107
 378                 680
 379              347077
 382              364498
 383              376566
 384       SC/PARIS 2159
 385              220845
 386              349911
 387              244346
 389              349909
 390               12749
 391            PC 17592
 392           C.A. 2673
 393          C.A. 30769
 394              315153
 395               13695
 398              347065
 400               36928
 401               28664
 403              113059
 406               28666
 409  SOTON/O.Q. 3101315
 412              347086
 413           A.5. 3236
 415  SOTON/O.Q. 3101262
 416              359309

 [270 rows x 5 columns], 'target': 0      0
 1      1
 2      1
 3      1
 4      0
 5      0
 6      0
 7      0
 8      1
 9      1
 10     1
 11     1
 12     0
 13     0
 14     0
 15     1
 16     0
 17     1
 18     0
 19     1
 20     0
 21     1
 22     1
 23     1
 24     0
 25     1
 26     0
 27     0
 28     1
 29     0
       ..
 861    0
 862    1
 863    0
 864    0
 865    1
 866    1
 867    0
 868    0
 869    1
 870    0
 871    1
 872    0
 873    0
 874    1
 875    1
 876    0
 877    0
 878    0
 879    1
 880    1
 881    0
 882    0
 883    0
 884    0
 885    0
 886    0
 887    1
 888    0
 889    1
 890    0
 Name: Survived, Length: 891, dtype: int64, 'target_test': Series([], Name: Survived, dtype: int64)}

## - Select features

In [19]:
# >> Examples for Feature selection
# Available strategies=
#           'MR': using a default threshold on the missing ratio per variable,
#            i.e., variables with 20% (by default) and more missing values
#            are removed
#            'LC': detects pairs of linearly correlated variables and remove one
#            'VAR': uses threshold on the variance
#            'Tree': uses decision tree classification as model for feature
#                selection given the target set for classification task
#                'SVC': uses linear SVC as model for feature selection given
#                 the target set for classification task
#            'WR': uses the selectKbest (k=10) and Chi2 for feature selection
#                given the target set for classification task
#            'L1': uses Lasso L1 for feature selection given the target set for
#                regression task
#            'IMP': uses Random Forest regression for feature selection given
#                the target set for regression task

                
import learn2clean.loading.reader as rd 
import learn2clean.feature_selection.feature_selector as fs
titanic  = ["../datasets/titanic/titanic_train.csv", "../datasets/titanic/test.csv"]
d_not_enc = rd.Reader(sep=',',verbose=True, encoding=False) 
titanic_not_encoded = d_not_enc.train_test_split(titanic, 'Survived')
#Available strategies for feature selection 
#        'MR': using a default threshold on the missing ratio per variable, i.e., variables
#                with 20% (by default) and more missing values are removed
#        'LC': detects pairs of linearly correlated variables and remove one
#        'VAR': uses threshold on the variance
#        'Tree': uses decision tree classification as model for feature selection given the target set for classification task
#        'SVC': uses linear SVC as model for feature selection given the target set for classification task
#        'WR': uses the selectKbest (k=10) and Chi2 for feature selection given the target set for classification task
#        'L1': uses Lasso L1 for feature selection given the target set for regression task
#        'IMP': uses Random Forest regression for feature selection given the target set for regression task

fs.Feature_selector(dataset = titanic_not_encoded.copy(), strategy= 'MR', threshold=0.1, exclude=None, verbose=True).transform()

fs.Feature_selector(dataset = titanic_not_encoded.copy(), strategy= 'LC', threshold=0.2,  exclude=None, verbose=True).transform()

fs.Feature_selector(dataset = titanic_not_encoded.copy(), strategy= 'L1',  exclude= None, threshold=.3,verbose=True).transform()

fs.Feature_selector(dataset = titanic_not_encoded.copy(), strategy= 'IMP', exclude = 'SibSp',verbose=True, threshold=.4).transform()

fs.Feature_selector(dataset = titanic_not_encoded.copy(), strategy= 'Tree',  exclude='Pclass',verbose=True).transform()

fs.Feature_selector(dataset = titanic_not_encoded.copy(), strategy= 'WR', exclude= None, verbose=True).transform()

fs.Feature_selector(dataset = titanic_not_encoded.copy(), strategy= 'WR', exclude= 'Sex', verbose=True).transform()

fs.Feature_selector(dataset = titanic_not_encoded.copy(), strategy= 'SVC',  exclude=None).transform()

fs.Feature_selector(dataset = titanic_not_encoded.copy(), strategy= 'VAR',  exclude=None).transform()

fs.Feature_selector(dataset = titanic_not_encoded.copy(), strategy= 'VAR',  exclude='Cabin').transform()

Reading csv : titanic_train.csv ...
Reading data ...
CPU time: 0.04526114463806152 seconds
Profiling datasets
      Attribute     Type  Num. Missing Values  Num. Unique Values           Sknewness  Kurtosis
0   PassengerId  float64                  0.0               891.0                   0      -1.2
1      Survived  float64                  0.0                 2.0            0.477717  -1.77179
2        Pclass  float64                  0.0                 3.0           -0.629486  -1.27957
3           Age  float64                177.0                89.0  0.3882898514698658  0.168637
4         SibSp  float64                  0.0                 7.0             3.68913   17.7735
5         Parch  float64                  0.0                 7.0             2.74449   9.71661
6          Fare  float64                  0.0               248.0             4.77925   33.2043
7          Name   object                  0.0               891.0                 N/A       N/A
8           Sex   object                  0.0                 2.0                 N/A       N/A
9        Ticket   object                  0.0               681.0                 N/A       N/A
10        Cabin   object                687.0               148.0                 N/A       N/A
11     Embarked   object                  2.0                 4.0                 N/A       N/A

Reading csv : test.csv ...
Reading data ...
CPU time: 0.031436920166015625 seconds
Profiling datasets
      Attribute     Type  Num. Missing Values  Num. Unique Values            Sknewness   Kurtosis
0   PassengerId  float64                  0.0               418.0                    0   -1.20001
1        Pclass  float64                  0.0                 3.0            -0.532252    -1.3805
2           Age  float64                 86.0                80.0  0.45529229694892764  0.0645088
3         SibSp  float64                  0.0                 7.0              4.15336    26.1685
4         Parch  float64                  0.0                 8.0              4.63774    31.0237
5          Fare  float64                  1.0               170.0   3.6739366758439074    17.6931
6          Name   object                  0.0               418.0                  N/A        N/A
7           Sex   object                  0.0                 2.0                  N/A        N/A
8        Ticket   object                  0.0               363.0                  N/A        N/A
9         Cabin   object                327.0                77.0                  N/A        N/A
10     Embarked   object                  0.0                 3.0                  N/A        N/A

> Number of common features : 11

gathering and crunching for train and test datasets ...
reindexing for train and test datasets ...

> Number of categorical features in the training set: 5
> Number of numerical features in the training set: 6
> Number of training samples : 891
> Number of test samples : 418

> Top sparse features (% missing values on train set):
Cabin       77.1
Age         19.9
Embarked     0.2
dtype: float64

> Task : classification
0.0    549
1.0    342
Name: Survived, dtype: int64


>>Feature selection
Before feature selection:
11 features
Apply MR feature selection with missing threshold= 0.1
             missing_fraction
Cabin                0.771044
Age                  0.198653
Embarked             0.002245
Fare                 0.000000
Name                 0.000000
Parch                0.000000
PassengerId          0.000000
Pclass               0.000000
Sex                  0.000000
SibSp                0.000000
Ticket               0.000000
2 features with greater than 0.10 missing values.

List of variables to be removed : ['Age', 'Cabin']
List of variables to be keep
['Parch', 'Ticket', 'SibSp', 'Pclass', 'Name', 'Embarked', 'Fare', 'Sex', 'PassengerId']
After feature selection:
9 features remain
['Parch', 'Ticket', 'SibSp', 'Pclass', 'Name', 'Embarked', 'Fare', 'Sex', 'PassengerId']
Feature selection done -- CPU time: 0.008201837539672852 seconds


>>Feature selection
Before feature selection:
11 features
Apply LC feature selection with threshold= 0.2
Correlation matrix
                  Age      Fare     Parch  PassengerId    Pclass     SibSp
Age          1.000000  0.096067 -0.189119     0.036847 -0.369226 -0.308247
Fare         0.096067  1.000000  0.216225     0.012658 -0.549500  0.159651
Parch       -0.189119  0.216225  1.000000    -0.001652  0.018443  0.414838
PassengerId  0.036847  0.012658 -0.001652     1.000000 -0.035144 -0.057527
Pclass      -0.369226 -0.549500  0.018443    -0.035144  1.000000  0.083081
SibSp       -0.308247  0.159651  0.414838    -0.057527  0.083081  1.000000
3 features with linear correlation greater than 0.20.

List of correlated variables to be removed : ['Parch', 'Pclass', 'SibSp']
List of numerical variables to be keep
['Fare', 'Age', 'PassengerId']
After feature selection:
8 features remain
['Ticket', 'Name', 'Embarked', 'Fare', 'Cabin', 'Sex', 'Age', 'PassengerId']
Feature selection done -- CPU time: 0.022053956985473633 seconds


>>Feature selection
Before feature selection:
11 features
Warning: This strategy requires no missing values, so missing values have been removed applying DROP on the dataset.
Apply L1 feature selection with threshold= 0.3
After feature selection:
6 features remain
['Parch', 'SibSp', 'Pclass', 'Fare', 'Age', 'PassengerId']
Feature selection done -- CPU time: 0.010128974914550781 seconds


>>Feature selection
Before feature selection:
11 features
Warning: This strategy requires no missing values, so missing values have been removed applying DROP on the dataset.
Apply IMP feature selection with threshold= 0.4
and keep variable SibSp
After feature selection:
5 features remain
['SibSp', 'Pclass', 'Fare', 'Age', 'PassengerId']
Feature selection done -- CPU time: 0.2556779384613037 seconds


>>Feature selection
Before feature selection:
11 features
Warning: This strategy requires no missing values, so missing values have been removed applying DROP on the dataset.
Apply Tree-based feature selection
Best features to keep ['Age', 'Fare', 'PassengerId']
and keep variable Pclass
After feature selection:
4 features remain
['Fare', 'Pclass', 'Age', 'PassengerId']
Feature selection done -- CPU time: 0.068511962890625 seconds


>>Feature selection
Before feature selection:
11 features
Warning: This strategy requires no missing values, so missing values have been removed applying DROP on the dataset.
Apply WR feature selection
Input variables must be non-negative. WR feature selection is only applied to positive variables.
Best features to keep ['Age', 'Fare', 'Parch', 'PassengerId', 'Pclass', 'SibSp']
After feature selection:
6 features remain
['Parch', 'SibSp', 'Pclass', 'Fare', 'Age', 'PassengerId']
Feature selection done -- CPU time: 0.014444589614868164 seconds


>>Feature selection
Before feature selection:
11 features
Warning: This strategy requires no missing values, so missing values have been removed applying DROP on the dataset.
Apply WR feature selection
Input variables must be non-negative. WR feature selection is only applied to positive variables.
Best features to keep ['Age', 'Fare', 'Parch', 'PassengerId', 'Pclass', 'SibSp']
and keep variable Sex
After feature selection:
7 features remain
['Parch', 'SibSp', 'Pclass', 'Sex', 'Fare', 'Age', 'PassengerId']
Feature selection done -- CPU time: 0.015102863311767578 seconds


>>Feature selection
Before feature selection:
11 features
Warning: This strategy requires no missing values, so missing values have been removed applying DROP on the dataset.
Apply SVC feature selection
After feature selection:
4 features remain
['Fare', 'Pclass', 'Age', 'PassengerId']
Feature selection done -- CPU time: 0.011328935623168945 seconds


>>Feature selection
Before feature selection:
11 features
Apply VAR feature selection with threshold= 0.3
After feature selection:
6 features remain
['Parch', 'SibSp', 'Pclass', 'Fare', 'Age', 'PassengerId']
Feature selection done -- CPU time: 0.00565028190612793 seconds


>>Feature selection
Before feature selection:
11 features
Apply VAR feature selection with threshold= 0.3
and keep variable Cabin
After feature selection:
7 features remain
['Parch', 'SibSp', 'Pclass', 'Cabin', 'Fare', 'Age', 'PassengerId']
Feature selection done -- CPU time: 0.005725860595703125 seconds

{'train':       Age      Fare  Parch  PassengerId  Pclass  SibSp        Cabin
 0    22.0    7.2500    0.0          1.0     3.0    1.0          NaN
 1    38.0   71.2833    0.0          2.0     1.0    1.0          C85
 2    26.0    7.9250    0.0          3.0     3.0    0.0          NaN
 3    35.0   53.1000    0.0          4.0     1.0    1.0         C123
 4    35.0    8.0500    0.0          5.0     3.0    0.0          NaN
 5     NaN    8.4583    0.0          6.0     3.0    0.0          NaN
 6    54.0   51.8625    0.0          7.0     1.0    0.0          E46
 7     2.0   21.0750    1.0          8.0     3.0    3.0          NaN
 8    27.0   11.1333    2.0          9.0     3.0    0.0          NaN
 9    14.0   30.0708    0.0         10.0     2.0    1.0          NaN
 10    4.0   16.7000    1.0         11.0     3.0    1.0           G6
 11   58.0   26.5500    0.0         12.0     1.0    0.0         C103
 12   20.0    8.0500    0.0         13.0     3.0    0.0          NaN
 13   39.0   31.2750    5.0         14.0     3.0    1.0          NaN
 14   14.0    7.8542    0.0         15.0     3.0    0.0          NaN
 15   55.0   16.0000    0.0         16.0     2.0    0.0          NaN
 16    2.0   29.1250    1.0         17.0     3.0    4.0          NaN
 17    NaN   13.0000    0.0         18.0     2.0    0.0          NaN
 18   31.0   18.0000    0.0         19.0     3.0    1.0          NaN
 19    NaN    7.2250    0.0         20.0     3.0    0.0          NaN
 20   35.0   26.0000    0.0         21.0     2.0    0.0          NaN
 21   34.0   13.0000    0.0         22.0     2.0    0.0          D56
 22   15.0    8.0292    0.0         23.0     3.0    0.0          NaN
 23   28.0   35.5000    0.0         24.0     1.0    0.0           A6
 24    8.0   21.0750    1.0         25.0     3.0    3.0          NaN
 25   38.0   31.3875    5.0         26.0     3.0    1.0          NaN
 26    NaN    7.2250    0.0         27.0     3.0    0.0          NaN
 27   19.0  263.0000    2.0         28.0     1.0    3.0  C23 C25 C27
 28    NaN    7.8792    0.0         29.0     3.0    0.0          NaN
 29    NaN    7.8958    0.0         30.0     3.0    0.0          NaN
 ..    ...       ...    ...          ...     ...    ...          ...
 861  21.0   11.5000    0.0        862.0     2.0    1.0          NaN
 862  48.0   25.9292    0.0        863.0     1.0    0.0          D17
 863   NaN   69.5500    2.0        864.0     3.0    8.0          NaN
 864  24.0   13.0000    0.0        865.0     2.0    0.0          NaN
 865  42.0   13.0000    0.0        866.0     2.0    0.0          NaN
 866  27.0   13.8583    0.0        867.0     2.0    1.0          NaN
 867  31.0   50.4958    0.0        868.0     1.0    0.0          A24
 868   NaN    9.5000    0.0        869.0     3.0    0.0          NaN
 869   4.0   11.1333    1.0        870.0     3.0    1.0          NaN
 870  26.0    7.8958    0.0        871.0     3.0    0.0          NaN
 871  47.0   52.5542    1.0        872.0     1.0    1.0          D35
 872  33.0    5.0000    0.0        873.0     1.0    0.0  B51 B53 B55
 873  47.0    9.0000    0.0        874.0     3.0    0.0          NaN
 874  28.0   24.0000    0.0        875.0     2.0    1.0          NaN
 875  15.0    7.2250    0.0        876.0     3.0    0.0          NaN
 876  20.0    9.8458    0.0        877.0     3.0    0.0          NaN
 877  19.0    7.8958    0.0        878.0     3.0    0.0          NaN
 878   NaN    7.8958    0.0        879.0     3.0    0.0          NaN
 879  56.0   83.1583    1.0        880.0     1.0    0.0          C50
 880  25.0   26.0000    1.0        881.0     2.0    0.0          NaN
 881  33.0    7.8958    0.0        882.0     3.0    0.0          NaN
 882  22.0   10.5167    0.0        883.0     3.0    0.0          NaN
 883  28.0   10.5000    0.0        884.0     2.0    0.0          NaN
 884  25.0    7.0500    0.0        885.0     3.0    0.0          NaN
 885  39.0   29.1250    5.0        886.0     3.0    0.0          NaN
 886  27.0   13.0000    0.0        887.0     2.0    0.0          NaN
 887  19.0   30.0000    0.0        888.0     1.0    0.0          B42
 888   NaN   23.4500    2.0        889.0     3.0    1.0          NaN
 889  26.0   30.0000    0.0        890.0     1.0    0.0         C148
 890  32.0    7.7500    0.0        891.0     3.0    0.0          NaN

 [891 rows x 7 columns],
 'test':      Parch  SibSp  Pclass            Cabin      Fare   Age  PassengerId
 0      0.0    0.0     3.0              NaN    7.8292  34.5        892.0
 1      0.0    1.0     3.0              NaN    7.0000  47.0        893.0
 2      0.0    0.0     2.0              NaN    9.6875  62.0        894.0
 3      0.0    0.0     3.0              NaN    8.6625  27.0        895.0
 4      1.0    1.0     3.0              NaN   12.2875  22.0        896.0
 5      0.0    0.0     3.0              NaN    9.2250  14.0        897.0
 6      0.0    0.0     3.0              NaN    7.6292  30.0        898.0
 7      1.0    1.0     2.0              NaN   29.0000  26.0        899.0
 8      0.0    0.0     3.0              NaN    7.2292  18.0        900.0
 9      0.0    2.0     3.0              NaN   24.1500  21.0        901.0
 10     0.0    0.0     3.0              NaN    7.8958   NaN        902.0
 11     0.0    0.0     1.0              NaN   26.0000  46.0        903.0
 12     0.0    1.0     1.0              B45   82.2667  23.0        904.0
 13     0.0    1.0     2.0              NaN   26.0000  63.0        905.0
 14     0.0    1.0     1.0              E31   61.1750  47.0        906.0
 15     0.0    1.0     2.0              NaN   27.7208  24.0        907.0
 16     0.0    0.0     2.0              NaN   12.3500  35.0        908.0
 17     0.0    0.0     3.0              NaN    7.2250  21.0        909.0
 18     0.0    1.0     3.0              NaN    7.9250  27.0        910.0
 19     0.0    0.0     3.0              NaN    7.2250  45.0        911.0
 20     0.0    1.0     1.0              NaN   59.4000  55.0        912.0
 21     1.0    0.0     3.0              NaN    3.1708   9.0        913.0
 22     0.0    0.0     1.0              NaN   31.6833   NaN        914.0
 23     1.0    0.0     1.0              NaN   61.3792  21.0        915.0
 24     3.0    1.0     1.0  B57 B59 B63 B66  262.3750  48.0        916.0
 25     0.0    1.0     3.0              NaN   14.5000  50.0        917.0
 26     1.0    0.0     1.0              B36   61.9792  22.0        918.0
 27     0.0    0.0     3.0              NaN    7.2250  22.5        919.0
 28     0.0    0.0     1.0              A21   30.5000  41.0        920.0
 29     0.0    2.0     3.0              NaN   21.6792   NaN        921.0
 ..     ...    ...     ...              ...       ...   ...          ...
 388    0.0    0.0     3.0              NaN    7.7500  21.0       1280.0
 389    1.0    3.0     3.0              NaN   21.0750   6.0       1281.0
 390    0.0    0.0     1.0              B24   93.5000  23.0       1282.0
 391    1.0    0.0     1.0              D28   39.4000  51.0       1283.0
 392    2.0    0.0     3.0              NaN   20.2500  13.0       1284.0
 393    0.0    0.0     2.0              NaN   10.5000  47.0       1285.0
 394    1.0    3.0     3.0              NaN   22.0250  29.0       1286.0
 395    0.0    1.0     1.0              C31   60.0000  18.0       1287.0
 396    0.0    0.0     3.0              NaN    7.2500  24.0       1288.0
 397    1.0    1.0     1.0              B41   79.2000  48.0       1289.0
 398    0.0    0.0     3.0              NaN    7.7750  22.0       1290.0
 399    0.0    0.0     3.0              NaN    7.7333  31.0       1291.0
 400    0.0    0.0     1.0               C7  164.8667  30.0       1292.0
 401    0.0    1.0     2.0              NaN   21.0000  38.0       1293.0
 402    1.0    0.0     1.0              NaN   59.4000  22.0       1294.0
 403    0.0    0.0     1.0              NaN   47.1000  17.0       1295.0
 404    0.0    1.0     1.0              D40   27.7208  43.0       1296.0
 405    0.0    0.0     2.0              D38   13.8625  20.0       1297.0
 406    0.0    1.0     2.0              NaN   10.5000  23.0       1298.0
 407    1.0    1.0     1.0              C80  211.5000  50.0       1299.0
 408    0.0    0.0     3.0              NaN    7.7208   NaN       1300.0
 409    1.0    1.0     3.0              NaN   13.7750   3.0       1301.0
 410    0.0    0.0     3.0              NaN    7.7500   NaN       1302.0
 411    0.0    1.0     1.0              C78   90.0000  37.0       1303.0
 412    0.0    0.0     3.0              NaN    7.7750  28.0       1304.0
 413    0.0    0.0     3.0              NaN    8.0500   NaN       1305.0
 414    0.0    0.0     1.0             C105  108.9000  39.0       1306.0
 415    0.0    0.0     3.0              NaN    7.2500  38.5       1307.0
 416    0.0    0.0     3.0              NaN    8.0500   NaN       1308.0
 417    1.0    1.0     3.0              NaN   22.3583   NaN       1309.0

 [418 rows x 7 columns],
 'target': 0      0.0
 1      1.0
 2      1.0
 3      1.0
 4      0.0
 5      0.0
 6      0.0
 7      0.0
 8      1.0
 9      1.0
 10     1.0
 11     1.0
 12     0.0
 13     0.0
 14     0.0
 15     1.0
 16     0.0
 17     1.0
 18     0.0
 19     1.0
 20     0.0
 21     1.0
 22     1.0
 23     1.0
 24     0.0
 25     1.0
 26     0.0
 27     0.0
 28     1.0
 29     0.0
       ...
 861    0.0
 862    1.0
 863    0.0
 864    0.0
 865    1.0
 866    1.0
 867    0.0
 868    0.0
 869    1.0
 870    0.0
 871    1.0
 872    0.0
 873    0.0
 874    1.0
 875    1.0
 876    0.0
 877    0.0
 878    0.0
 879    1.0
 880    1.0
 881    0.0
 882    0.0
 883    0.0
 884    0.0
 885    0.0
 886    0.0
 887    1.0
 888    0.0
 889    1.0
 890    0.0
 Name: Survived, Length: 891, dtype: float64,
 'target_test': Series([], Name: Survived, dtype: float64)}

## >> Classification

In [20]:
import learn2clean.classification.classifier as cl
#output is accuracy of classification for k=10 cross-validation and execution time 
#plus a detailed classification report if verbose = True

Cl1 = cl.Classifier(dataset = titanic_not_encoded,target = 'Survived',strategy = 'LDA', verbose = False).transform()
Cl2 = cl.Classifier(dataset = titanic_not_encoded,target = 'Survived',strategy = 'MNB',verbose = False).transform()
Cl3 = cl.Classifier(dataset = titanic_not_encoded,target = 'Survived',strategy = 'NB',verbose = False).transform()
Cl4 = cl.Classifier(dataset = titanic_not_encoded,target = 'Survived',strategy = 'CART',verbose = True).transform()

>>Classification task

Accuracy of LDA result for 10 cross-validation : 0.7002801120448179

Classification done -- CPU time: 0.0186312198638916 seconds

>>Classification task
Accuracy of Multinomial Naive Bayes classification for 10 cross-validation : 0.653

Classification done -- CPU time: 1.9718081951141357 seconds

>>Classification task
Accuracy of Naive Naive Bayes classification for 10 cross-validation : 0.6680672268907563

Classification done -- CPU time: 0.030199050903320312 seconds

>>Classification task
{'mean_fit_time': array([0.00119755, 0.00142217, 0.00156717, 0.00172107, 0.00180094]), 'std_fit_time': array([4.62359281e-05, 4.82917406e-05, 3.13430762e-05, 2.82700601e-05,
       5.98741210e-05]), 'mean_score_time': array([0.00027101, 0.00025697, 0.00025885, 0.00026007, 0.00026159]), 'std_score_time': array([2.35376139e-05, 3.35958766e-06, 5.37584994e-06, 5.55244060e-06,
       5.72581961e-06]), 'param_max_depth': masked_array(data=[3, 5, 7, 9, 10],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'max_depth': 3}, {'max_depth': 5}, {'max_depth': 7}, {'max_depth': 9}, {'max_depth': 10}], 'split0_test_score': array([0.56944444, 0.58333333, 0.54166667, 0.48611111, 0.47222222]), 'split1_test_score': array([0.75      , 0.68055556, 0.59722222, 0.56944444, 0.58333333]), 'split2_test_score': array([0.73611111, 0.69444444, 0.69444444, 0.69444444, 0.65277778]), 'split3_test_score': array([0.70833333, 0.68055556, 0.63888889, 0.65277778, 0.625     ]), 'split4_test_score': array([0.70422535, 0.73239437, 0.67605634, 0.70422535, 0.66197183]), 'split5_test_score': array([0.67605634, 0.67605634, 0.70422535, 0.69014085, 0.67605634]), 'split6_test_score': array([0.66197183, 0.67605634, 0.69014085, 0.69014085, 0.66197183]), 'split7_test_score': array([0.71830986, 0.70422535, 0.71830986, 0.64788732, 0.73239437]), 'split8_test_score': array([0.70422535, 0.70422535, 0.67605634, 0.64788732, 0.67605634]), 'split9_test_score': array([0.78873239, 0.76056338, 0.71830986, 0.71830986, 0.71830986]), 'mean_test_score': array([0.70168067, 0.68907563, 0.66526611, 0.64985994, 0.64565826]), 'std_test_score': array([0.05592145, 0.04380901, 0.05439313, 0.06812188, 0.07058898]), 'rank_test_score': array([1, 2, 3, 4, 5], dtype=int32), 'split0_train_score': array([0.75077882, 0.79595016, 0.85669782, 0.92056075, 0.9470405 ]), 'split1_train_score': array([0.73831776, 0.7694704 , 0.83956386, 0.90031153, 0.92367601]), 'split2_train_score': array([0.7305296 , 0.78816199, 0.8317757 , 0.89096573, 0.90965732]), 'split3_train_score': array([0.7305296 , 0.79750779, 0.84890966, 0.89719626, 0.92056075]), 'split4_train_score': array([0.7340591 , 0.77760498, 0.83825816, 0.88335925, 0.90202177]), 'split5_train_score': array([0.75427683, 0.79315708, 0.83203733, 0.86936236, 0.88646967]), 'split6_train_score': array([0.73872473, 0.77916019, 0.81959565, 0.87713841, 0.90513219]), 'split7_train_score': array([0.74183515, 0.7807154 , 0.81804044, 0.87713841, 0.90046656]), 'split8_train_score': array([0.74650078, 0.78227061, 0.82426128, 0.87713841, 0.91135303]), 'split9_train_score': array([0.73716952, 0.79004666, 0.83048212, 0.88180404, 0.90357698]), 'mean_train_score': array([0.74027219, 0.78540452, 0.8339622 , 0.88749752, 0.91099548]), 'std_train_score': array([0.00769439, 0.00855853, 0.01168235, 0.01436603, 0.01560694])}
Avg accuracy of CART classification for 10 cross-validation : 0.7016806722689075

Classification done -- CPU time: 13.200136184692383 seconds

## >> Regression

In [22]:
import learn2clean.regression.regressor as rg
# output is MSE and computation time, with regression summary if verbose = True
rg1 = rg.Regressor(dataset = titanic_not_encoded,target = 'Survived',strategy= 'LASSO', verbose = True).transform()

rg2 = rg.Regressor(dataset = titanic_not_encoded,target = 'Survived',strategy= 'OLS',verbose = True).transform()

>>Regression task
MSE values of cross validation
[[0.33428799 0.19545235 0.27222477 0.25590979 0.26467421 0.24275834
  0.22934358 0.22435433 0.23116173 0.24046703]
 [0.33381358 0.19613092 0.2702665  0.25316562 0.26448743 0.24257295
  0.22936945 0.22496779 0.23169864 0.23734665]
 [0.33336004 0.1972071  0.26855447 0.25059992 0.26438711 0.24251741
  0.22949092 0.22566054 0.23237851 0.2344432 ]
 [0.32786341 0.19956412 0.26645376 0.24709295 0.26439872 0.24267824
  0.22985272 0.2268461  0.23366493 0.23050614]
 [0.32029113 0.20221071 0.26513165 0.24448445 0.26455681 0.24303609
  0.23031892 0.22796896 0.23498205 0.22760982]
 [0.31605777 0.20409598 0.26452545 0.24305575 0.26471675 0.24334843
  0.23067047 0.22870123 0.23587898 0.22603889]
 [0.31469755 0.20477317 0.26435474 0.24260224 0.26507631 0.24357785
  0.23369878 0.22991413 0.23603975 0.2257568 ]
 [0.31170511 0.20394425 0.26067606 0.24021353 0.26580729 0.24317463
  0.2372156  0.23768063 0.23460895 0.2254377 ]
 [0.30984331 0.20400398 0.25861438 0.23977547 0.26609464 0.24278416
  0.23800362 0.23958874 0.23297182 0.22521051]
 [0.30656947 0.20442601 0.2547075  0.23897988 0.26693846 0.24214824
  0.24062896 0.24375994 0.22985248 0.2249785 ]
 [0.30184787 0.20476756 0.25158197 0.23790219 0.26833099 0.24134861
  0.2464445  0.24875498 0.22789703 0.22463639]]
alphas vs. MSE in cross-validation
    alpha       MSE
0   1.200  0.249063
1   1.000  0.248382
2   0.800  0.247860
3   0.500  0.246892
4   0.250  0.246059
5   0.100  0.245709
6   0.050  0.246049
7   0.025  0.246046
8   0.020  0.245689
9   0.010  0.245299
10  0.001  0.245351
Best alpha =  0.01
MSE of LASSO with 10  folds for cross-validation: 0.24529894457206738
Regression done -- CPU time: 0.03478717803955078 seconds

>>Regression task
                            OLS Regression Results
==============================================================================
Dep. Variable:               Survived   R-squared:                       0.195
Model:                            OLS   Adj. R-squared:                  0.188
Method:                 Least Squares   F-statistic:                     28.54
Date:                Thu, 28 Mar 2019   Prob (F-statistic):           1.23e-30
Time:                        09:15:01   Log-Likelihood:                -427.98
No. Observations:                 714   AIC:                             870.0
Df Residuals:                     707   BIC:                             902.0
Df Model:                           6
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const           1.1796      0.094     12.519      0.000       0.995       1.365
Age            -0.0086      0.001     -6.610      0.000      -0.011      -0.006
Fare            0.0006      0.000      1.418      0.157      -0.000       0.001
Parch           0.0490      0.022      2.273      0.023       0.007       0.091
PassengerId  2.959e-05   6.43e-05      0.461      0.645   -9.66e-05       0.000
Pclass         -0.2429      0.026     -9.397      0.000      -0.294      -0.192
SibSp          -0.0567      0.020     -2.810      0.005      -0.096      -0.017
==============================================================================
Omnibus:                      209.321   Durbin-Watson:                   1.920
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               47.347
Skew:                           0.348   Prob(JB):                     5.23e-11
Kurtosis:                       1.947   Cond. No.                     3.03e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.03e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
Regression done -- CPU time: 0.026846885681152344 seconds

## >> Clustering

In [23]:
import learn2clean.clustering.clusterer as ct
# clustering is applied to one dataset (i.e., the training set if two datasets are given in the path)
# output is silhouette, best k, and computation time, plus the training dataset with cluster IDs

ct.Clusterer(dataset = titanic_not_encoded,strategy= 'KMEANS', verbose=True).transform()
ct.Clusterer(dataset = titanic_not_encoded,strategy='HCA', verbose = True).transform()
ct.Clusterer(dataset = titanic_not_encoded,strategy='HCA', metric= 'euclidean', verbose = True).transform()
ct.Clusterer(dataset = titanic_not_encoded,strategy='HCA', metric= 'cosine', verbose = True).transform()
ct.Clusterer(dataset = titanic_not_encoded,strategy='HCA', metric= 'cityblock', verbose = True).transform()

>>Clustering task
Note: The clustering is applied on the training dataset only.
Best silhouette = 0.5976  for k= 2
Quality of clustering 0.5976
Labels distribution:
0    363
1    351
Name: cluster_ID, dtype: int64
Clustering done -- CPU time: 1.173151969909668 seconds

>>Clustering task
Note: The clustering is applied on the training dataset only.
Best silhouette = 0.5544  for k= 3
Quality of clustering 0.5544
Labels distribution:
1    455
2    256
0      3
Name: cluster_ID, dtype: int64
Clustering done -- CPU time: 0.09331917762756348 seconds

>>Clustering task
Note: The clustering is applied on the training dataset only.
Best silhouette = 0.5544  for k= 3
Quality of clustering 0.5544
Labels distribution:
1    455
2    256
0      3
Name: cluster_ID, dtype: int64
Clustering done -- CPU time: 0.0819709300994873 seconds

>>Clustering task
Note: The clustering is applied on the training dataset only.
Best silhouette = 0.5544  for k= 3
Quality of clustering 0.1868
Labels distribution:
1    678
2     18
0     18
Name: cluster_ID, dtype: int64
Clustering done -- CPU time: 0.09133601188659668 seconds

>>Clustering task
Note: The clustering is applied on the training dataset only.
Best silhouette = 0.5544  for k= 3
Quality of clustering 0.5935
Labels distribution:
2    358
1    353
0      3
Name: cluster_ID, dtype: int64
Clustering done -- CPU time: 0.0744009017944336 seconds

{'quality_metric': 0.5935,
 'result': {'train':       Age      Fare  Parch  PassengerId  Pclass  SibSp  cluster_ID
  0    22.0    7.2500    0.0          1.0     3.0    1.0           1
  1    38.0   71.2833    0.0          2.0     1.0    1.0           1
  2    26.0    7.9250    0.0          3.0     3.0    0.0           1
  3    35.0   53.1000    0.0          4.0     1.0    1.0           1
  4    35.0    8.0500    0.0          5.0     3.0    0.0           1
  6    54.0   51.8625    0.0          7.0     1.0    0.0           1
  7     2.0   21.0750    1.0          8.0     3.0    3.0           1
  8    27.0   11.1333    2.0          9.0     3.0    0.0           1
  9    14.0   30.0708    0.0         10.0     2.0    1.0           1
  10    4.0   16.7000    1.0         11.0     3.0    1.0           1
  11   58.0   26.5500    0.0         12.0     1.0    0.0           1
  12   20.0    8.0500    0.0         13.0     3.0    0.0           1
  13   39.0   31.2750    5.0         14.0     3.0    1.0           1
  14   14.0    7.8542    0.0         15.0     3.0    0.0           1
  15   55.0   16.0000    0.0         16.0     2.0    0.0           1
  16    2.0   29.1250    1.0         17.0     3.0    4.0           1
  18   31.0   18.0000    0.0         19.0     3.0    1.0           1
  20   35.0   26.0000    0.0         21.0     2.0    0.0           1
  21   34.0   13.0000    0.0         22.0     2.0    0.0           1
  22   15.0    8.0292    0.0         23.0     3.0    0.0           1
  23   28.0   35.5000    0.0         24.0     1.0    0.0           1
  24    8.0   21.0750    1.0         25.0     3.0    3.0           1
  25   38.0   31.3875    5.0         26.0     3.0    1.0           1
  27   19.0  263.0000    2.0         28.0     1.0    3.0           1
  30   40.0   27.7208    0.0         31.0     1.0    0.0           1
  33   66.0   10.5000    0.0         34.0     2.0    0.0           1
  34   28.0   82.1708    0.0         35.0     1.0    1.0           1
  35   42.0   52.0000    0.0         36.0     1.0    1.0           1
  37   21.0    8.0500    0.0         38.0     3.0    0.0           1
  38   18.0   18.0000    0.0         39.0     3.0    2.0           1
  ..    ...       ...    ...          ...     ...    ...         ...
  856  45.0  164.8667    1.0        857.0     1.0    1.0           2
  857  51.0   26.5500    0.0        858.0     1.0    0.0           2
  858  24.0   19.2583    3.0        859.0     3.0    0.0           2
  860  41.0   14.1083    0.0        861.0     3.0    2.0           2
  861  21.0   11.5000    0.0        862.0     2.0    1.0           2
  862  48.0   25.9292    0.0        863.0     1.0    0.0           2
  864  24.0   13.0000    0.0        865.0     2.0    0.0           2
  865  42.0   13.0000    0.0        866.0     2.0    0.0           2
  866  27.0   13.8583    0.0        867.0     2.0    1.0           2
  867  31.0   50.4958    0.0        868.0     1.0    0.0           2
  869   4.0   11.1333    1.0        870.0     3.0    1.0           2
  870  26.0    7.8958    0.0        871.0     3.0    0.0           2
  871  47.0   52.5542    1.0        872.0     1.0    1.0           2
  872  33.0    5.0000    0.0        873.0     1.0    0.0           2
  873  47.0    9.0000    0.0        874.0     3.0    0.0           2
  874  28.0   24.0000    0.0        875.0     2.0    1.0           2
  875  15.0    7.2250    0.0        876.0     3.0    0.0           2
  876  20.0    9.8458    0.0        877.0     3.0    0.0           2
  877  19.0    7.8958    0.0        878.0     3.0    0.0           2
  879  56.0   83.1583    1.0        880.0     1.0    0.0           2
  880  25.0   26.0000    1.0        881.0     2.0    0.0           2
  881  33.0    7.8958    0.0        882.0     3.0    0.0           2
  882  22.0   10.5167    0.0        883.0     3.0    0.0           2
  883  28.0   10.5000    0.0        884.0     2.0    0.0           2
  884  25.0    7.0500    0.0        885.0     3.0    0.0           2
  885  39.0   29.1250    5.0        886.0     3.0    0.0           2
  886  27.0   13.0000    0.0        887.0     2.0    0.0           2
  887  19.0   30.0000    0.0        888.0     1.0    0.0           2
  889  26.0   30.0000    0.0        890.0     1.0    0.0           2
  890  32.0    7.7500    0.0        891.0     3.0    0.0           2

  [714 rows x 7 columns],
  'test':       Age            Cabin Embarked      Fare  \
  0    34.5              NaN        Q    7.8292
  1    47.0              NaN        S    7.0000
  2    62.0              NaN        Q    9.6875
  3    27.0              NaN        S    8.6625
  4    22.0              NaN        S   12.2875
  5    14.0              NaN        S    9.2250
  6    30.0              NaN        Q    7.6292
  7    26.0              NaN        S   29.0000
  8    18.0              NaN        C    7.2292
  9    21.0              NaN        S   24.1500
  10    NaN              NaN        S    7.8958
  11   46.0              NaN        S   26.0000
  12   23.0              B45        S   82.2667
  13   63.0              NaN        S   26.0000
  14   47.0              E31        S   61.1750
  15   24.0              NaN        C   27.7208
  16   35.0              NaN        Q   12.3500
  17   21.0              NaN        C    7.2250
  18   27.0              NaN        S    7.9250
  19   45.0              NaN        C    7.2250
  20   55.0              NaN        C   59.4000
  21    9.0              NaN        S    3.1708
  22    NaN              NaN        S   31.6833
  23   21.0              NaN        C   61.3792
  24   48.0  B57 B59 B63 B66        C  262.3750
  25   50.0              NaN        S   14.5000
  26   22.0              B36        C   61.9792
  27   22.5              NaN        C    7.2250
  28   41.0              A21        S   30.5000
  29    NaN              NaN        C   21.6792
  ..    ...              ...      ...       ...
  388  21.0              NaN        Q    7.7500
  389   6.0              NaN        S   21.0750
  390  23.0              B24        S   93.5000
  391  51.0              D28        S   39.4000
  392  13.0              NaN        S   20.2500
  393  47.0              NaN        S   10.5000
  394  29.0              NaN        S   22.0250
  395  18.0              C31        S   60.0000
  396  24.0              NaN        Q    7.2500
  397  48.0              B41        C   79.2000
  398  22.0              NaN        S    7.7750
  399  31.0              NaN        Q    7.7333
  400  30.0               C7        S  164.8667
  401  38.0              NaN        S   21.0000
  402  22.0              NaN        C   59.4000
  403  17.0              NaN        S   47.1000
  404  43.0              D40        C   27.7208
  405  20.0              D38        C   13.8625
  406  23.0              NaN        S   10.5000
  407  50.0              C80        C  211.5000
  408   NaN              NaN        Q    7.7208
  409   3.0              NaN        S   13.7750
  410   NaN              NaN        Q    7.7500
  411  37.0              C78        Q   90.0000
  412  28.0              NaN        S    7.7750
  413   NaN              NaN        S    8.0500
  414  39.0             C105        C  108.9000
  415  38.5              NaN        S    7.2500
  416   NaN              NaN        S    8.0500
  417   NaN              NaN        C   22.3583

                                                                  Name  Parch  \
  0                                                   Kelly, Mr. James    0.0
  1                                   Wilkes, Mrs. James (Ellen Needs)    0.0
  2                                          Myles, Mr. Thomas Francis    0.0
  3                                                   Wirz, Mr. Albert    0.0
  4                       Hirvonen, Mrs. Alexander (Helga E Lindqvist)    1.0
  5                                         Svensson, Mr. Johan Cervin    0.0
  6                                               Connolly, Miss. Kate    0.0
  7                                       Caldwell, Mr. Albert Francis    1.0
  8                          Abrahim, Mrs. Joseph (Sophie Halaut Easu)    0.0
  9                                            Davies, Mr. John Samuel    0.0
  10                                                  Ilieff, Mr. Ylio    0.0
  11                                        Jones, Mr. Charles Cresson    0.0
  12                     Snyder, Mrs. John Pillsbury (Nelle Stevenson)    0.0
  13                                              Howard, Mr. Benjamin    0.0
  14           Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)    0.0
  15                     del Carlo, Mrs. Sebastiano (Argenia Genovesi)    0.0
  16                                                 Keane, Mr. Daniel    0.0
  17                                                 Assaf, Mr. Gerios    0.0
  18                                      Ilmakangas, Miss. Ida Livija    0.0
  19                             Assaf Khalil, Mrs. Mariana (Miriam")"    0.0
  20                                            Rothschild, Mr. Martin    0.0
  21                                         Olsen, Master. Artur Karl    1.0
  22                              Flegenheim, Mrs. Alfred (Antoinette)    0.0
  23                                   Williams, Mr. Richard Norris II    1.0
  24                   Ryerson, Mrs. Arthur Larned (Emily Maria Borie)    3.0
  25                                           Robins, Mr. Alexander A    0.0
  26                                      Ostby, Miss. Helene Ragnhild    1.0
  27                                                 Daher, Mr. Shedid    0.0
  28                                           Brady, Mr. John Bertram    0.0
  29                                                 Samaan, Mr. Elias    0.0
  ..                                                               ...    ...
  388                                             Canavan, Mr. Patrick    0.0
  389                                      Palsson, Master. Paul Folke    1.0
  390                                       Payne, Mr. Vivian Ponsonby    0.0
  391                   Lines, Mrs. Ernest H (Elizabeth Lindsey James)    1.0
  392                                    Abbott, Master. Eugene Joseph    2.0
  393                                             Gilbert, Mr. William    0.0
  394                                         Kink-Heilmann, Mr. Anton    1.0
  395                   Smith, Mrs. Lucien Philip (Mary Eloise Hughes)    0.0
  396                                             Colbert, Mr. Patrick    0.0
  397  Frolicher-Stehli, Mrs. Maxmillian (Margaretha Emerentia Stehli)    1.0
  398                                   Larsson-Rondberg, Mr. Edvard A    0.0
  399                                         Conlon, Mr. Thomas Henry    0.0
  400                                          Bonnell, Miss. Caroline    0.0
  401                                                  Gale, Mr. Harry    0.0
  402                                   Gibson, Miss. Dorothy Winifred    1.0
  403                                           Carrau, Mr. Jose Pedro    0.0
  404                                     Frauenthal, Mr. Isaac Gerald    0.0
  405                     Nourney, Mr. Alfred (Baron von Drachstedt")"    0.0
  406                                        Ware, Mr. William Jeffery    0.0
  407                                       Widener, Mr. George Dunton    1.0
  408                                  Riordan, Miss. Johanna Hannah""    0.0
  409                                        Peacock, Miss. Treasteall    1.0
  410                                           Naughton, Miss. Hannah    0.0
  411                  Minahan, Mrs. William Edward (Lillian E Thorpe)    0.0
  412                                   Henriksson, Miss. Jenny Lovisa    0.0
  413                                               Spector, Mr. Woolf    0.0
  414                                     Oliva y Ocana, Dona. Fermina    0.0
  415                                     Saether, Mr. Simon Sivertsen    0.0
  416                                              Ware, Mr. Frederick    0.0
  417                                         Peter, Master. Michael J    1.0

       PassengerId  Pclass     Sex  SibSp              Ticket
  0          892.0     3.0    male    0.0              330911
  1          893.0     3.0  female    1.0              363272
  2          894.0     2.0    male    0.0              240276
  3          895.0     3.0    male    0.0              315154
  4          896.0     3.0  female    1.0             3101298
  5          897.0     3.0    male    0.0                7538
  6          898.0     3.0  female    0.0              330972
  7          899.0     2.0    male    1.0              248738
  8          900.0     3.0  female    0.0                2657
  9          901.0     3.0    male    2.0           A/4 48871
  10         902.0     3.0    male    0.0              349220
  11         903.0     1.0    male    0.0                 694
  12         904.0     1.0  female    1.0               21228
  13         905.0     2.0    male    1.0               24065
  14         906.0     1.0  female    1.0         W.E.P. 5734
  15         907.0     2.0  female    1.0       SC/PARIS 2167
  16         908.0     2.0    male    0.0              233734
  17         909.0     3.0    male    0.0                2692
  18         910.0     3.0  female    1.0    STON/O2. 3101270
  19         911.0     3.0  female    0.0                2696
  20         912.0     1.0    male    1.0            PC 17603
  21         913.0     3.0    male    0.0             C 17368
  22         914.0     1.0  female    0.0            PC 17598
  23         915.0     1.0    male    0.0            PC 17597
  24         916.0     1.0  female    1.0            PC 17608
  25         917.0     3.0    male    1.0           A/5. 3337
  26         918.0     1.0  female    0.0              113509
  27         919.0     3.0    male    0.0                2698
  28         920.0     1.0    male    0.0              113054
  29         921.0     3.0    male    2.0                2662
  ..           ...     ...     ...    ...                 ...
  388       1280.0     3.0    male    0.0              364858
  389       1281.0     3.0    male    3.0              349909
  390       1282.0     1.0    male    0.0               12749
  391       1283.0     1.0  female    0.0            PC 17592
  392       1284.0     3.0    male    0.0           C.A. 2673
  393       1285.0     2.0    male    0.0          C.A. 30769
  394       1286.0     3.0    male    3.0              315153
  395       1287.0     1.0  female    1.0               13695
  396       1288.0     3.0    male    0.0              371109
  397       1289.0     1.0  female    1.0               13567
  398       1290.0     3.0    male    0.0              347065
  399       1291.0     3.0    male    0.0               21332
  400       1292.0     1.0  female    0.0               36928
  401       1293.0     2.0    male    1.0               28664
  402       1294.0     1.0  female    0.0              112378
  403       1295.0     1.0    male    0.0              113059
  404       1296.0     1.0    male    1.0               17765
  405       1297.0     2.0    male    0.0       SC/PARIS 2166
  406       1298.0     2.0    male    1.0               28666
  407       1299.0     1.0    male    1.0              113503
  408       1300.0     3.0  female    0.0              334915
  409       1301.0     3.0  female    1.0  SOTON/O.Q. 3101315
  410       1302.0     3.0  female    0.0              365237
  411       1303.0     1.0  female    1.0               19928
  412       1304.0     3.0  female    0.0              347086
  413       1305.0     3.0    male    0.0           A.5. 3236
  414       1306.0     1.0  female    0.0            PC 17758
  415       1307.0     3.0    male    0.0  SOTON/O.Q. 3101262
  416       1308.0     3.0    male    0.0              359309
  417       1309.0     3.0    male    1.0                2668

  [418 rows x 11 columns],
  'target': 0      0.0
  1      1.0
  2      1.0
  3      1.0
  4      0.0
  5      0.0
  6      0.0
  7      0.0
  8      1.0
  9      1.0
  10     1.0
  11     1.0
  12     0.0
  13     0.0
  14     0.0
  15     1.0
  16     0.0
  17     1.0
  18     0.0
  19     1.0
  20     0.0
  21     1.0
  22     1.0
  23     1.0
  24     0.0
  25     1.0
  26     0.0
  27     0.0
  28     1.0
  29     0.0
        ...
  861    0.0
  862    1.0
  863    0.0
  864    0.0
  865    1.0
  866    1.0
  867    0.0
  868    0.0
  869    1.0
  870    0.0
  871    1.0
  872    0.0
  873    0.0
  874    1.0
  875    1.0
  876    0.0
  877    0.0
  878    0.0
  879    1.0
  880    1.0
  881    0.0
  882    0.0
  883    0.0
  884    0.0
  885    0.0
  886    0.0
  887    1.0
  888    0.0
  889    1.0
  890    0.0
  Name: Survived, Length: 891, dtype: float64,
  'target_test': Series([], Name: Survived, dtype: float64)}}

## - Create your own pipeline

In [24]:
# create your preprocessing pipeline for classification

import learn2clean.loading.reader as rd 
import learn2clean.normalization.normalizer as nl 
import learn2clean.feature_selection.feature_selector as fs
import learn2clean.duplicate_detection.duplicate_detector as dd
import learn2clean.outlier_detection.outlier_detector as od
import learn2clean.imputation.imputer as imp
import learn2clean.classification.classifier as cl

d_not_enc = rd.Reader(sep=',',verbose=False, encoding=False) 

# when you have two datasets as inputs: train and test datasets
titanic  = ["../datasets/titanic/titanic_train.csv", "../datasets/titanic/test.csv"]
dataset = d_not_enc.train_test_split(titanic, 'Survived')

dataset['train']['Pclass'] = dataset['train']['Pclass'].astype('object')
dataset['train']['PassengerId'] = dataset['train']['PassengerId'].astype('object')
dataset['train']['SibSp'] = dataset['train']['SibSp'].astype('object')
dataset['train']['Parch'] = dataset['train']['Parch'].astype('object')

dataset['test']['Pclass'] = dataset['test']['Pclass'].astype('object')
dataset['test']['PassengerId'] = dataset['test']['PassengerId'].astype('object')
dataset['test']['SibSp'] = dataset['test']['SibSp'].astype('object')
dataset['test']['Parch'] = dataset['test']['Parch'].astype('object')

d1 = fs.Feature_selector(dataset=dataset.copy(),strategy= 'MR', threshold=.3).transform()
d2 = imp.Imputer(d1, strategy = 'MF',verbose=False).transform()
d3 = nl.Normalizer(d2,strategy='DS', exclude='Survived',verbose=False).transform()
d4 = od.Outlier_detector(d3, strategy='LOF', threshold= .6,verbose=False).transform()
cl.Classifier(d4,strategy = 'LDA', target = 'Survived', verbose =True).transform()

>>Feature selection
Before feature selection:
11 features
Apply MR feature selection with missing threshold= 0.3
1 features with greater than 0.30 missing values.

List of variables to be removed : ['Cabin']
After feature selection:
10 features remain
['Parch', 'Ticket', 'SibSp', 'Pclass', 'Name', 'Embarked', 'Fare', 'Sex', 'Age', 'PassengerId']
Feature selection done -- CPU time: 0.007447242736816406 seconds

>>Imputation
* For train dataset
Before imputation:
Total 179 missing values in ['Embarked', 'Age']
- 177 numerical missing values in ['Age']
- 2 non-numerical missing values in ['Embarked']
After imputation:
Total 0 missing values
- 0 numerical missing values
- 0 non-numerical missing values
* For test dataset
Before imputation:
Total 87 missing values in ['Fare', 'Age']
- 87 numerical missing values in ['Fare', 'Age']
After imputation:
Total 0 missing values
- 0 numerical missing values
- 0 non-numerical missing values
Imputation done -- CPU time: 0.08392596244812012 seconds

>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.034832000732421875 seconds


>>Outlier detection and removal:
* For train dataset
60 outlying rows have been removed
* For test dataset
60 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.020370960235595703 seconds


>>Classification task
{'mean_fit_time': array([0.00162196]), 'std_fit_time': array([7.15255737e-06]), 'mean_score_time': array([0.00030613]), 'std_score_time': array([1.90734863e-05]), 'params': [{}], 'split0_test_score': array([0.69230769]), 'split1_test_score': array([0.72048193]), 'mean_test_score': array([0.70637786]), 'std_test_score': array([0.01408711]), 'rank_test_score': array([1], dtype=int32), 'split0_train_score': array([0.71566265]), 'split1_train_score': array([0.71634615]), 'mean_train_score': array([0.7160044]), 'std_train_score': array([0.00034175])}

Accuracy of LDA result for 10 cross-validation : 0.7063778580024067

Classification done -- CPU time: 0.01895880699157715 seconds

{'quality_metric': 0.7063778580024067}

# Learn2clean data preprocessing pipeline

### Classification with Learn2Clean

In [2]:
import learn2clean.loading.reader as rd 
import learn2clean.qlearning.qlearner as ql
# the results of learn2clean cleaning are stored in 'titanic_example'_results.txt in 'save' directory

titanic = ["../datasets/titanic/titanic_train.csv","../datasets/titanic/test.csv"]
hr=rd.Reader(sep=',',verbose=False, encoding=False) 
dataset=hr.train_test_split(titanic, 'Survived')


# Learn2clean finds the best strategy LOF -> CART for maximal accuracy : 0.7235772357723578 for CART
# in  234.35 seconds
# The best strategy is stored in EOF of 'titanic_example_results.txt' in 'save' directory as
# ('titanic_example', 'learn2clean', 'CART', 'Survived', None, 'LOF -> CART', 'accuracy', 0.7235772357723578, 234.34766507148743)

l2c_c1assification1=ql.Qlearner(dataset = dataset,goal='CART', target_goal='Survived',threshold = 0.6, target_prepare=None, file_name = 'titanic_example', verbose = False)
l2c_c1assification1.learn2clean()

Start Learn2Clean
Learn2Clean - Pipeline construction -- CPU time: 0.13695597648620605 seconds
=== Start Pipeline Execution ===


Strategy# 0 : Greedy traversal for starting state MICE
MICE -> CART

Start pipeline
-------------
>>Imputation
* For train dataset
Before imputation:
Total 866 missing values in ['Age', 'Cabin', 'Embarked']
- 177 numerical missing values in ['Age']
- 689 non-numerical missing values in ['Cabin', 'Embarked']
After imputation:
Total 689 missing values
- 0 numerical missing values
- 689 non-numerical missing values
* For test dataset
Before imputation:
Total 414 missing values in ['Age', 'Cabin', 'Fare']
- 87 numerical missing values in ['Age', 'Fare']
- 327 non-numerical missing values in ['Cabin']
After imputation:
Total 327 missing values
- 0 numerical missing values
- 327 non-numerical missing values
Imputation done -- CPU time: 0.09270310401916504 seconds


>>Classification task
Avg accuracy of CART classification for 10 cross-validation : 0.7048260381593715

Classification done -- CPU time: 13.596114873886108 seconds
End Pipeline CPU time: 13.696760892868042 seconds


Strategy# 1 : Greedy traversal for starting state EM
EM -> MM -> IQR -> CART

Start pipeline
-------------
>>Imputation
* For train dataset
Before imputation:
Total 866 missing values in ['Age', 'Cabin', 'Embarked']
- 177 numerical missing values in ['Age']
- 689 non-numerical missing values in ['Cabin', 'Embarked']
After imputation:
Total 689 missing values
- 0 numerical missing values
- 689 non-numerical missing values
* For test dataset
Before imputation:
Total 414 missing values in ['Age', 'Cabin', 'Fare']
- 87 numerical missing values in ['Age', 'Fare']
- 327 non-numerical missing values in ['Cabin']
After imputation:
Total 327 missing values
- 0 numerical missing values
- 327 non-numerical missing values
Imputation done -- CPU time: 0.1823441982269287 seconds

>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.0203399658203125 seconds


>>Outlier detection and removal:
* For train dataset
0 outlying rows have been removed
* For test dataset
0 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.023466110229492188 seconds


>>Classification task
Avg accuracy of CART classification for 10 cross-validation : 0.7014590347923682

Classification done -- CPU time: 13.504812955856323 seconds
End Pipeline CPU time: 13.749058961868286 seconds


Strategy# 2 : Greedy traversal for starting state KNN
KNN -> CART

Start pipeline
-------------
>>Imputation
* For train dataset
Before imputation:
Total 866 missing values in ['Age', 'Cabin', 'Embarked']
- 177 numerical missing values in ['Age']
- 689 non-numerical missing values in ['Cabin', 'Embarked']

/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")

After imputation:
Total 689 missing values
- 0 numerical missing values
- 689 non-numerical missing values
* For test dataset
Before imputation:
Total 414 missing values in ['Age', 'Cabin', 'Fare']
- 87 numerical missing values in ['Age', 'Fare']
- 327 non-numerical missing values in ['Cabin']
After imputation:
Total 327 missing values
- 0 numerical missing values
- 327 non-numerical missing values
Imputation done -- CPU time: 0.694580078125 seconds


>>Classification task

/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")

Avg accuracy of CART classification for 10 cross-validation : 0.6363636363636364

Classification done -- CPU time: 13.80032992362976 seconds
End Pipeline CPU time: 14.50236988067627 seconds


Strategy# 3 : Greedy traversal for starting state MF
MF -> CART

Start pipeline
-------------
>>Imputation
* For train dataset
Before imputation:
Total 866 missing values in ['Age', 'Cabin', 'Embarked']
- 177 numerical missing values in ['Age']
- 689 non-numerical missing values in ['Cabin', 'Embarked']
After imputation:
Total 0 missing values
- 0 numerical missing values
- 0 non-numerical missing values
* For test dataset
Before imputation:
Total 414 missing values in ['Age', 'Cabin', 'Fare']
- 87 numerical missing values in ['Age', 'Fare']
- 327 non-numerical missing values in ['Cabin']
After imputation:
Total 0 missing values
- 0 numerical missing values
- 0 non-numerical missing values
Imputation done -- CPU time: 0.08531689643859863 seconds


>>Classification task
Avg accuracy of CART classification for 10 cross-validation : 0.7048260381593715

Classification done -- CPU time: 14.928837299346924 seconds
End Pipeline CPU time: 15.022620916366577 seconds


Strategy# 4 : Greedy traversal for starting state DS
DS -> IQR -> CART

Start pipeline
-------------
>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.03473210334777832 seconds


>>Outlier detection and removal:
* For train dataset
177 outlying rows have been removed
* For test dataset
87 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.023534774780273438 seconds


>>Classification task
Avg accuracy of CART classification for 10 cross-validation : 0.7016806722689075

Classification done -- CPU time: 12.422258853912354 seconds
End Pipeline CPU time: 12.492411136627197 seconds


Strategy# 5 : Greedy traversal for starting state MM
MM -> IQR -> CART

Start pipeline
-------------
>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.02655482292175293 seconds


>>Outlier detection and removal:
* For train dataset
177 outlying rows have been removed
* For test dataset
87 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.025084257125854492 seconds


>>Classification task
Avg accuracy of CART classification for 10 cross-validation : 0.7016806722689075

Classification done -- CPU time: 12.464968919754028 seconds
End Pipeline CPU time: 12.527073860168457 seconds


Strategy# 6 : Greedy traversal for starting state ZS
ZS -> LOF -> CART

Start pipeline
-------------
>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.02848076820373535 seconds


>>Outlier detection and removal:
* For train dataset
LOF requires no missing values, so missing values have been removed using DROP.
60 outlying rows have been removed
* For test dataset
LOF requires no missing values, so missing values have been removed using DROP.
60 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.01862192153930664 seconds


>>Classification task
Avg accuracy of CART classification for 10 cross-validation : 0.6829268292682927

Classification done -- CPU time: 9.254787683486938 seconds
End Pipeline CPU time: 9.312004804611206 seconds


Strategy# 7 : Greedy traversal for starting state MR
MR -> DS -> IQR -> CART

Start pipeline
-------------

>>Feature selection
Before feature selection:
11 features
Apply MR feature selection with missing threshold= 0.3
1 features with greater than 0.30 missing values.

List of variables to be removed : ['Cabin']
After feature selection:
10 features remain
['Name', 'Parch', 'Sex', 'Embarked', 'PassengerId', 'Age', 'Ticket', 'Pclass', 'Fare', 'SibSp']
Feature selection done -- CPU time: 0.0058100223541259766 seconds

>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.034548044204711914 seconds


>>Outlier detection and removal:
* For train dataset
177 outlying rows have been removed
* For test dataset
87 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.024102210998535156 seconds


>>Classification task
Avg accuracy of CART classification for 10 cross-validation : 0.7016806722689075

Classification done -- CPU time: 12.770240068435669 seconds
End Pipeline CPU time: 12.850909948348999 seconds


Strategy# 8 : Greedy traversal for starting state WR
WR -> MF -> CART

Start pipeline
-------------

>>Feature selection
Before feature selection:
11 features
Warning: This strategy requires no missing values, so missing values have been removed applying DROP on the dataset.
Apply WR feature selection
Input variables must be non-negative. WR feature selection is only applied to positive variables.
After feature selection:
6 features remain
['Parch', 'PassengerId', 'Age', 'Pclass', 'Fare', 'SibSp']
Feature selection done -- CPU time: 0.014119863510131836 seconds

>>Imputation
* For train dataset
Before imputation:
No missing values in the given data
* For test dataset
Before imputation:
Total 87 missing values in ['Age', 'Fare']
- 87 numerical missing values in ['Age', 'Fare']
After imputation:
Total 0 missing values
- 0 numerical missing values
- 0.0 non-numerical missing values
Imputation done -- CPU time: 0.029539108276367188 seconds


>>Classification task
Avg accuracy of CART classification for 10 cross-validation : 0.7016806722689075

Classification done -- CPU time: 14.173364877700806 seconds
End Pipeline CPU time: 14.227406024932861 seconds


Strategy# 9 : Greedy traversal for starting state LC
LC -> MF -> CART

Start pipeline
-------------

>>Feature selection
Before feature selection:
11 features
Apply LC feature selection with threshold= 0.3
2 features with linear correlation greater than 0.30.

List of correlated variables to be removed : ['Pclass', 'SibSp']
After feature selection:
9 features remain
['Cabin', 'Name', 'Parch', 'Sex', 'Embarked', 'PassengerId', 'Age', 'Ticket', 'Fare']
Feature selection done -- CPU time: 0.01737189292907715 seconds

>>Imputation
* For train dataset
Before imputation:
Total 866 missing values in ['Age', 'Cabin', 'Embarked']
- 177 numerical missing values in ['Age']
- 689 non-numerical missing values in ['Cabin', 'Embarked']
After imputation:
Total 0 missing values
- 0 numerical missing values
- 0 non-numerical missing values
* For test dataset
Before imputation:
Total 414 missing values in ['Cabin', 'Age', 'Fare']
- 87 numerical missing values in ['Age', 'Fare']
- 327 non-numerical missing values in ['Cabin']
After imputation:
Total 0 missing values
- 0 numerical missing values
- 0 non-numerical missing values
Imputation done -- CPU time: 0.07361888885498047 seconds


>>Classification task
Avg accuracy of CART classification for 10 cross-validation : 0.6902356902356902

Classification done -- CPU time: 14.284090280532837 seconds
End Pipeline CPU time: 14.387985229492188 seconds


Strategy# 10 : Greedy traversal for starting state Tree
Tree -> IQR -> CART

Start pipeline
-------------

>>Outlier detection and removal:
* For train dataset
169 outlying rows have been removed
* For test dataset
65 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.043347835540771484 seconds


>>Classification task
Avg accuracy of CART classification for 10 cross-validation : 0.6790780141843972

Classification done -- CPU time: 13.33837103843689 seconds
End Pipeline CPU time: 13.398026943206787 seconds


Strategy# 11 : Greedy traversal for starting state ZSB
ZSB -> CART

Start pipeline
-------------

>>Outlier detection and removal:
* For train dataset
38 outlying rows have been removed:
* For test dataset
0 outlying rows have been removed:
Outlier detection and removal done -- CPU time: 0.034095048904418945 seconds


>>Classification task

/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)

Avg accuracy of CART classification for 10 cross-validation : 0.7144970414201184

Classification done -- CPU time: 14.045543193817139 seconds
End Pipeline CPU time: 14.087561845779419 seconds


Strategy# 12 : Greedy traversal for starting state LOF
LOF -> CART

Start pipeline
-------------

>>Outlier detection and removal:
* For train dataset
LOF requires no missing values, so missing values have been removed using DROP.
60 outlying rows have been removed
* For test dataset
LOF requires no missing values, so missing values have been removed using DROP.
60 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.02259993553161621 seconds


>>Classification task
Avg accuracy of CART classification for 10 cross-validation : 0.7235772357723578

Classification done -- CPU time: 10.82175612449646 seconds
End Pipeline CPU time: 10.851893186569214 seconds


Strategy# 13 : Greedy traversal for starting state IQR
IQR -> CART

Start pipeline
-------------

>>Outlier detection and removal:
* For train dataset
169 outlying rows have been removed
* For test dataset
65 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.029310941696166992 seconds


>>Classification task
Avg accuracy of CART classification for 10 cross-validation : 0.6790780141843972

Classification done -- CPU time: 13.11614203453064 seconds
End Pipeline CPU time: 13.152339935302734 seconds


Strategy# 14 : Greedy traversal for starting state CC
CC -> LOF -> CART

Start pipeline
-------------
>>Consistency checking
* For train dataset
Constraints from the file: titanic_example_constraints.tdda
Constraints passing: 51

Constraints failing: 5

* For test dataset
Constraints from the file: titanic_example_constraints.tdda
Constraints passing: 47

Constraints failing: 9

Consistency checking done -- CPU time: 0.08783197402954102 seconds

>>Outlier detection and removal:
* For train dataset
LOF requires no missing values, so missing values have been removed using DROP.
60 outlying rows have been removed
* For test dataset
LOF requires no missing values, so missing values have been removed using DROP.
60 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.020134925842285156 seconds


>>Classification task
Avg accuracy of CART classification for 10 cross-validation : 0.7235772357723578

Classification done -- CPU time: 10.497478008270264 seconds
End Pipeline CPU time: 10.616434812545776 seconds


Strategy# 15 : Greedy traversal for starting state PC
PC -> ZSB -> CART

Start pipeline
-------------
>>Consistency checking
* For train dataset
Number of pattern violations on variable ' Sex 'for pattern# 0 as '^[a-m]{2,3}$' : 891
No violation on variable ' Sex ' for pattern# 1 as '^[a-z]{4,6}$'
Number of pattern violations on variable ' Embarked 'for pattern# 0 as '^[Q|S]$' : 170
Number of pattern violations on variable ' Embarked 'for pattern# 1 as '^[Q|S]$' : 170
Number of pattern violations on variable ' Embarked 'for pattern# 2 as '^[Z|S]$' : 247
245
* For test dataset
Number of pattern violations on variable ' Sex 'for pattern# 0 as '^[a-m]{2,3}$' : 418
No violation on variable ' Sex ' for pattern# 1 as '^[a-z]{4,6}$'
Number of pattern violations on variable ' Embarked 'for pattern# 0 as '^[Q|S]$' : 102
Number of pattern violations on variable ' Embarked 'for pattern# 1 as '^[Q|S]$' : 102
Number of pattern violations on variable ' Embarked 'for pattern# 2 as '^[Z|S]$' : 148
148
Consistency checking done -- CPU time: 0.03182411193847656 seconds

>>Outlier detection and removal:
* For train dataset
0 outlying rows have been removed:
* For test dataset
0 outlying rows have been removed:
Outlier detection and removal done -- CPU time: 0.018471956253051758 seconds


>>Classification task
Error: Need at least one continous variable and  10  observations for regression
Classification done -- CPU time: 0.002089262008666992 seconds
End Pipeline CPU time: 0.06238889694213867 seconds


Strategy# 16 : Greedy traversal for starting state ED
ED -> KNN -> CART

Start pipeline
-------------

>>Duplicate detection and removal:
* For train dataset
Metric is not considered for 'ED'.
To detect duplicates, rows with missing values are removed using DROP
Total number of rows: 891
Number of duplicated rows: 0
After deduplication: Number of rows: 891
* For test dataset
Metric is not considered for 'ED'.
To detect duplicates, rows with missing values are removed using DROP
Total number of rows: 418
Number of duplicated rows: 0
After deduplication: Number of rows: 418
Deduplication done -- CPU time: 0.027279138565063477 seconds

>>Imputation
* For train dataset
Before imputation:
No missing values in the given data
* For test dataset
Before imputation:
No missing values in the given data
Imputation done -- CPU time: 0.013499259948730469 seconds


>>Classification task

/Users/Laure/.local/lib/python3.6/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

Avg accuracy of CART classification for 10 cross-validation : 0.5993265993265994

Classification done -- CPU time: 14.089879989624023 seconds
End Pipeline CPU time: 14.14141297340393 seconds


Strategy# 17 : Greedy traversal for starting state AD
AD -> ZS -> LOF -> CART

Start pipeline
-------------

>>Duplicate detection and removal:
* For train dataset
Metric is not considered for 'ED'.
Number of duplicate rows removed: 0
* For test dataset
Metric is not considered for 'ED'.
Number of duplicate rows removed: 0
Deduplication done -- CPU time: 1.0860631465911865 seconds

>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.02784109115600586 seconds


>>Outlier detection and removal:
* For train dataset
LOF requires no missing values, so missing values have been removed using DROP.
60 outlying rows have been removed
* For test dataset
LOF requires no missing values, so missing values have been removed using DROP.
60 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.018588781356811523 seconds


>>Classification task
Avg accuracy of CART classification for 10 cross-validation : 0.6829268292682927

Classification done -- CPU time: 9.118140935897827 seconds
End Pipeline CPU time: 10.26478624343872 seconds

Start pipeline
-------------

>>Classification task
Avg accuracy of CART classification for 10 cross-validation : 0.7016806722689075

Classification done -- CPU time: 14.995396852493286 seconds
End Pipeline CPU time: 14.999600887298584 seconds

==== Recap ====

List of strategies tried by Learn2Clean:
['MICE -> CART', 'EM -> MM -> IQR -> CART', 'KNN -> CART', 'MF -> CART', 'DS -> IQR -> CART', 'MM -> IQR -> CART', 'ZS -> LOF -> CART', 'MR -> DS -> IQR -> CART', 'WR -> MF -> CART', 'LC -> MF -> CART', 'Tree -> IQR -> CART', 'ZSB -> CART', 'LOF -> CART', 'IQR -> CART', 'CC -> LOF -> CART', 'PC -> ZSB -> CART', 'ED -> KNN -> CART', 'AD -> ZS -> LOF -> CART']

List of corresponding quality metrics ****
 [{'quality_metric': 0.7048260381593715}, {'quality_metric': 0.7014590347923682}, {'quality_metric': 0.6363636363636364}, {'quality_metric': 0.7048260381593715}, {'quality_metric': 0.7016806722689075}, {'quality_metric': 0.7016806722689075}, {'quality_metric': 0.6829268292682927}, {'quality_metric': 0.7016806722689075}, {'quality_metric': 0.7016806722689075}, {'quality_metric': 0.6902356902356902}, {'quality_metric': 0.6790780141843972}, {'quality_metric': 0.7144970414201184}, {'quality_metric': 0.7235772357723578}, {'quality_metric': 0.6790780141843972}, {'quality_metric': 0.7235772357723578}, {'quality_metric': None}, {'quality_metric': 0.5993265993265994}, {'quality_metric': 0.6829268292682927}, {'quality_metric': 0.7016806722689075}]

Strategy LOF -> CART for maximal accuracy : 0.7235772357723578 for CART

=== End of Learn2Clean - Pipeline execution -- CPU time: 234.34766507148743 seconds

**** Best strategy ****
('titanic_example', 'learn2clean', 'CART', 'Survived', None, 'LOF -> CART', 'accuracy', 0.7235772357723578, 234.34766507148743)

In [3]:
# Learn2clean finds the best strategy WR -> IQR -> LDA for maximal accuracy : 0.7398373983739838 for LDA 
# despite collinearity in  2.68 seconds
# The best strategy is stored in EOF of 'titanic_example_results.txt' in 'save' directory as
# ('titanic_example', 'learn2clean', 'LDA', 'Survived', None, 'ZS -> LOF -> LDA', 'accuracy', 0.7398373983739838, 2.67972993850708)

l2c_c1assification2=ql.Qlearner(dataset,goal='LDA',target_goal='Survived',target_prepare=None, threshold = 0.6, file_name = 'titanic_example', verbose = False)
l2c_c1assification2.learn2clean()

Start Learn2Clean
Learn2Clean - Pipeline construction -- CPU time: 0.1473400592803955 seconds
=== Start Pipeline Execution ===


Strategy# 0 : Greedy traversal for starting state MICE
MICE -> LDA

Start pipeline
-------------
>>Imputation
* For train dataset
Before imputation:
Total 866 missing values in ['Age', 'Cabin', 'Embarked']
- 177 numerical missing values in ['Age']
- 689 non-numerical missing values in ['Cabin', 'Embarked']
After imputation:
Total 689 missing values
- 0 numerical missing values
- 689 non-numerical missing values
* For test dataset
Before imputation:
Total 414 missing values in ['Age', 'Cabin', 'Fare']
- 87 numerical missing values in ['Age', 'Fare']
- 327 non-numerical missing values in ['Cabin']
After imputation:
Total 327 missing values
- 0 numerical missing values
- 327 non-numerical missing values
Imputation done -- CPU time: 0.09962105751037598 seconds


>>Classification task

Accuracy of LDA result for 10 cross-validation : 0.7014590347923682

Classification done -- CPU time: 0.018969058990478516 seconds
End Pipeline CPU time: 0.12717914581298828 seconds


Strategy# 1 : Greedy traversal for starting state EM
EM -> MM -> IQR -> LDA

Start pipeline
-------------
>>Imputation
* For train dataset
Before imputation:
Total 866 missing values in ['Age', 'Cabin', 'Embarked']
- 177 numerical missing values in ['Age']
- 689 non-numerical missing values in ['Cabin', 'Embarked']
After imputation:
Total 689 missing values
- 0 numerical missing values
- 689 non-numerical missing values
* For test dataset

/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

Before imputation:
Total 414 missing values in ['Age', 'Cabin', 'Fare']
- 87 numerical missing values in ['Age', 'Fare']
- 327 non-numerical missing values in ['Cabin']
After imputation:
Total 327 missing values
- 0 numerical missing values
- 327 non-numerical missing values
Imputation done -- CPU time: 0.19570398330688477 seconds

>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.027826786041259766 seconds


>>Outlier detection and removal:
* For train dataset
0 outlying rows have been removed
* For test dataset
0 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.025235891342163086 seconds


>>Classification task

Accuracy of LDA result for 10 cross-validation : 0.6980920314253648

Classification done -- CPU time: 0.016846179962158203 seconds
End Pipeline CPU time: 0.2810671329498291 seconds


Strategy# 2 : Greedy traversal for starting state KNN
KNN -> LDA

Start pipeline
-------------
>>Imputation
* For train dataset
Before imputation:
Total 866 missing values in ['Age', 'Cabin', 'Embarked']
- 177 numerical missing values in ['Age']
- 689 non-numerical missing values in ['Cabin', 'Embarked']

/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")

After imputation:
Total 689 missing values
- 0 numerical missing values
- 689 non-numerical missing values
* For test dataset
Before imputation:
Total 414 missing values in ['Age', 'Cabin', 'Fare']
- 87 numerical missing values in ['Age', 'Fare']
- 327 non-numerical missing values in ['Cabin']

/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

After imputation:
Total 327 missing values
- 0 numerical missing values
- 327 non-numerical missing values
Imputation done -- CPU time: 0.8263652324676514 seconds


>>Classification task

Accuracy of LDA result for 10 cross-validation : 0.6161616161616161

Classification done -- CPU time: 0.019936084747314453 seconds
End Pipeline CPU time: 0.8538460731506348 seconds


Strategy# 3 : Greedy traversal for starting state MF
MF -> LDA

Start pipeline
-------------
>>Imputation
* For train dataset
Before imputation:
Total 866 missing values in ['Age', 'Cabin', 'Embarked']
- 177 numerical missing values in ['Age']
- 689 non-numerical missing values in ['Cabin', 'Embarked']
After imputation:
Total 0 missing values
- 0 numerical missing values
- 0 non-numerical missing values
* For test dataset
Before imputation:
Total 414 missing values in ['Age', 'Cabin', 'Fare']
- 87 numerical missing values in ['Age', 'Fare']
- 327 non-numerical missing values in ['Cabin']
After imputation:
Total 0 missing values
- 0 numerical missing values
- 0 non-numerical missing values
Imputation done -- CPU time: 0.09158706665039062 seconds


>>Classification task

Accuracy of LDA result for 10 cross-validation : 0.7037037037037037

Classification done -- CPU time: 0.01627182960510254 seconds
End Pipeline CPU time: 0.11719393730163574 seconds


Strategy# 4 : Greedy traversal for starting state DS
DS -> IQR -> LDA

Start pipeline
-------------
>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.03666090965270996 seconds


>>Outlier detection and removal:
* For train dataset

/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

177 outlying rows have been removed
* For test dataset
87 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.02717113494873047 seconds


>>Classification task

Accuracy of LDA result for 10 cross-validation : 0.6918767507002801

Classification done -- CPU time: 0.016734838485717773 seconds
End Pipeline CPU time: 0.0915231704711914 seconds


Strategy# 5 : Greedy traversal for starting state MM
MM -> IQR -> LDA

Start pipeline
-------------
>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.02985095977783203 seconds


>>Outlier detection and removal:
* For train dataset
177 outlying rows have been removed
* For test dataset
87 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.02574896812438965 seconds


>>Classification task

Accuracy of LDA result for 10 cross-validation : 0.7002801120448179

Classification done -- CPU time: 0.015340089797973633 seconds
End Pipeline CPU time: 0.08214306831359863 seconds


Strategy# 6 : Greedy traversal for starting state ZS
ZS -> LOF -> LDA

Start pipeline
-------------
>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.033987998962402344 seconds


>>Outlier detection and removal:
* For train dataset
LOF requires no missing values, so missing values have been removed using DROP.
60 outlying rows have been removed
* For test dataset
LOF requires no missing values, so missing values have been removed using DROP.
60 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.02151322364807129 seconds


>>Classification task

Accuracy of LDA result for 10 cross-validation : 0.7398373983739838

Classification done -- CPU time: 0.01700305938720703 seconds
End Pipeline CPU time: 0.08415389060974121 seconds


Strategy# 7 : Greedy traversal for starting state MR
MR -> DS -> IQR -> LDA

Start pipeline
-------------

>>Feature selection
Before feature selection:
13 features
Apply MR feature selection with missing threshold= 0.3

/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

1 features with greater than 0.30 missing values.

List of variables to be removed : ['Cabin']
After feature selection:
12 features remain
['New_ID', 'Name', 'Parch', 'Sex', 'Pclass', 'Embarked', 'PassengerId', 'Age', 'Ticket', 'row', 'Fare', 'SibSp']
Feature selection done -- CPU time: 0.006521940231323242 seconds

>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.041127920150756836 seconds


>>Outlier detection and removal:
* For train dataset
177 outlying rows have been removed
* For test dataset
87 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.026643991470336914 seconds


>>Classification task

Accuracy of LDA result for 10 cross-validation : 0.6918767507002801

Classification done -- CPU time: 0.01655411720275879 seconds
End Pipeline CPU time: 0.10740804672241211 seconds


Strategy# 8 : Greedy traversal for starting state WR
WR -> MF -> LDA

Start pipeline
-------------

>>Feature selection
Before feature selection:
13 features
Warning: This strategy requires no missing values, so missing values have been removed applying DROP on the dataset.
Apply WR feature selection
Input variables must be non-negative. WR feature selection is only applied to positive variables.
After feature selection:
7 features remain
['New_ID', 'Parch', 'PassengerId', 'Age', 'Pclass', 'Fare', 'SibSp']
Feature selection done -- CPU time: 0.014829874038696289 seconds

>>Imputation
* For train dataset
Before imputation:
No missing values in the given data
* For test dataset
Before imputation:
Total 87 missing values in ['Age', 'Fare']
- 87 numerical missing values in ['Age', 'Fare']
After imputation:
Total 0 missing values
- 0 numerical missing values
- 0.0 non-numerical missing values
Imputation done -- CPU time: 0.03357982635498047 seconds


>>Classification task

Accuracy of LDA result for 10 cross-validation : 0.7002801120448179

Classification done -- CPU time: 0.01703786849975586 seconds
End Pipeline CPU time: 0.0772252082824707 seconds


Strategy# 9 : Greedy traversal for starting state LC
LC -> MF -> LDA

Start pipeline
-------------

>>Feature selection
Before feature selection:
13 features
Apply LC feature selection with threshold= 0.3
3 features with linear correlation greater than 0.30.

List of correlated variables to be removed : ['Pclass', 'SibSp', 'New_ID']
After feature selection:
10 features remain
['Cabin', 'Name', 'Parch', 'Sex', 'Embarked', 'PassengerId', 'Age', 'Ticket', 'row', 'Fare']
Feature selection done -- CPU time: 0.02201533317565918 seconds

>>Imputation
* For train dataset
Before imputation:
Total 866 missing values in ['Age', 'Cabin', 'Embarked']
- 177 numerical missing values in ['Age']
- 689 non-numerical missing values in ['Cabin', 'Embarked']
After imputation:
Total 0 missing values
- 0 numerical missing values
- 0 non-numerical missing values
* For test dataset
Before imputation:
Total 414 missing values in ['Cabin', 'Age', 'Fare']
- 87 numerical missing values in ['Age', 'Fare']
- 327 non-numerical missing values in ['Cabin']
After imputation:
Total 0 missing values
- 0 numerical missing values
- 0 non-numerical missing values
Imputation done -- CPU time: 0.08667111396789551 seconds


>>Classification task

Accuracy of LDA result for 10 cross-validation : 0.6487093153759821

Classification done -- CPU time: 0.017573118209838867 seconds
End Pipeline CPU time: 0.13915705680847168 seconds


Strategy# 10 : Greedy traversal for starting state Tree
Tree -> IQR -> LDA

Start pipeline
-------------

>>Outlier detection and removal:
* For train dataset
159 outlying rows have been removed
* For test dataset
62 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.031812191009521484 seconds


>>Classification task

Accuracy of LDA result for 10 cross-validation : 0.6912280701754386

Classification done -- CPU time: 0.017689943313598633 seconds
End Pipeline CPU time: 0.06208395957946777 seconds


Strategy# 11 : Greedy traversal for starting state ZSB
ZSB -> LDA

Start pipeline
-------------

>>Outlier detection and removal:
* For train dataset
0 outlying rows have been removed:
* For test dataset

/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

0 outlying rows have been removed:
Outlier detection and removal done -- CPU time: 0.03742480278015137 seconds


>>Classification task

Accuracy of LDA result for 10 cross-validation : 0.7002801120448179

Classification done -- CPU time: 0.018596887588500977 seconds
End Pipeline CPU time: 0.06345200538635254 seconds


Strategy# 12 : Greedy traversal for starting state LOF
LOF -> LDA

Start pipeline
-------------

>>Outlier detection and removal:
* For train dataset
LOF requires no missing values, so missing values have been removed using DROP.
60 outlying rows have been removed
* For test dataset
LOF requires no missing values, so missing values have been removed using DROP.
60 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.022199153900146484 seconds


>>Classification task

Accuracy of LDA result for 10 cross-validation : 0.7317073170731707

Classification done -- CPU time: 0.019717931747436523 seconds
End Pipeline CPU time: 0.04882979393005371 seconds


Strategy# 13 : Greedy traversal for starting state IQR
IQR -> LDA

Start pipeline
-------------

>>Outlier detection and removal:
* For train dataset
159 outlying rows have been removed
* For test dataset
62 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.03426384925842285 seconds


>>Classification task

Accuracy of LDA result for 10 cross-validation : 0.6912280701754386

Classification done -- CPU time: 0.01969623565673828 seconds
End Pipeline CPU time: 0.06175684928894043 seconds


Strategy# 14 : Greedy traversal for starting state CC
CC -> LOF -> LDA

Start pipeline
-------------
>>Consistency checking
* For train dataset
Constraints from the file: titanic_example_constraints.tdda
Constraints passing: 51

Constraints failing: 5

* For test dataset
Constraints from the file: titanic_example_constraints.tdda
Constraints passing: 47

Constraints failing: 9

Consistency checking done -- CPU time: 0.05825304985046387 seconds

>>Outlier detection and removal:
* For train dataset
LOF requires no missing values, so missing values have been removed using DROP.
60 outlying rows have been removed
* For test dataset
LOF requires no missing values, so missing values have been removed using DROP.
60 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.022368907928466797 seconds


>>Classification task

Accuracy of LDA result for 10 cross-validation : 0.7317073170731707

Classification done -- CPU time: 0.01831197738647461 seconds
End Pipeline CPU time: 0.11045598983764648 seconds


Strategy# 15 : Greedy traversal for starting state PC
PC -> ZSB -> LDA

Start pipeline
-------------
>>Consistency checking
* For train dataset
Number of pattern violations on variable ' Sex 'for pattern# 0 as '^[a-m]{2,3}$' : 891
No violation on variable ' Sex ' for pattern# 1 as '^[a-z]{4,6}$'
Number of pattern violations on variable ' Embarked 'for pattern# 0 as '^[Q|S]$' : 170
Number of pattern violations on variable ' Embarked 'for pattern# 1 as '^[Q|S]$' : 170
Number of pattern violations on variable ' Embarked 'for pattern# 2 as '^[Z|S]$' : 247
245
* For test dataset
Number of pattern violations on variable ' Sex 'for pattern# 0 as '^[a-m]{2,3}$' : 418
No violation on variable ' Sex ' for pattern# 1 as '^[a-z]{4,6}$'
Number of pattern violations on variable ' Embarked 'for pattern# 0 as '^[Q|S]$' : 102
Number of pattern violations on variable ' Embarked 'for pattern# 1 as '^[Q|S]$' : 102
Number of pattern violations on variable ' Embarked 'for pattern# 2 as '^[Z|S]$' : 148
148
Consistency checking done -- CPU time: 0.033538818359375 seconds

>>Outlier detection and removal:
* For train dataset
0 outlying rows have been removed:
* For test dataset
0 outlying rows have been removed:
Outlier detection and removal done -- CPU time: 0.014999151229858398 seconds


>>Classification task
Error: Need at least one continous variable and  10  observations for regression
Classification done -- CPU time: 0.0023338794708251953 seconds
End Pipeline CPU time: 0.06121706962585449 seconds


Strategy# 16 : Greedy traversal for starting state ED
ED -> KNN -> LDA

Start pipeline
-------------

>>Duplicate detection and removal:
* For train dataset
Metric is not considered for 'ED'.
To detect duplicates, rows with missing values are removed using DROP
Total number of rows: 891
Number of duplicated rows: 0
After deduplication: Number of rows: 891
* For test dataset
Metric is not considered for 'ED'.
To detect duplicates, rows with missing values are removed using DROP
Total number of rows: 418
Number of duplicated rows: 0
After deduplication: Number of rows: 418
Deduplication done -- CPU time: 0.03443002700805664 seconds

>>Imputation
* For train dataset
Before imputation:
No missing values in the given data
* For test dataset
Before imputation:
No missing values in the given data
Imputation done -- CPU time: 0.014500141143798828 seconds


>>Classification task

Accuracy of LDA result for 10 cross-validation : 0.6127946127946128

Classification done -- CPU time: 0.022833824157714844 seconds
End Pipeline CPU time: 0.08355307579040527 seconds


Strategy# 17 : Greedy traversal for starting state AD
AD -> ZS -> LOF -> LDA

Start pipeline
-------------

>>Duplicate detection and removal:
* For train dataset
Metric is not considered for 'ED'.

/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/.local/lib/python3.6/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

Number of duplicate rows removed: 0
* For test dataset
Metric is not considered for 'ED'.
Number of duplicate rows removed: 0
Deduplication done -- CPU time: 0.12124300003051758 seconds

>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.030086040496826172 seconds


>>Outlier detection and removal:
* For train dataset
LOF requires no missing values, so missing values have been removed using DROP.
60 outlying rows have been removed
* For test dataset
LOF requires no missing values, so missing values have been removed using DROP.
60 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.018805980682373047 seconds


>>Classification task

Accuracy of LDA result for 10 cross-validation : 0.6585365853658537

Classification done -- CPU time: 0.0157010555267334 seconds
End Pipeline CPU time: 0.20049405097961426 seconds

Start pipeline
-------------

>>Classification task

Accuracy of LDA result for 10 cross-validation : 0.7002801120448179

Classification done -- CPU time: 0.01841902732849121 seconds
End Pipeline CPU time: 0.02251887321472168 seconds

==== Recap ====

List of strategies tried by Learn2Clean:
['MICE -> LDA', 'EM -> MM -> IQR -> LDA', 'KNN -> LDA', 'MF -> LDA', 'DS -> IQR -> LDA', 'MM -> IQR -> LDA', 'ZS -> LOF -> LDA', 'MR -> DS -> IQR -> LDA', 'WR -> MF -> LDA', 'LC -> MF -> LDA', 'Tree -> IQR -> LDA', 'ZSB -> LDA', 'LOF -> LDA', 'IQR -> LDA', 'CC -> LOF -> LDA', 'PC -> ZSB -> LDA', 'ED -> KNN -> LDA', 'AD -> ZS -> LOF -> LDA']

List of corresponding quality metrics ****
 [{'quality_metric': 0.7014590347923682}, {'quality_metric': 0.6980920314253648}, {'quality_metric': 0.6161616161616161}, {'quality_metric': 0.7037037037037037}, {'quality_metric': 0.6918767507002801}, {'quality_metric': 0.7002801120448179}, {'quality_metric': 0.7398373983739838}, {'quality_metric': 0.6918767507002801}, {'quality_metric': 0.7002801120448179}, {'quality_metric': 0.6487093153759821}, {'quality_metric': 0.6912280701754386}, {'quality_metric': 0.7002801120448179}, {'quality_metric': 0.7317073170731707}, {'quality_metric': 0.6912280701754386}, {'quality_metric': 0.7317073170731707}, {'quality_metric': None}, {'quality_metric': 0.6127946127946128}, {'quality_metric': 0.6585365853658537}, {'quality_metric': 0.7002801120448179}]

Strategy ZS -> LOF -> LDA for maximal accuracy : 0.7398373983739838 for LDA

=== End of Learn2Clean - Pipeline execution -- CPU time: 2.67972993850708 seconds

**** Best strategy ****
('titanic_example', 'learn2clean', 'LDA', 'Survived', None, 'ZS -> LOF -> LDA', 'accuracy', 0.7398373983739838, 2.67972993850708)

/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

In [4]:
# Learn2clean finds the best strategy WR -> IQR -> NB for maximal accuracy : 0.7052631578947368 for NB
# in  2.96 seconds
# The best strategy is stored in EOF of 'titanic_example_results.txt' in 'save' directory as
# ('titanic_example', 'learn2clean', 'NB', 'Survived', None, 'Tree -> IQR -> NB', 'accuracy', 0.7052631578947368, 2.9261510372161865)

l2c_c1assification1=ql.Qlearner(dataset = dataset,goal='NB',target_goal='Survived',threshold = 0.6,target_prepare=None, file_name = 'titanic_example', verbose = False)
l2c_c1assification1.learn2clean()

Start Learn2Clean
Learn2Clean - Pipeline construction -- CPU time: 0.13705706596374512 seconds
=== Start Pipeline Execution ===


Strategy# 0 : Greedy traversal for starting state MICE
MICE -> NB

Start pipeline
-------------
>>Imputation
* For train dataset
Before imputation:
Total 866 missing values in ['Age', 'Cabin', 'Embarked']
- 177 numerical missing values in ['Age']
- 689 non-numerical missing values in ['Cabin', 'Embarked']
After imputation:
Total 689 missing values
- 0 numerical missing values
- 689 non-numerical missing values
* For test dataset
Before imputation:
Total 414 missing values in ['Age', 'Cabin', 'Fare']
- 87 numerical missing values in ['Age', 'Fare']
- 327 non-numerical missing values in ['Cabin']
After imputation:
Total 327 missing values
- 0 numerical missing values
- 327 non-numerical missing values
Imputation done -- CPU time: 0.09693217277526855 seconds


>>Classification task
Accuracy of Naive Naive Bayes classification for 10 cross-validation : 0.6767676767676768

Classification done -- CPU time: 0.0321040153503418 seconds
End Pipeline CPU time: 0.1375579833984375 seconds


Strategy# 1 : Greedy traversal for starting state EM
EM -> MM -> IQR -> NB

Start pipeline
-------------
>>Imputation
* For train dataset
Before imputation:
Total 866 missing values in ['Age', 'Cabin', 'Embarked']
- 177 numerical missing values in ['Age']
- 689 non-numerical missing values in ['Cabin', 'Embarked']
After imputation:
Total 689 missing values
- 0 numerical missing values
- 689 non-numerical missing values
* For test dataset
Before imputation:
Total 414 missing values in ['Age', 'Cabin', 'Fare']
- 87 numerical missing values in ['Age', 'Fare']
- 327 non-numerical missing values in ['Cabin']
After imputation:
Total 327 missing values
- 0 numerical missing values
- 327 non-numerical missing values
Imputation done -- CPU time: 0.18787574768066406 seconds

>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.029927968978881836 seconds


>>Outlier detection and removal:
* For train dataset
0 outlying rows have been removed
* For test dataset
0 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.022772789001464844 seconds


>>Classification task
Accuracy of Naive Naive Bayes classification for 10 cross-validation : 0.6734006734006734

Classification done -- CPU time: 0.029360055923461914 seconds
End Pipeline CPU time: 0.2852761745452881 seconds


Strategy# 2 : Greedy traversal for starting state KNN
KNN -> NB

Start pipeline
-------------
>>Imputation
* For train dataset
Before imputation:
Total 866 missing values in ['Age', 'Cabin', 'Embarked']
- 177 numerical missing values in ['Age']
- 689 non-numerical missing values in ['Cabin', 'Embarked']

/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")

After imputation:
Total 689 missing values
- 0 numerical missing values
- 689 non-numerical missing values
* For test dataset
Before imputation:
Total 414 missing values in ['Age', 'Cabin', 'Fare']
- 87 numerical missing values in ['Age', 'Fare']
- 327 non-numerical missing values in ['Cabin']
After imputation:
Total 327 missing values
- 0 numerical missing values
- 327 non-numerical missing values
Imputation done -- CPU time: 0.796605110168457 seconds

/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")
/Users/Laure/anaconda3/anaconda3/lib/python3.6/site-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")

>>Classification task
Accuracy of Naive Naive Bayes classification for 10 cross-validation : 0.5813692480359147

Classification done -- CPU time: 0.03131294250488281 seconds
End Pipeline CPU time: 0.8369858264923096 seconds


Strategy# 3 : Greedy traversal for starting state MF
MF -> NB

Start pipeline
-------------
>>Imputation
* For train dataset
Before imputation:
Total 866 missing values in ['Age', 'Cabin', 'Embarked']
- 177 numerical missing values in ['Age']
- 689 non-numerical missing values in ['Cabin', 'Embarked']
After imputation:
Total 0 missing values
- 0 numerical missing values
- 0 non-numerical missing values
* For test dataset
Before imputation:
Total 414 missing values in ['Age', 'Cabin', 'Fare']
- 87 numerical missing values in ['Age', 'Fare']
- 327 non-numerical missing values in ['Cabin']
After imputation:
Total 0 missing values
- 0 numerical missing values
- 0 non-numerical missing values
Imputation done -- CPU time: 0.09486579895019531 seconds


>>Classification task
Accuracy of Naive Naive Bayes classification for 10 cross-validation : 0.6722783389450057

Classification done -- CPU time: 0.03402113914489746 seconds
End Pipeline CPU time: 0.13645005226135254 seconds


Strategy# 4 : Greedy traversal for starting state DS
DS -> IQR -> NB

Start pipeline
-------------
>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.04644918441772461 seconds


>>Outlier detection and removal:
* For train dataset
177 outlying rows have been removed
* For test dataset
87 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.02735114097595215 seconds


>>Classification task
Accuracy of Naive Naive Bayes classification for 10 cross-validation : 0.6680672268907563

Classification done -- CPU time: 0.029088973999023438 seconds
End Pipeline CPU time: 0.11577510833740234 seconds


Strategy# 5 : Greedy traversal for starting state MM
MM -> IQR -> NB

Start pipeline
-------------
>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.02892017364501953 seconds


>>Outlier detection and removal:
* For train dataset
177 outlying rows have been removed
* For test dataset
87 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.027365922927856445 seconds


>>Classification task
Accuracy of Naive Naive Bayes classification for 10 cross-validation : 0.6708683473389355

Classification done -- CPU time: 0.028953075408935547 seconds
End Pipeline CPU time: 0.0966348648071289 seconds


Strategy# 6 : Greedy traversal for starting state ZS
ZS -> LOF -> NB

Start pipeline
-------------
>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.03268599510192871 seconds


>>Outlier detection and removal:
* For train dataset
LOF requires no missing values, so missing values have been removed using DROP.
60 outlying rows have been removed
* For test dataset
LOF requires no missing values, so missing values have been removed using DROP.
60 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.020756959915161133 seconds


>>Classification task
Accuracy of Naive Naive Bayes classification for 10 cross-validation : 0.6585365853658537

Classification done -- CPU time: 0.030221939086914062 seconds
End Pipeline CPU time: 0.09348607063293457 seconds


Strategy# 7 : Greedy traversal for starting state MR
MR -> DS -> IQR -> NB

Start pipeline
-------------

>>Feature selection
Before feature selection:
13 features
Apply MR feature selection with missing threshold= 0.3
1 features with greater than 0.30 missing values.

List of variables to be removed : ['Cabin']
After feature selection:
12 features remain
['New_ID', 'Name', 'Parch', 'Sex', 'Pclass', 'Embarked', 'PassengerId', 'Age', 'Ticket', 'row', 'Fare', 'SibSp']
Feature selection done -- CPU time: 0.006105899810791016 seconds

>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.03782987594604492 seconds


>>Outlier detection and removal:
* For train dataset
177 outlying rows have been removed
* For test dataset
87 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.023138046264648438 seconds


>>Classification task
Accuracy of Naive Naive Bayes classification for 10 cross-validation : 0.6680672268907563

Classification done -- CPU time: 0.027782201766967773 seconds
End Pipeline CPU time: 0.11172008514404297 seconds


Strategy# 8 : Greedy traversal for starting state WR
WR -> MF -> NB

Start pipeline
-------------

>>Feature selection
Before feature selection:
13 features
Warning: This strategy requires no missing values, so missing values have been removed applying DROP on the dataset.
Apply WR feature selection
Input variables must be non-negative. WR feature selection is only applied to positive variables.
After feature selection:
7 features remain
['New_ID', 'Parch', 'PassengerId', 'Age', 'Pclass', 'Fare', 'SibSp']
Feature selection done -- CPU time: 0.015136003494262695 seconds

>>Imputation
* For train dataset
Before imputation:
No missing values in the given data
* For test dataset
Before imputation:
Total 87 missing values in ['Age', 'Fare']
- 87 numerical missing values in ['Age', 'Fare']
After imputation:
Total 0 missing values
- 0 numerical missing values
- 0.0 non-numerical missing values
Imputation done -- CPU time: 0.03452801704406738 seconds


>>Classification task
Accuracy of Naive Naive Bayes classification for 10 cross-validation : 0.6708683473389355

Classification done -- CPU time: 0.03441500663757324 seconds
End Pipeline CPU time: 0.09575510025024414 seconds


Strategy# 9 : Greedy traversal for starting state LC
LC -> MF -> NB

Start pipeline
-------------

>>Feature selection
Before feature selection:
13 features
Apply LC feature selection with threshold= 0.3
3 features with linear correlation greater than 0.30.

List of correlated variables to be removed : ['Pclass', 'SibSp', 'New_ID']
After feature selection:
10 features remain
['Cabin', 'Name', 'Parch', 'Sex', 'Embarked', 'PassengerId', 'Age', 'Ticket', 'row', 'Fare']
Feature selection done -- CPU time: 0.01921820640563965 seconds

>>Imputation
* For train dataset
Before imputation:
Total 866 missing values in ['Age', 'Cabin', 'Embarked']
- 177 numerical missing values in ['Age']
- 689 non-numerical missing values in ['Cabin', 'Embarked']
After imputation:
Total 0 missing values
- 0 numerical missing values
- 0 non-numerical missing values
* For test dataset
Before imputation:
Total 414 missing values in ['Cabin', 'Age', 'Fare']
- 87 numerical missing values in ['Age', 'Fare']
- 327 non-numerical missing values in ['Cabin']
After imputation:
Total 0 missing values
- 0 numerical missing values
- 0 non-numerical missing values
Imputation done -- CPU time: 0.08190703392028809 seconds


>>Classification task
Accuracy of Naive Naive Bayes classification for 10 cross-validation : 0.6677890011223344

Classification done -- CPU time: 0.03490018844604492 seconds
End Pipeline CPU time: 0.14860820770263672 seconds


Strategy# 10 : Greedy traversal for starting state Tree
Tree -> IQR -> NB

Start pipeline
-------------

>>Outlier detection and removal:
* For train dataset
159 outlying rows have been removed
* For test dataset
62 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.03393721580505371 seconds


>>Classification task
Accuracy of Naive Naive Bayes classification for 10 cross-validation : 0.7052631578947368

Classification done -- CPU time: 0.0352320671081543 seconds
End Pipeline CPU time: 0.08119082450866699 seconds


Strategy# 11 : Greedy traversal for starting state ZSB
ZSB -> NB

Start pipeline
-------------

>>Outlier detection and removal:
* For train dataset
0 outlying rows have been removed:
* For test dataset
0 outlying rows have been removed:
Outlier detection and removal done -- CPU time: 0.03577613830566406 seconds


>>Classification task
Accuracy of Naive Naive Bayes classification for 10 cross-validation : 0.6708683473389355

Classification done -- CPU time: 0.03692173957824707 seconds
End Pipeline CPU time: 0.08146810531616211 seconds


Strategy# 12 : Greedy traversal for starting state LOF
LOF -> NB

Start pipeline
-------------

>>Outlier detection and removal:
* For train dataset
LOF requires no missing values, so missing values have been removed using DROP.
60 outlying rows have been removed
* For test dataset
LOF requires no missing values, so missing values have been removed using DROP.
60 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.02280402183532715 seconds


>>Classification task

/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)

Accuracy of Naive Naive Bayes classification for 10 cross-validation : 0.6747967479674797

Classification done -- CPU time: 0.04029703140258789 seconds
End Pipeline CPU time: 0.07034015655517578 seconds


Strategy# 13 : Greedy traversal for starting state IQR
IQR -> NB

Start pipeline
-------------

>>Outlier detection and removal:
* For train dataset
159 outlying rows have been removed
* For test dataset
62 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.034117937088012695 seconds


>>Classification task
Accuracy of Naive Naive Bayes classification for 10 cross-validation : 0.7052631578947368

Classification done -- CPU time: 0.036270856857299805 seconds
End Pipeline CPU time: 0.07789993286132812 seconds


Strategy# 14 : Greedy traversal for starting state CC
CC -> LOF -> NB

Start pipeline
-------------
>>Consistency checking
* For train dataset
Constraints from the file: titanic_example_constraints.tdda
Constraints passing: 51

Constraints failing: 5

* For test dataset
Constraints from the file: titanic_example_constraints.tdda
Constraints passing: 47

Constraints failing: 9

Consistency checking done -- CPU time: 0.057296037673950195 seconds

>>Outlier detection and removal:
* For train dataset
LOF requires no missing values, so missing values have been removed using DROP.
60 outlying rows have been removed
* For test dataset
LOF requires no missing values, so missing values have been removed using DROP.
60 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.021456003189086914 seconds


>>Classification task
Accuracy of Naive Naive Bayes classification for 10 cross-validation : 0.6747967479674797

Classification done -- CPU time: 0.03267312049865723 seconds
End Pipeline CPU time: 0.12237095832824707 seconds


Strategy# 15 : Greedy traversal for starting state PC
PC -> ZSB -> NB

Start pipeline
-------------
>>Consistency checking
* For train dataset
Number of pattern violations on variable ' Sex 'for pattern# 0 as '^[a-m]{2,3}$' : 891
No violation on variable ' Sex ' for pattern# 1 as '^[a-z]{4,6}$'
Number of pattern violations on variable ' Embarked 'for pattern# 0 as '^[Q|S]$' : 170
Number of pattern violations on variable ' Embarked 'for pattern# 1 as '^[Q|S]$' : 170
Number of pattern violations on variable ' Embarked 'for pattern# 2 as '^[Z|S]$' : 247
245
* For test dataset
Number of pattern violations on variable ' Sex 'for pattern# 0 as '^[a-m]{2,3}$' : 418
No violation on variable ' Sex ' for pattern# 1 as '^[a-z]{4,6}$'
Number of pattern violations on variable ' Embarked 'for pattern# 0 as '^[Q|S]$' : 102
Number of pattern violations on variable ' Embarked 'for pattern# 1 as '^[Q|S]$' : 102
Number of pattern violations on variable ' Embarked 'for pattern# 2 as '^[Z|S]$' : 148
148
Consistency checking done -- CPU time: 0.03300213813781738 seconds

>>Outlier detection and removal:
* For train dataset
0 outlying rows have been removed:
* For test dataset
0 outlying rows have been removed:
Outlier detection and removal done -- CPU time: 0.01564335823059082 seconds


>>Classification task
Error: Need at least one continous variable and  10  observations for regression
Classification done -- CPU time: 0.002316713333129883 seconds
End Pipeline CPU time: 0.06266403198242188 seconds


Strategy# 16 : Greedy traversal for starting state ED
ED -> KNN -> NB

Start pipeline
-------------

>>Duplicate detection and removal:
* For train dataset
Metric is not considered for 'ED'.
To detect duplicates, rows with missing values are removed using DROP
Total number of rows: 891
Number of duplicated rows: 0
After deduplication: Number of rows: 891
* For test dataset
Metric is not considered for 'ED'.
To detect duplicates, rows with missing values are removed using DROP
Total number of rows: 418
Number of duplicated rows: 0
After deduplication: Number of rows: 418
Deduplication done -- CPU time: 0.03474593162536621 seconds

>>Imputation
* For train dataset
Before imputation:
No missing values in the given data
* For test dataset
Before imputation:
No missing values in the given data
Imputation done -- CPU time: 0.015358924865722656 seconds


>>Classification task
Accuracy of Naive Naive Bayes classification for 10 cross-validation : 0.6127946127946128

Classification done -- CPU time: 0.04173612594604492 seconds
End Pipeline CPU time: 0.1039571762084961 seconds


Strategy# 17 : Greedy traversal for starting state AD
AD -> ZS -> LOF -> NB

Start pipeline
-------------

>>Duplicate detection and removal:
* For train dataset
Metric is not considered for 'ED'.

/Users/Laure/.local/lib/python3.6/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

Number of duplicate rows removed: 0
* For test dataset
Metric is not considered for 'ED'.
Number of duplicate rows removed: 0
Deduplication done -- CPU time: 0.12542319297790527 seconds

>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.028620004653930664 seconds


>>Outlier detection and removal:
* For train dataset
LOF requires no missing values, so missing values have been removed using DROP.
60 outlying rows have been removed
* For test dataset
LOF requires no missing values, so missing values have been removed using DROP.
60 outlying rows have been removed
Outlier detection and removal done -- CPU time: 0.020748138427734375 seconds


>>Classification task
Accuracy of Naive Naive Bayes classification for 10 cross-validation : 0.6260162601626016

Classification done -- CPU time: 0.02990579605102539 seconds
End Pipeline CPU time: 0.21939778327941895 seconds

Start pipeline
-------------

>>Classification task
Accuracy of Naive Naive Bayes classification for 10 cross-validation : 0.6708683473389355

Classification done -- CPU time: 0.03898501396179199 seconds
End Pipeline CPU time: 0.04347991943359375 seconds

==== Recap ====

List of strategies tried by Learn2Clean:
['MICE -> NB', 'EM -> MM -> IQR -> NB', 'KNN -> NB', 'MF -> NB', 'DS -> IQR -> NB', 'MM -> IQR -> NB', 'ZS -> LOF -> NB', 'MR -> DS -> IQR -> NB', 'WR -> MF -> NB', 'LC -> MF -> NB', 'Tree -> IQR -> NB', 'ZSB -> NB', 'LOF -> NB', 'IQR -> NB', 'CC -> LOF -> NB', 'PC -> ZSB -> NB', 'ED -> KNN -> NB', 'AD -> ZS -> LOF -> NB']

List of corresponding quality metrics ****
 [{'quality_metric': 0.6767676767676768}, {'quality_metric': 0.6734006734006734}, {'quality_metric': 0.5813692480359147}, {'quality_metric': 0.6722783389450057}, {'quality_metric': 0.6680672268907563}, {'quality_metric': 0.6708683473389355}, {'quality_metric': 0.6585365853658537}, {'quality_metric': 0.6680672268907563}, {'quality_metric': 0.6708683473389355}, {'quality_metric': 0.6677890011223344}, {'quality_metric': 0.7052631578947368}, {'quality_metric': 0.6708683473389355}, {'quality_metric': 0.6747967479674797}, {'quality_metric': 0.7052631578947368}, {'quality_metric': 0.6747967479674797}, {'quality_metric': None}, {'quality_metric': 0.6127946127946128}, {'quality_metric': 0.6260162601626016}, {'quality_metric': 0.6708683473389355}]

Strategy Tree -> IQR -> NB for maximal accuracy : 0.7052631578947368 for NB

=== End of Learn2Clean - Pipeline execution -- CPU time: 2.9261510372161865 seconds

**** Best strategy ****
('titanic_example', 'learn2clean', 'NB', 'Survived', None, 'Tree -> IQR -> NB', 'accuracy', 0.7052631578947368, 2.9261510372161865)

## Random data preprocessing pipelines

In [11]:
import learn2clean.loading.reader as rd 
import learn2clean.qlearning.qlearner as ql

titanic = ["../datasets/titanic/titanic_train.csv","../datasets/titanic/test.csv"]
hr=rd.Reader(sep=',',verbose=False, encoding=False) 
dataset=hr.train_test_split(titanic, 'Survived')


# random preprocessing pipeline for classification ; 
# the results of random cleaning are stored in 'titanic_example'_results_file.txt in 'save' directory
# appended to the EOF but random cleaning may raise errors and have no result

#random preprocessing pipeline for CART classification
random1=ql.Qlearner(dataset = dataset,goal='CART',target_goal='Survived',target_prepare=None, verbose = False)
random1.random_cleaning('titanic_example')

#random preprocessing pipeline for LDA classification
random2=ql.Qlearner(dataset,goal='LDA',target_goal='Survived',target_prepare=None, verbose = True)
random2.random_cleaning('titanic_example')

#random preprocessing pipeline for NB classification
random3=ql.Qlearner(dataset,goal='NB',target_goal='Survived', threshold=0.6, target_prepare=None, verbose = False)
random3.random_cleaning('titanic_example')

--------------------------
Random cleaning strategy:
 MM -> LC -> ZSB -> CART
--------------------------

Start pipeline
-------------
>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.02590799331665039 seconds


>>Feature selection
Before feature selection:
11 features
Apply LC feature selection with threshold= 0.3
3 features with linear correlation greater than 0.30.

List of correlated variables to be removed : ['PassengerId', 'Pclass', 'SibSp']
After feature selection:
8 features remain
['Cabin', 'Name', 'Parch', 'Sex', 'Embarked', 'Age', 'Ticket', 'Fare']
Feature selection done -- CPU time: 0.016934871673583984 seconds


>>Outlier detection and removal:
* For train dataset
0 outlying rows have been removed:
* For test dataset
0 outlying rows have been removed:
Outlier detection and removal done -- CPU time: 0.022260189056396484 seconds


>>Classification task

/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/Laure/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)

Avg accuracy of CART classification for 10 cross-validation : 0.6876750700280112

Classification done -- CPU time: 11.214827060699463 seconds
End Pipeline CPU time: 11.296580791473389 seconds
('titanic_example', 'random', 'CART', 'Survived', None, 'MM -> LC -> ZSB -> CART', 'accuracy', ({'quality_metric': 0.6876750700280112}, 11.296579837799072))


--------------------------
Random cleaning strategy:
 MICE -> WR -> ZSB -> ED -> LDA
--------------------------

Start pipeline
-------------
>>Imputation
* For train dataset
Before imputation:
Total 866 missing values in ['Age', 'Cabin', 'Embarked']
- 177 numerical missing values in ['Age']
- 689 non-numerical missing values in ['Cabin', 'Embarked']
After imputation:
Total 689 missing values
- 0 numerical missing values
- 689 non-numerical missing values
* For test dataset
Before imputation:
Total 414 missing values in ['Age', 'Cabin', 'Fare']
- 87 numerical missing values in ['Age', 'Fare']
- 327 non-numerical missing values in ['Cabin']
After imputation:
Total 327 missing values
- 0 numerical missing values
- 327 non-numerical missing values
Imputation done -- CPU time: 0.09569311141967773 seconds


>>Feature selection
Before feature selection:
11 features
Apply WR feature selection
Input variables must be non-negative. WR feature selection is only applied to positive variables.
Best features to keep ['Age', 'Fare', 'Parch', 'PassengerId', 'Pclass', 'SibSp']
After feature selection:
6 features remain
['Parch', 'PassengerId', 'Age', 'Pclass', 'Fare', 'SibSp']
Feature selection done -- CPU time: 0.012602090835571289 seconds


>>Outlier detection and removal:
* For train dataset
0 outlying rows have been removed:
* For test dataset
0 outlying rows have been removed:
Outlier detection and removal done -- CPU time: 0.023391008377075195 seconds


>>Duplicate detection and removal:
* For train dataset
Metric is not considered for 'ED'.
Duplicates: Empty DataFrame
Columns: [Age, Fare, Parch, PassengerId, Pclass, SibSp, count]
Index: []
Total number of rows: 891
Number of duplicated rows: 0
After deduplication: Number of rows: 891
* For test dataset
Metric is not considered for 'ED'.
Duplicates: Empty DataFrame
Columns: [Parch, PassengerId, Age, Pclass, Fare, SibSp, count]
Index: []
Total number of rows: 418
Number of duplicated rows: 0
After deduplication: Number of rows: 418
Deduplication done -- CPU time: 0.019173145294189453 seconds


>>Classification task
{'mean_fit_time': array([0.00180399]), 'std_fit_time': array([0.00024092]), 'mean_score_time': array([0.00035369]), 'std_score_time': array([7.1644783e-05]), 'params': [{}], 'split0_test_score': array([0.61659193]), 'split1_test_score': array([0.61348315]), 'mean_test_score': array([0.61503928]), 'std_test_score': array([0.00155439]), 'rank_test_score': array([1], dtype=int32), 'split0_train_score': array([0.61573034]), 'split1_train_score': array([0.62331839]), 'mean_train_score': array([0.61952436]), 'std_train_score': array([0.00379402])}

Accuracy of LDA result for 10 cross-validation : 0.6150392817059483

Classification done -- CPU time: 0.018697023391723633 seconds
End Pipeline CPU time: 0.18587899208068848 seconds
('titanic_example', 'random', 'LDA', 'Survived', None, 'MICE -> WR -> ZSB -> ED -> LDA', 'accuracy', ({'quality_metric': 0.6150392817059483}, 0.18587803840637207))


--------------------------
Random cleaning strategy:
 MICE -> ZS -> Tree -> NB
--------------------------

Start pipeline
-------------
>>Imputation
* For train dataset
Before imputation:
Total 866 missing values in ['Age', 'Cabin', 'Embarked']
- 177 numerical missing values in ['Age']
- 689 non-numerical missing values in ['Cabin', 'Embarked']
After imputation:
Total 689 missing values
- 0 numerical missing values
- 689 non-numerical missing values
* For test dataset
Before imputation:
Total 414 missing values in ['Age', 'Cabin', 'Fare']
- 87 numerical missing values in ['Age', 'Fare']
- 327 non-numerical missing values in ['Cabin']
After imputation:
Total 327 missing values
- 0 numerical missing values
- 327 non-numerical missing values
Imputation done -- CPU time: 0.09999203681945801 seconds

>>Normalization
* For train dataset
... train dataset
* For test dataset
... test dataset
Normalization done -- CPU time: 0.028235197067260742 seconds


>>Classification task
Accuracy of Naive Naive Bayes classification for 10 cross-validation : 0.6801346801346801

Classification done -- CPU time: 0.032572031021118164 seconds
End Pipeline CPU time: 0.17720389366149902 seconds
('titanic_example', 'random', 'NB', 'Survived', None, 'MICE -> ZS -> Tree -> NB', 'accuracy', ({'quality_metric': 0.6801346801346801}, 0.17720293998718262))

{'quality_metric': 0.6801346801346801}

In [13]:
# no preprocessing: results appended to the EOF 'titanic_example'_results.txt 


no_prep1=ql.Qlearner(dataset = dataset,goal='CART',target_goal='Survived',target_prepare=None, verbose = False)
no_prep1.no_prep('titanic_example')

no_prep2=ql.Qlearner(dataset = dataset,goal='LDA',target_goal='Survived',target_prepare=None, verbose = False)
no_prep2.no_prep('titanic_example')

no_prep3=ql.Qlearner(dataset = dataset,goal='NB',target_goal='Survived',target_prepare=None, verbose = False)
no_prep3.no_prep('titanic_example')

Start pipeline
-------------

>>Classification task
Avg accuracy of CART classification for 10 cross-validation : 0.7016806722689075

Classification done -- CPU time: 14.213786125183105 seconds
End Pipeline CPU time: 14.218555212020874 seconds

Start pipeline
-------------

>>Classification task

Accuracy of LDA result for 10 cross-validation : 0.7002801120448179

Classification done -- CPU time: 0.01483607292175293 seconds
End Pipeline CPU time: 0.018539905548095703 seconds

Start pipeline
-------------

>>Classification task
Accuracy of Naive Naive Bayes classification for 10 cross-validation : 0.6680672268907563

Classification done -- CPU time: 0.030712127685546875 seconds
End Pipeline CPU time: 0.03400993347167969 seconds